


/* ambassadorInfo */

.ambassadorInfo{
    background: radial-gradient(98.31% 100% at 0% 0%, #FFFFFF 0%, #CBE0FF 100%);
    box-shadow: inset 0 -15px 15px rgba(203, 210, 221, 0.75);
    width: 100%;
    min-height: 659px;
    padding: 120px 0 101px;
    position: relative;
}

.ambassadorInfo_row{
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 4px 15px #CBD2DD, 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    max-width:  1010px;
    margin: auto;
    z-index: 20;
    max-height: 438px;
}


.ambassadorInfo_row_img{
    width: 90%;
    max-width: 530px;
    position: absolute;
    left: -213px;
    bottom: 0;
}
.ambassadorInfo_row_text{
    width: 60%;
    padding: 45px 61px 60px;

}
.ambassadorInfo_row_text_h2{
    font-family: "Futura Md BT",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #0050C9;
    padding: 0 0 30px;
}
.ambassadorInfo_row_text_p{
    font-family: Lato,sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #06338B;
}
.ambassadorInfo_row_text_p span{
    color: #F26A08;
    font-weight: bold;
}
.ambassadorInfo_row_text_p:last-child{
    margin-top: 40px;
}



/* cross global */

.triangle_left_bg{
    position: absolute;
    top: 91px;
    left: 75px;
    width: 133px;

    animation: device_bg 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}

.triangle_right_bg{
    width: 133px;
    top: 120px;
    right: 146px;
    position: absolute;
    animation: device_bg_4 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}

.cross_bg{
    position: absolute;
    z-index: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.cross_bg_adBf{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.cross_bg_adBf:before,.cross_bg_adBf:after{
    background-color: #FFFFFF;
    position: absolute;
    content: "";
    width: 100%;
    height: 25%;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translateY(-50%) translateX(-50%) rotate(-45grad);
}
.cross_bg_adBf:after{
    transform: translateY(-50%) translateX(-50%) rotate(45grad);
}

.circle_bg{
    position: absolute;
    z-index: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: #fff;
}
/* /cross global */

.cross_left1{
    width: 23px;
    height: 23px;
    left: 112px;
    bottom: 317px;
}
.cross_left2{
    width: 34px;
    height: 34px;
    left: 52px;
    bottom: 253px;
}
.cross_left3{
    left: 91px;
    bottom: 123px;
    height: 65px;
    width: 65px;
}
.circle_left_1{
    width: 183px;
    height: 183px;
    left: 277px;
    bottom: 22px;
}
/* right */
.cross_right1{
    height: 22px;
    width: 22px;
    right: 195px;
    bottom: 273px;
}
.cross_right2{
    height: 34px;
    width: 34px;
    right: 218px;
    bottom: 196px;
}
.cross_right3{
    height: 64px;
    width: 64px;
    right: 100px;
    bottom: 98px;
}
.circle_right_1{
    height: 90px;
    width: 90px;
    right: 343px;
    top: 88px;
}

/* /ambassadorInfo */


.ambassadorPeople{
    padding: 50px 0 60px;
    background: #E5E5E5;
    min-height: 100vh;
}
.ambassadorPeople .container{
    max-width: 1840px;
    margin: auto;
    width: 95%;
}
.ambassadorPeople_h1{
    margin-bottom: 50px;
    font-family: "Futura Md BT", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #0050C9;
}
.ambassadorPeople_form{
    min-height: 185px;
    margin: auto;
    width: 100%;
    background-position: center;
    max-width: 1319px;
    background-image: url(./../img/ambassadors/bg_form.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 65px;
}

/* global */
.ambassadorPeople_form_inputSearch{
    margin-right: 92px;
    position: relative;
}
/* /global */

.ambassadorPeople_form_people{
    display: flex;
    align-items: center;
}
.ambassadorPeople_form_people_search{
    width: 24px;
    margin-right: 30px;
}
.ambassadorPeople_input{
    border: none;
    background-color: rgba(0,0,0,0);
    max-width: 400px;
    width: 400px;
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #6B7E91;
}




.ambassadorPeople_del{
    position: relative;
    width: 12px;
    height: 12px;
}
.ambassadorPeople_del:after,.ambassadorPeople_del:before{
    transition: background-color .7s;
    left: 50%;
    top: 50%;
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #6B7E91;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.ambassadorPeople_del:before{
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.ambassadorPeople_del:hover:after,.ambassadorPeople_del:hover:before{
    background-color: #ff0000;
    cursor: pointer;
}
.ambassadorPeople_form_quickSearchDiv{
    display: none;
    position: absolute;
    padding: 10px 0 0 12px;
    width: 100%;
    max-height: 433px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px #CBD2DD, 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 50vh;
    top: 100%;
    border-radius: 5px;
    margin-top: 30px;
}
.ambassadorPeople_form_quickSearch{
    overflow-y: scroll;
    height: 100%;
}
.ambassadorPeople_form_quickSearch::-webkit-scrollbar {
    width: 6px;

}

.ambassadorPeople_form_quickSearch::-webkit-scrollbar-thumb {
    background: #B7CBDE;
    border-radius: 5px;
}
.ambassadorPeople_form_quickSearch li{
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #444444;
    margin-bottom: 10px;
}
.ambassadorPeople_form_quickSearch li:hover{
    color: #0050C9;
    font-weight: 900;
}

/* ambassadorPeople_form_country */

.ambassadorPeople_form_country{
    position: relative;
    border-left: 1px solid #768295;
    cursor: pointer;

}
.ambassadorPeople_form_country_a{
    display: flex;
    align-items: flex-end;
    padding:  0 31px;
    cursor: pointer;
}
.ambassadorPeople_form_country_a span{
    cursor: pointer;
}
.ambassadorPeople_form_country_a_text{
    font-family: Lato,sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 103%;
    /* identical to box height, or 19px */
    color: #444444;
    margin-right: 10px;
}
.ambassadorPeople_form_country_a_down{
    margin-bottom: 2px;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 11px;
}
.ambassadorPeople_form_country_a_down:after, .ambassadorPeople_form_country_a_down:before{
    position: absolute;
    content: "";
    width: 9px;
    height: 2px;
    top: 50%;
    background: #6B7E91;
}
.ambassadorPeople_form_country_a_down:after{
    transform: translateY(-50%) rotate(45deg);
    left: 0;
}
.ambassadorPeople_form_country_a_down:before{
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
}
/* /ambassadorPeople_form_country */

.ambassadorPeople_form_country_a:hover .ambassadorPeople_form_country_a_down:after, .ambassadorPeople_form_country_a:hover .ambassadorPeople_form_country_a_down:before{
    background-color: #0050C9;
}




.searchButton{
    background: #0066FF;
    border-radius: 5px;
    padding: 20px 52px;
    position: relative;
    top: -20px;
    cursor: pointer;
}






/* ambassadorPeople_info */

.ambassadorPeople_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ambassadorPeople_item{
    background: #FFFFFF;
    box-shadow: 0 4px 15px #CBD2DD, 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-width: 445px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.ambassadorPeople_item_photo{
    position: relative;
    background: #FAFAFA;
    box-shadow: 0px 4px 15px #CBD2DD, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-bottom: 10px;
}
.ambassadorPeople_item_photo_container{
    width: 314px;
    margin: auto;
    text-align: center;
}
.ambassadorPeople_item_photo_container_img{
    max-width: 100%;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-radius: 5px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%);
    z-index: 20;
    position: relative;
}
.ambassadorPeople_item_photo_container:before, .ambassadorPeople_item_photo_container:after{
    width: 131px;
    height: 113px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%);
    position: absolute;
    z-index: 1;
    content: "";
    left: 0;
}
.ambassadorPeople_item_photo_container:before{
    top: 92px;
}
.ambassadorPeople_item_photo_container:after{
    top: 207px;
}

.ambassadorPeople_item_photo_container_name{
    font-family: Lato,sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    color: #F26A08;
    margin: 30px auto 10px;
}
.ambassadorPeople_item_photo_container_phone{
    font-family: Lato,sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}


.ambassadorPeople_item_photo_container_name:before, .ambassadorPeople_item_photo_container_name:after{
    width: 131px;
    height: 113px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%);
    position: absolute;
    z-index: 1;
    content: "";
    right: 0;
}


.ambassadorPeople_item_photo_container_name:before{
    top: 92px;
}
.ambassadorPeople_item_photo_container_name:after{
    top: 207px;
}



.ambassadorPeople_item_footer_info{
    background: linear-gradient(180deg, rgba(210, 227, 253, 0) 0%, #D9E8FE 100%);
    border-radius: 0 0 15px 15px;
    padding: 25px 15px 20px 30px;
    max-width: 357px;
    width: 100%;
    margin: 0 auto 20px;
}

.ambassadorPeople_item_footer_info_text_center{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #6B7E91;
}
.ambassadorPeople_item_footer_info_text_right{
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    color: #5C7287;
}
.ambassadorPeople_item_footer_info_grid_4 img{
    width: 31px;
}
.ambassadorPeople_item_footer_info_grid_7{
    color: #6B7E91;
}


.ambassadorPeople_item_footer_network{
    max-width: 357px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ambassadorPeople_item_footer_network_a{
    width: 32px;
    height: 32px;
    padding: 0 10px;
}
.ambassadorPeople_item_but{
    display: inline-block;
    margin: 20px auto;
    padding: 16px 130px;
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #0066FF;
    border-radius: 15px;
}





/* grid */

.ambassadorPeople_item_footer_info{
    display: grid;
    grid-template-columns: .5fr 2fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}
.ambassadorPeople_item_footer_info_grid_1 { grid-area: 1 / 1 / 2 / 2; }
.ambassadorPeople_item_footer_info_grid_2 { grid-area: 1 / 2 / 2 / 3; }
.ambassadorPeople_item_footer_info_grid_3 { grid-area: 1 / 3 / 2 / 4; }
.ambassadorPeople_item_footer_info_grid_4 { grid-area: 2 / 1 / 3 / 2; }
.ambassadorPeople_item_footer_info_grid_5 { grid-area: 2 / 2 / 3 / 3; }
.ambassadorPeople_item_footer_info_grid_6 { grid-area: 2 / 3 / 3 / 4; }
.ambassadorPeople_item_footer_info_grid_7 { grid-area: 3 / 1 / 4 / 2; }
.ambassadorPeople_item_footer_info_grid_8 { grid-area: 3 / 2 / 4 / 3; }
.ambassadorPeople_item_footer_info_grid_9 { grid-area: 3 / 3 / 4 / 4; }

.ambassadorPeople_item_footer_info > div{
    align-self: center;
}
.ambassadorPeople_item_footer_info_grid_7{
    justify-self: center;
}
.ambassadorPeople_item_footer_info_grid_2{
}

/* /grid */










/* color ambassador */

/* TOP_Ambassador */

.TOP_Ambassador .ambassadorPeople_item_photo_container_img{
    border-bottom-color: #0066FF;
}
.TOP_Ambassador  .ambassadorPeople_item_photo_container_name:before,.TOP_Ambassador .ambassadorPeople_item_photo_container_name:after,
.TOP_Ambassador .ambassadorPeople_item_photo_container:before, .TOP_Ambassador .ambassadorPeople_item_photo_container:after{
    background: #D2E3FD;
}
.TOP_Ambassador .ambassadorPeople_item_footer_info_grid_1 path{
    fill: #0EA0DE;

}
.TOP_Ambassador .ambassadorPeople_item_footer_network a{
    color: #0066FF;
}
.TOP_Ambassador .ambassadorPeople_item_but{
    background: #0066FF;
}

/* /TOP_Ambassador */

/* Ambassador */

.Ambassador .ambassadorPeople_item_photo_container_img{
    border-bottom-color: #00A100;
}
.Ambassador  .ambassadorPeople_item_photo_container_name:before,.Ambassador .ambassadorPeople_item_photo_container_name:after,
.Ambassador .ambassadorPeople_item_photo_container:before, .Ambassador .ambassadorPeople_item_photo_container:after{
    background: #CEE4CE;
}
.Ambassador .ambassadorPeople_item_footer_info_grid_1 path{
    fill: #00A100;

}
.Ambassador .ambassadorPeople_item_footer_network a{
    color: #00A100;
}
.Ambassador .ambassadorPeople_item_but{
    background: #00A100;
}

/* /Ambassador */

/* Regional_Ambassador */

.Regional_Ambassador .ambassadorPeople_item_photo_container_img{
    border-bottom-color: #5064C8;
}
.Regional_Ambassador  .ambassadorPeople_item_photo_container_name:before,.Regional_Ambassador .ambassadorPeople_item_photo_container_name:after,
.Regional_Ambassador .ambassadorPeople_item_photo_container:before, .Regional_Ambassador .ambassadorPeople_item_photo_container:after{
    background: #CECADB;
}
.Regional_Ambassador .ambassadorPeople_item_footer_info_grid_1 path{
    fill: #5064C8;

}
.Regional_Ambassador .ambassadorPeople_item_footer_network a{
    color: #5064C8;
}
.Regional_Ambassador .ambassadorPeople_item_but{
    background: #5064C8;
}

/* /Regional_Ambassador */

/* International_Ambassador */

.International_Ambassador .ambassadorPeople_item_photo_container_img{
    border-bottom-color: #F78C1C;
}
.International_Ambassador  .ambassadorPeople_item_photo_container_name:before, .International_Ambassador .ambassadorPeople_item_photo_container_name:after,
.International_Ambassador .ambassadorPeople_item_photo_container:before, .International_Ambassador .ambassadorPeople_item_photo_container:after{
    background: #FFDFC7;
}
.International_Ambassador .ambassadorPeople_item_footer_info_grid_1 path{
    fill: #F78C1C;

}
.International_Ambassador .ambassadorPeople_item_footer_network a{
    color: #F78C1C;
}
.International_Ambassador .ambassadorPeople_item_but{
    background: #F78C1C;
}

/* /International Ambassador */

/* Boards */

.Boards .ambassadorPeople_item_photo_container_img{
    border-bottom-color: #F20001;
}
.Boards  .ambassadorPeople_item_photo_container_name:before, .Boards .ambassadorPeople_item_photo_container_name:after,
.Boards .ambassadorPeople_item_photo_container:before, .Boards .ambassadorPeople_item_photo_container:after{
    background: #EFD4CE;
}
.Boards .ambassadorPeople_item_footer_info_grid_1 path{
    fill: #F20001;

}
.Boards .ambassadorPeople_item_footer_network a{
    color: #F20001;
}
.Boards .ambassadorPeople_item_but{
    background: #F20001;
}


/* /Boards */

/* /color ambassador */


/* /ambassadorPeople_info */