/* home */
.promoContent_info__up img{
	width: 450px;
	margin-bottom: 30px;
}
.promoContent_info__up{
	text-align: left;
	padding-bottom: 18%;
}
/* /home */

/* dream */
.video{
	background: #666;
	width: 450px;
	height: 20px;
}
.dream_row_right{
	max-width: 450px;
}
.dream{
	display: flex;
	max-width: 1600px;
	justify-content: center;
	margin: 0 auto;
	padding: 120px 0;
}
.dream_row{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.dream_row__left-head{
	font-family: 'Futura Md BT', sans-serif;
	color: #0050C9;
	font-size: 48px;
	max-width: 450px;
}
.dream_row__left-content{
	height: 400px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 50px;
}
.dream_content-element{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	position: relative;
	display: flex;
	max-width: 440px;
}
.dream_content-element__img{
	background: #0A4DB4;
	max-width: 50px;
	height: 80px;
	margin-left: 20px;
	border-radius: 0px 0px 7px 7px;
	display: flex;
    justify-content: center;
	align-items: center;
	padding: 20px;
}
.vertHr{
	width: 1px;
    height: 100%;
    background: #0A4DB4;
    position: absolute;
    top: 0;
    left: 44.5px;
    z-index: -1;
}
.dream_content-element:last-child img{
	width: 34px;
}
.dream_content-element__img img{
	width: 28px;
}
.vertDot{
	height: 50px;
	position: absolute;
	right: 20px;
	top: 50%;
    transform: translateY(-50%);
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vertDot .green{
	width: 10px;
	height: 10px;
	background: #B0DCBC;
	border-radius: 50%;
}
.vertDot .blue{
	width: 10px;
	height: 10px;
	background: #B1BCE3;
	border-radius: 50%;
}
.vertDot .red{
	width: 10px;
	height: 10px;
	background: #DEB8B8;
	border-radius: 50%;
}
.dream_content-element_text h2{
	font-size: 24px;
	color: #F26A08;
	line-height: 29px;
	margin-bottom: 15px;
}
.dream_content-element_text p{
	line-height: 20px;
}
.dream_content-element_text{
	padding: 15px 95px 15px 30px;
}
.dream_row__middle{
	background: #2C78D4;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 450px;
    align-self: flex-end;
}
.dream_row__middle>img{
	width: 100%;
	margin-top: -50px;
}
.dream_row__middle-ul{
	background: #fff;
	width: fit-content;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 5px 25px;
	margin-top: -50px;
}
.dream_row__middle-ul li{
	font-weight: bold;
	font-size: 18px;
	margin: 15px 0;
}
.dream_row__middle-ul img{
	width: 12px;
	margin-right: 15px;
}
/* /dream */
/* payOut */
.payOut{
	background: linear-gradient(232.47deg, #DDE9FF 0%, #E9E9E9 100%);
	display: flex;
	justify-content: center;
	padding: 30px 0 80px 0;
}
.payOut_row{
	display: flex;
	justify-content: space-between;
	max-width: 1575px;
	max-height: 370px;
}
.payOut_row__left{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	align-items: flex-end;
	max-width: 910px;
	margin-right: 100px;
}
.payOut_row__left>h2{
	font-family: 'Futura Md BT', sans-serif;
	font-size: 48px;
	color: #0050C9;
	width: 100%;
}
.payOut_row__left-block{
	border: 1px solid #3062C3;
	border-radius: 25px;
	max-width: 445px;
	height: 150px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	text-align: center;
	padding: 30px 40px;
}
.payOut_row__right img{
	max-width: 550px;
}
.payOut_row__left-block>h2{
	text-align: center;
	margin-bottom: 30px;
	color: #F26A08;
	font-size: 28px;
	font-family: 'Futura Md BT', sans-serif;
}
.payOut_row__left-block{
	font-weight: bold;
}
/* /payOut */



/* millionaires */

.millionaires{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 86px 0 100px;
	min-height: 1500px;
	background-color: #003581;
}
.millionaires_h2{
	font-family: "Futura Md BT", sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #FFFFFF;
	max-width: 613px;
}
.millionaires_people{
	position: absolute;
	z-index: 2;
	height: 80%;
	bottom: 0;
}
.millionaires_footer{
	position: relative;
	z-index: 10;
}
.millionaires_options{
	width: 100%;
}

.millionaires_footer_block{
	overflow: hidden;
	background: #0063D1;
	display: flex;
	max-width: 1084px;
	width: 90%;
	margin: 40px auto 0;
	box-shadow: 0 4px 15px #CBD2DD, 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}
.millionaires_footer_left{
	width: 50%;
	background: #FFFFFF;
	border-radius: 25px;
	text-align: center;
}

.millionaires_footer_left_top{
	padding: 35px 34px 22px;
}
.millionaires_footer_left_top p{
	font-family: Lato, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #F26A08;
	max-width: 340px;
	margin: auto;
}

.millionaires_footer_left_bottom{
	padding: 25px 60px;
	background: #2289FC;
	border-radius: 25px 0 0 0;
	font-family: Lato,sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}
.millionaires_footer_right{
	width: 50%;
	text-align: center;
	color: #E8A200;
}
.millionaires_footer_right_top{
	display: inline-block;
	padding: 10px 55px;
	background: linear-gradient(270deg, #E8A200 -0.03%, #FFF068 49.43%, #E8A200 95.25%);
	border-radius: 0 0 10px 10px;
	margin: auto;
	font-family: Lato, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #0C509C;
}
.millionaires_footer_right p{
	background: linear-gradient(270deg, #E8A200 -0.03%, #FFF068 49.43%, #E8A200 95.25%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 30px auto 15px;
	display: table;
	font-family: "Futura Md BT", sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
}
.millionaires_footer_right h2{
	background: linear-gradient(270deg, #E8A200 -0.03%, #FFF068 49.43%, #E8A200 95.25%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: table;
	text-transform: uppercase;
	font-family: "Futura Md BT", sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	margin: auto;
}

.millionaires_lanternLeft, .millionaires_lanternRight{
	position: absolute;
	width: 45%;
	top: 0;
	z-index: 6;
	animation-direction: alternate;
}
.millionaires_lanternLeft{
	transform-origin: left top;
	left: -3%;
	animation: lantern_Left 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}
.millionaires_lanternRight{
	transform-origin: right top;
	right: -3%;
	animation: lantern_Right 9s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}

/* animation */

@-webkit-keyframes lantern_Left {
	50%{
		-webkit-transform: rotate(-45grad);
		transform: rotate(-45grad);
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
}
@-webkit-keyframes lantern_Right {
	50%{
		-webkit-transform: rotate(45grad);
		transform: rotate(45grad);
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
}

/* /animation */


/* /millionaires */