/* home */
.promoContent_info__up img{
	width: 450px;
	margin-bottom: 30px;
}
.promoContent_info__up{
	text-align: left;
	padding-bottom: 18%;
}
/* /home */

/* dream */
.video{
	background: #666;
	width: 450px;
	height: 20px;
}
.dream_row_right{
	max-width: 450px;
}
.dream{
	display: flex;
	max-width: 1600px;
	justify-content: center;
	margin: 0 auto;
	padding: 200px 0;
}
.dream_row{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.dream_row__left-head{
	font-family: 'Futura Md BT', sans-serif;
	color: #0050C9;
	font-size: 48px;
	max-width: 450px;
}
.dream_row__left-content{
	height: 400px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 50px;
}
.dream_content-element{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	height: 115px;
	position: relative;
}
.dream_content-element__img{
	background: #0A4DB4;
	width: 50px;
	height: 80px;
	margin-left: 20px;
	border-radius: 0px 0px 7px 7px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.vertHr{
	width: 1px;
    height: 100%;
    background: #0A4DB4;
    position: absolute;
    top: 0;
    left: 44.5px;
    z-index: -1;
}
.dream_content-element:last-child img{
	width: 34px;
}
.dream_content-element__img img{
	width: 28px;
}
.vertDot{
	height: 50px;
	position: absolute;
	right: 20px;
	top: 50%;
    transform: translateY(-50%);
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vertDot .green{
	width: 10px;
	height: 10px;
	background: #B0DCBC;
	border-radius: 50%;
}
.vertDot .blue{
	width: 10px;
	height: 10px;
	background: #B1BCE3;
	border-radius: 50%;
}
.vertDot .red{
	width: 10px;
	height: 10px;
	background: #DEB8B8;
	border-radius: 50%;
}
.dream_row__middle{
	background: #2C78D4;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dream_row__middle>img{
	width: 100%;
}
.dream_row__middle-ul{
	background: #fff;
	width: fit-content;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 5px 25px;
	margin-top: -100px;
}
.dream_row__middle-ul li{
	font-weight: bold;
	font-size: 18px;
	margin: 15px 0;
}
.dream_row__middle-ul img{
	width: 12px;
	margin-right: 15px;
}
/* /dream */