.settings .fp-tableCell{
    vertical-align: baseline;
}
.settings .fp-tableCell, .setting .slide{
    height: 650px !important;
}
.calc_side{
    width: 25%;
    max-width: 400px;
}
.calc_side h2{
    margin-bottom: 20px;
}
.calc_side__head{
    display: flex;
    margin-bottom: 20px;
}
.calc_side__head svg{
    width: 28px;
}
.calc_side__text:first-child{
    margin-bottom: 75px;
}
.calc_bg{
    display: flex;
    padding: 0 10%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.range{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    color: #7A7F8A;
}
.switch{
    position: relative;
    width: 48px;
    height: 24px;
    background: #8C46FF;
    border-radius: 16px;
    margin-right: 20px;
}
.switch::before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(5px, -50%);
    transition: .4s;
}
.add-field-col label{
    padding: 0;
}
.choice-box input[type="checkbox"]:disabled + label{
    background: #7A7F8A;
    color: #fff;
    border: 1px solid #7A7F8A;
    transition: .4s;
}
.choice-group input[type="checkbox"]:disabled + label svg path{
    fill: #fff;
    transition: .4s;
}
/* calc Dima*/
.calc-body{
    width: 68%;
    height: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 0;
}
.f-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 550px;
    max-width: 1050px;
    flex-wrap: wrap;
}
.settings{
    width: 47%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.calc_select{
    display: none;
    justify-content: center;
}
.close{
    display: none;
}
.open{
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.check{
    background: #fff;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 60px;
    border: 1px solid #BCB9C8;
    z-index: 2;
}
.checkP{
    color: #7A7F8A;
    font-size: 18px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 15px;
}
.select{
    margin-top: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.select_option{
    position: absolute;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    height: 0px;
    overflow: hidden;
    padding-top: 55px;
    border: 1px solid #BCB9C8;
    width: 100%;
    z-index: 1;
}
.select_option__open{
    height: 400px;
}
.option{
    color: #455A69;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.option p{
    padding: 10px 0;
    margin: 0;
    font-family: 'Gilroy-Light';
}
.option p:first-child{
    padding-top: 15px;
}
.option:hover{
    background: linear-gradient(213.27deg, #8C46FF 0%, #8C46FF 100%);
    color: #fff;
}
.arrow{
    position: relative;
    width: 30px;
}
.arrow span{
    display: block;
    width: 2px;
    height: 11px;
    background: #7A7F8A;
    position: absolute;
    left: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 45%;
    border-radius: 0 0 5px 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.arrow span.open{
    left: 35%;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.arrow span:after{
    content: '';
    display: block;
    width: 2px;
    height: 11px;
    background: #7A7F8A;
    position: absolute;
    left: -5px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 5px;
    border-radius: 0 0 5px 5px;
}
.slide{
    height: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.result{
    width: 47%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.capotalization{
    position: relative;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 5px;
}
.capotalization .c-label:hover + .desc, .addTriangle{
    opacity: 1;
}
.desc{
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: -45px;
    left: 75px;
    padding: 10px;
    width: 200px;
    background: #EAEAEA;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.desc p{
    margin: 0;
    cursor: default;
}
.addTriangle{
    opacity: 0;
    z-index: 0;
    width: 0;
    position: absolute;
    height: 0;
    left: 75px;
    top: -33px;
    border-style: solid;
    border-width: 40px 60px 0 0;
    border-color: #EAEAEA transparent transparent transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.invest{
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.c-top-title{
    color: #1E1E25;
    font-weight: bold;
    font-family: 'Gilroy-Light';
}
.c-primary-title{
    font-family: "Gilroy-Light";
	font-size: 1.25em;
    line-height: 24px;
    width: 100%;
    margin-bottom: 15px;
    color: #1E1E25;
    text-align: left;
}
select{
    display: none;
}
.choice-group{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 47%;
    min-width: 335px;
}
.choice-group svg{
    height: 20px;
    margin-right: 10px;
    transition: .4s;
}
.choice-box:last-child svg{
    height: 16px;
}
.choice-group span{
    width: 100%;
}
.choice-box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 3px 0;
}
span.c-label{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #444444;
    background: #F1E9FF;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 4px;
}
.chb label{
    border-radius: 5px;
}
.chb .tick{
    border: 2px solid #2d5bcd;
    border-top: none;
    border-right: none;
    height: 8px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 13px;
    border-radius: 0;
    background: #f000;
}
.add-field{
    height: fit-content;
}
.add-field-col label{
    background: #F8F9FF;
}
.add-field-col{
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    user-select: none;
}
.invest-field{
    display: none!important;
    width: 100%;
    margin-top: 12px;
}
.invest-field-active{
    display: block!important;
}
.c-result-block-1, .c-result-block-3{
    text-align: center;
    padding: 3% 0;
    justify-content: center;
}
.c-result-block-2, .c-result-block-4{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F1E9FF;
    padding: 44px;
}
.c-result-block-3, .c-result-block-4{
    display: none;
}
.t-container{
    max-width: 100%;
}

.rangeslider,
.rangeslider__fill {
    display: block;
    border-radius: 10px;
}

.rangeslider {
    background: #e6e6e6;
    position: relative;
}

.rangeslider--horizontal {
    height: 20px;
    width: 100%;
}

.rangeslider--vertical {
    width: 20px;
    min-height: 150px;
    max-height: 100%;
}

.rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeslider__fill {
    background: #A168FF;
    position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
}

.rangeslider__handle {
    position: relative;
    background: white;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
}
.rangeslider__handle:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: auto;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    border-radius: 50%;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.12)));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
    top: -10px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
    left: -10px;
    touch-action: pan-x;
    -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
    -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}


:root {
    --checkbox-size: 20px;
    --bg-color: #eee;
    --checkbox-color: #444;
    --hover-color: #844B94;
    --tick-color: #444;
    --disabled-color: #D4DFEF;
}
.choice-group label{
    font-size: 0.875em;
    color: #8C46FF;
    border: 1px solid #F1E9FF;
}
label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: -4px;
    border-radius: 4px;
    -webkit-transition: 400ms 100ms ease-out;
    -o-transition: 400ms 100ms ease-out;
    transition: 400ms 100ms ease-out;
    padding: 6px 16px;
    background: #F1E9FF;
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    left: -100000px;
}
.invest label{
    border-radius: 5px;
}

.choice-group input[type="checkbox"]:checked + label{
    border: 1px solid #8C46FF;
    background: #F8F9FF;
    z-index: 1;
}
.add-field-col input[type="checkbox"]:checked + label .switch::before{
    transform: translate(27px, -50%);
    transition: .4s;
}

input[type="checkbox"]:disabled + label .switch{
    background: #7A7F8A;
}

.choice-group input[type="checkbox"]:focus + label {
    -webkit-animation-name: cb-pop;
    animation-name: cb-pop;
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.invest_button{
    margin-top: -300px;
}
.invest_button a{
    background: #8C46FF;
    padding: 12px 24px;
    border-radius: 4px;
}

@-webkit-keyframes cb-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    33% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    66% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        tranform: scale(1);
    }
}

@keyframes cb-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    33% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    66% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        tranform: scale(1);
    }
}

.c-editable:last-child{
    color: #F26A08;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin: 10px 0;
    display: block;
}

.c-result-block{
    border-radius: 300px;
    height: 280px;
    width: 280px;
    min-width: 280px;
    text-align: center;
    -webkit-box-pack: center;

    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-result-block-wrapper{
    position: relative;
    border-radius: 25px;
    min-width: 300px;
    height: 65%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rangeslider--horizontal {
    height: 3px;
    border-radius: 0;
    background: #DFDCE9;
}

.rangeslider--horizontal .rangeslider__handle{
    top:-7px;
}

.rangeslider__handle{
    width: 16px;
    height: 16px;
    background: #8C46FF;
}

.c-info{
    padding: 6px 0;
    text-align: left;
}

#c-plus, #c-minus, .c-info, #c-options-block{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#c-options-block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}

#c-plus, #c-minus{
    display: inline;
    width: 30px;
    height: 25px;
}

#c-result-sum{
    color: #0050C9;
    font-family: 'Gilroy-SemiBold';
    color: #8C46FF;
}

#c-refill-amount{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #8C46FF;
    padding: 5px 2px 5px 20px;
    outline: none;
    font-weight: 700;
    color: #455A69;
    font-size: 16px;
    font-family: 'Gilroy-Light';
}

i.arrow {
    border: solid #444;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

i.up {
    margin-bottom: -3px;
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i.down {
    margin-bottom: 1px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
@media (max-width: 1690px) {
    .capotalization{
        margin: 15px 0 5px 0;
    }
}
@media (max-width: 1440px) {
    .calc_bg{
        padding: 0 5%;
    }
}
@media (max-width: 1200px) {
    .calc-body{
        height: 100%;
        padding: 0;
    }
    .calc_bg{
        padding-top: 0 !important;
    }
    .calc_side{
        width: 30%;
    }
    #c-options-block{
        flex-direction: column-reverse;
        align-items: center;
    }
    .choice-group:first-child{
        margin-top: 10px;
    }
    .f-row{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .invest_button{
        display: none;
    }
    .select,
    .add-field{
        margin-top: 5%;
    }
}
@media (max-width: 768px) {
    .settings{
        width: 80%;
    }
    .add-field-col{
        width: 95%;
    }
    .result{
        width: 80%;
    }
    .c-result-block-wrapper{
        width: 100%;
    }
    #c-result-sum {
        font-size: xx-large;
    }
    .c-label{
        font-size: initial;
    }
    .c-result-block-1,
    .c-result-block-3{
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    #c-refill-amount{
        margin-top:10px;
    }
    .c-result-block-wrapper{
        height: 290px;
    }
    .c-result-block-1 span.c-primary-title,
    .c-result-block-3 span.c-primary-title{
        font-size: 18px;
    }
}
@media (max-width: 500px) {
    .calc-body{
        padding: 0;
    }
    .settings{
        width: 80%;
    }
    .result{
        width: 90%;
    }
    .t-col{
        height: fit-content;
    }
    .c-result-block-wrapper{
        width: 100%;
    }
    #c-options-block{
        padding: 0;
    }
    #c-result-sum {
        font-size: xx-large;
    }
    .c-label{
        font-size: initial;
    }
    .c-result-block-1,
    .c-result-block-3{
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    #c-refill-amount{
        margin-top:10px;
    }
    .c-result-block-wrapper{
        height: 290px;
    }
    .c-result-block-1 span.c-primary-title,
    .c-result-block-3 span.c-primary-title{
        font-size: 18px;
    }
}
@media (max-width: 499px) {
    .settings{
        width: 95%;
    }
    .t-col{
        height: fit-content;
    }
    .choice-group span.c-primary-title{
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .result{
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .add-field{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .add-field-col{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .c-result-block-wrapper{
        width: 100%;
    }
    #c-result-sum {
        font-size: 25px;
        text-align: center;
    }
    .c-label{
        font-size: initial;
    }
    .c-result-block-1,
    .c-result-block-3{
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    #c-refill-amount{
        margin-top:10px;
    }
    .c-result-block-wrapper{
        height: fit-content;
    }
    .c-result-block-1 span.c-primary-title,
    .c-result-block-3 span.c-primary-title{
        font-size: 18px;
    }
}
@media (max-width: 350px){
    .settings{
        width: 100%;
    }
    .t-col{
        height: fit-content;
    }
    .choice-group span.c-primary-title{
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .result{
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .add-field{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .c-result-block-wrapper{
        width: 100%;
        height: 220px;
    }
    .c-label{
        font-size: initial;
    }
    .c-result-block-1,
    .c-result-block-3{
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    #c-refill-amount{
        margin-top:10px;
    }
}

.c-editor:first-child{
    background: none;
    border: 1px solid #8C46FF;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bolder;
    display: block;
    padding: 12px;
    padding-left: 40px;
    width: 100%;
    color: #7A7F8A;
    margin: 25px 0;
}
#c-range-edit,
#c-income{
    display: none;
}
.c-info--input{
    position: relative;
}
.c-info .btc,
.c-info .eth,
.c-info .usdt{
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    display: none;
}
.c-info .usdt{
    height: 16px;
    top: 17px;
    left: 12px;
}
#c-period{
    font-family: 'Gilroy-Regular';
    background: #F1E9FF;
    width: fit-content;
    padding: 8px 17px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 1em;
}
