/* home */
.home{
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.container{
    max-width: 1080px;
    margin: auto;
}
.home video{
    position: absolute;
    z-index: 2;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.home_videoTabl,.home_videoMob{
    display: none;
}
.home .container{
    position: relative;
    z-index: 4;
    width: 75%;
    margin: auto;
    flex-direction: column;
    display: flex;
}
.home_logo{
    max-width: 480px;
    width: 80%;
    margin: 60px auto;
}
.home_h1{
    font-family: "Futura Md BT", sans-serif;
    max-width: 540px;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* /home */
/* cumulative */
.cumulative{
    margin-top: 50px;
    min-height: 1273px;
    background-image: url(./../img/cumulative/cumulative_bg_v2.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.cumulativePlane{
    width: 100%;
    height: 100%;
    min-height: 1273px;
    background-image: url(./../img/cumulative/plane.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.cumulative .container{
    z-index: 10;

    display: flex;
    flex-direction: column;
    width: 100%;
}
.cumulative_h2{
    text-align: center;
    margin: auto;
    font-family: "Futura Md BT", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #F26A08;
}
.cumulative_items{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}
.cumulative_item{
    perspective: 1500px;
    display: flex;
}
.cumulative_item_text{
    cursor: default;
    transition: .7s;
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 137.19%;
    letter-spacing: 0.05em;
    color: #444444;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.cumulative_item_text span{
    transition: .4s;
    font-family: "Futura Md BT", sans-serif;
    position: absolute;
    transform: translateY(-50%);
    background: #F26A08;
    border: 6px solid #A8D5FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.st_1{
    align-items: flex-end;
}
.st_1_img{
    width: 280px;
}
.st_1_text{
    margin-left: 90px;
    padding: 20px 90px 30px 60px;
}
.st_1_text p{
    max-width: 330px;
}
.st_1_text span{
    top: 50%;
    left: -5%;
}
.st_2{
    margin-right: 79px;
    align-items: center;
    align-self: flex-end;
    margin-top: 36px;
}
.st_2_img{
    width: 280px;
}

.st_2_text{
    margin-right: 60px;
    padding: 15px 55px 15px 35px;
}
.st_2_text p{
    max-width: 390px;
}
.st_2_text span{
    top: 50%;
    right: -5%;
}
.st_3{
    margin-top: -2%;
    margin-left: 7%;
    align-items: flex-end;
    align-self: flex-start;
}
.st_3_img{
    width: 200px;
}
.st_3_text{
    margin-left: 75px;
    padding: 21px 30px 34px 60px;
}
.st_3_text p{
    max-width: 390px;
}
.st_3_text span{
    top: 50%;
    left: -5%;
}
.st_4{
    margin-top: 50px;
    margin-right: 86px;
    align-items: center;
    align-self: flex-end;
}
.st_4_img{
    width: 245px;
}
.st_4_text{
    margin-right: 90px;
    padding: 20px 30px 35px 60px;
}
.st_4_text p{
    max-width: 390px;
}
.st_4_text span{
    top: 50%;
    right: -5%;
}
.cumulative_item:hover .cumulative_item_text{
    background: #3881C5;
    color: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cumulative_item:hover span{
    background: radial-gradient(100% 154.31% at 0% 4.2%, #045AA9 0%, #2B8CE6 100%);
    box-shadow: 3px 4px 10px rgba(106, 36, 255, 0.14), -5px -7px 10px rgba(20, 156, 255, 0.28);
}

.st_1_img, .st_3_img{
    transition: transform .7s;
    transform: rotateY(30deg) rotateX(15deg) translateZ(-100px);
}

.st_2_img, .st_4_img{
    transition: transform .7s;
    transform: rotateY(-30deg) rotateX(15deg) translateZ(-100px);
}
.cumulative_item:hover > img{
    transform:rotateY(0) rotateX(0) translateZ(0);
}


/* /cumulative */


/* cumulativeFooter*/
.cumulativeFooter{
    position: relative;
    padding-top: 73px;
    padding-bottom: 140px;
    background-image: url(../img/cumulative/cumulative_2_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.cumulativeFooter .container{
    position: relative;
    z-index: 20;
}
.cumulative_pMob{
    display: none;
    font-family: "Futura Md BT", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #0050C9
}
.cumulativeFooter_items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    perspective: 1500px;
    perspective-origin: top;
}
.cumulativeFooter_item{
    transform: rotateY(0) rotateX(0);
    transition: .7s;
    height: 276px;
    margin-bottom: 60px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    position: relative;
    padding: 0 20px 20px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 137.19%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #444444;
}

.cumulativeFooter_t_1{
    top: -25px;
    transform: rotateY(30deg) rotateX(15deg) translateZ(-100px);
}
.cumulativeFooter_t_2{
    top: -47px;
    left: 60px;
    transform: rotateY(30deg) rotateX(15deg) translateZ(-170px);
}
.cumulativeFooter_t_3{
    top: -47px;
    left: -60px;
    transform: rotateY(-30deg) rotateX(15deg) translateZ(-170px);
}
.cumulativeFooter_t_4{
    top: -25px;
    transform: rotateY(-30deg) rotateX(15deg) translateZ(-100px);
}
.cumulativeFooter_item:hover{
    top: 0;
    left: 0;
    transform: rotateY(0) rotateX(0) translateZ(0)!important;
}
.cumulativeFooter_item_imgT:after,.cumulativeFooter_item_imgT:before,.cumulativeFooter_item:before, .cumulativeFooter_item:after{
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #DAE9FF;
}
.cumulativeFooter_item_imgT:after{
    top: 20px;
    left: 20px;
}
.cumulativeFooter_item_imgT:before{
    top: 20px;
    right: 20px;
}
.cumulativeFooter_item:before{
    bottom: 20px;
    left: 20px;
}
.cumulativeFooter_item:after{
    bottom: 20px;
    right: 20px;
}
.cumulativeFooter_item_imgT__i{
    width: 60px;
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(180deg, #E3E3E3 0%, #FFFFFF 100.16%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cumulativeFooter_t_1 > img{
    width: 58px;
}
.cumulativeFooter_t_2 > img{
    width: 62px;
}
.cumulativeFooter_t_3 > img{
    width: 152px;
}
.cumulativeFooter_t_4 > img{
    width: 62px;
}

.cumulativeFooter_triangle{
    z-index: 2;
    animation-direction: alternate;
    position: absolute;
    width: 103px;
    left: 31px;
    bottom: 215px;
    animation: device_bg_2 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}
.cross_bg{
    position: absolute;
    z-index: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.cross_bg_adBf{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.cross_bg_adBf:before,.cross_bg_adBf:after{
    background-color: #86B0EF;
    position: absolute;
    content: "";
    width: 100%;
    height: 25%;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translateY(-50%) translateX(-50%) rotate(-45grad);
}
.cross_bg_adBf:after{
    transform: translateY(-50%) translateX(-50%) rotate(45grad);
}

.circle_bg{
    position: absolute;
    z-index: 2;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: #86B0EF;
}
.cross_left1{
    width: 16px;
    height: 16px;
    bottom: 250px;
    left: 99px;
    animation: device_bg 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}
.cross_left2{
    width: 25px;
    height: 25px;
    bottom: 203px;
    left: 55px;
    animation: device_bg_3 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}
.cross_left3{
    width: 47px;
    height: 47px;
    bottom: 115px;
    left: 84px;
    animation: device_bg_4 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;

}
.circle_left_1{
    width: 134px;
    height: 134px;
    bottom: 34px;
    left: 220px;
    animation: device_bg_4 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}


@keyframes device_bg {
    25%{
        transform: translateX(-25px) translateY(0px);
    }
    50%{
        transform: translateX(-25px) translateY(25px);
    }
    75%{
        transform: translateX(0) translateY(25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_2 {
    25%{
        transform: translateX(25px) translateY(0px);
    }
    50%{
        transform: translateX(25px) translateY(-25px);
    }
    75%{
        transform: translateX(0) translateY(-25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_3 {
    25%{
        transform: translateX(-25px) translateY(-25px);
    }
    50% {
        transform: translateX(25px) translateY(25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_4 {
    25%{
        transform: translateX(25px) translateY(25px);
    }
    50% {
        transform: translateX(-25px) translateY(-25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_5 {
    25%{
        transform: translateY(25px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform:  translateY(0);
    }
}
/* /cumulativeFooter*/

/* calc_cum */
.calc_head{
    margin-top: 16px;
}
.calc_cum{
    position: relative;
}
.invest.chb{
    margin-top: 25px;
}
.invest-field{
    margin-top: 20px;
}
#c-options-block,.add-field{
    display: none;
}

/* /calc_cum */
/* video */
.video{
    background-image: url(./../img/cumulative/video_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:80px 0  355px;
}
.video_v{
    max-width: 1220px;
    width: 90%;
    min-height: 50vh;
    display: block;
    margin: auto;
    background: #C4C4C4;
    border-radius: 25px;
}
/* /video */
.profitability{
    border-top: none!important;
    background-color: #0A4DB4;
    margin-top: -3px !important;
}
@media (max-width: 1900px){
    .cumulativePlane{
        background-size: cover;
    }
}
@media (max-width: 1440px) {
    .cumulativePlane{
        background-size: cover;
    }
}

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    .home video{
        left: 27%;
    }
    .cumulativeFooter_items{
        min-height: 300px;
    }
    .cumulativeFooter_item{
        position: absolute;
    }
    .cumulativeFooter_t_1{
        left: 10%;
    }
    .cumulativeFooter_t_2{
        left: 35%;
    }
    .cumulativeFooter_t_3{
        z-index: 20;
        left: 45%;
    }
    .cumulativeFooter_t_4{
        left: 70%;
    }
    .cumulativeFooter_item:hover{
        left: 50%!important;
        transform: translateX(-50%)!important;
        z-index: 21;
    }
}

@media (max-width: 1016px){
    .container{
        width: 90%;
        margin: auto;
    }
    .cumulative_h2{
        margin-bottom: 10px;
    }

    .st_1_img, .st_3_img{
        transition: transform .7s;
        transform: rotateY(0) rotateX(0) translateZ(0);
    }

    .st_2_img, .st_4_img{
        transition: transform .7s;
        transform: rotateY(0) rotateX(0) translateZ(0);
    }
    .cumulative_pMob{
        display: block;
        margin: 0 auto 30px;
    }
    .cumulative_items{
        align-items: center;
    }
    .cumulative_item{
        margin: 0 0 100px;
        align-self: center;
        align-items: center;
        flex-direction: column;
    }
    .cumulative_item:nth-child(even){
        flex-direction: column-reverse;
    }
    .cumulative_item:last-child{
        margin-bottom: 0;
    }
    .cumulative_item_text{
        margin: 30px 0 0;
        text-align: center;
    }
    .cumulative_item_text span{
        left: -4%!important;
    }
    .cumulativeFooter_item{
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .home .container{
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .home_h1{
        margin-bottom: 50px;
        font-size: 36px;
        text-align: center;
    }
    .home_logo{
        margin-top: 44px;
    }
    .home_videoPC{
        display: none;
    }
    video.home_videoTabl{
        top: -30vh;
        height: auto;
        left: 0;
        width: 100%;
        display: block;
        transform: none;
    }
    .cumulative_item_text{
        border-radius: 15px;
        width: 90%;
        max-width: 450px;
        font-size: 14px;
        padding: 15px 30px;
    }
    .cumulative_item_text p{
        max-width: none;
    }
    .cumulative_item img{
        width: 73%;
    }
    .cumulative_item_text span{
        width: 40px;
        height: 40px;
        border: 2px solid #A8D5FF;
        font-size: 14px;
    }
    .cumulativeFooter_item{
        top: 0;
        position: relative;
        left: 0;
        margin: 0 auto 60px;
        transform: none;
    }
    .cumulativeFooter_item:hover{
        left: 0!important;
        transform: none!important;
    }
}

@media (max-width: 535px) {
    .home video{
        top: 0;
    }
}

@media (max-width: 480px) {
    video.home_videoTabl{
        display: none;
    }
    .home video{
        height: auto;
        width: 100%;
        left: 0;
        transform: none;
    }
    .home_videoMob{
        display: block;
    }
    .home_h1{
        font-size: 16px;
        line-height: 19px;
    }
    .cumulative_h2{
        font-size: 24px;
        line-height: 29px;
    }
    .cumulative_items{
        padding: 0 15px;
    }
    .cumulative_item_text p{
        font-size: 14px;
    }
    .cumulative_item_text span{
        left: -6% !important;
    }

    #c-refill-amount,.invest-field{
        margin-top: 0!important;
    }
    .video{
        padding: 80px 0 155px;
    }
}
@media all and (max-width: 992px) and (orientation : landscape) {
    .home{
		height: 200vh;
	}
	.home video{
		height: 100%;
    }
    video.home_videoTabl{
        min-width: 100vw;
        height: auto;
        top: -90vh;
    }
	.calc_head {
		margin: 80px 0 0 0;
	}
	.study_second{
		margin-bottom: 0;
	}
	.study_second_girl{
		display: none;
	}
	.study_second_mob{
		border-radius: 0 0 100px 0;
	}
	.promoContent_info__up img{
		margin-bottom: 0;
	}
}
@media all and (max-width: 568px) and (orientation : landscape) {
    .home_h1{
        font-size: 22px;
    }
    .cumulativeFooter{
        padding-bottom: 0;
    }
    .calc_head{
        margin: 50px 0 0 0;
    }
    .video .container{
        height: 500px;
    }
    .video .container iframe{
        height: 100%;
    }
    .video{
        padding: 80px 0 155px;
    }
}