.promoContent{
    overflow: inherit;
}
.promoContent .container{
    /* display: flex;
    align-items: flex-end; */
    height: 70vh;
    overflow: inherit;
}
.promoContent .container .img{
    width: 70%;
    max-width: 1200px;
    margin: 10% auto 0;
}
.img img{
    width: 100%;
}
/* doc*/

.doc_li{

}
.doc_li .container{
    max-width: 1400px;
    margin: auto;
}
.doc_ul{
    display: flex;
    flex-wrap: wrap;
}
.doc_ul_item{
    margin: 0 50px 50px 0;
    min-width: 317px;
    width: 30%;
    margin-bottom: 30px;
}
.doc_ul_item:nth-child(3n){
    margin-right: 0;
}
.doc_ul_item_a{
    position: relative;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px #CBD2DD,
                0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    transition: all .7s;
}
.doc_ul_item_a:hover{
    background-color: #6231D6;

}
.doc_ul_item_a:hover .item_svg path{
    fill: #FFFFFF;
}

.item_svg{
    margin-bottom: 50px;
}
.item_svg svg{
    height: 65px;
}

.doc_ul_item_a p{
    text-align: center;
    font-family: "Gilroy-Light";
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    transition: all .7s;
    color: #3D3D50;
}
.doc_ul_item_a:hover p{
    color: #FFFFFF;
}
.item_footer{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

}
.doc_ul_item_svg{
    background: none;
    box-shadow: none;
}
.doc_ul_item_svg svg{
    width: 100%;
}
/* /doc*/
/* bottom */
.bottom{
    padding: 50px 5% 50px;
    margin: 0 auto;
    display: flex;
    max-width: 1450px;
    align-items: center;
    justify-content: space-between;

}
.bottom h2,
.bottom h5{
    font-family: 'Gilroy-Thin';
}
.bottom_right{
    width: 30%;
}
.bottom_right img{
    width: 100%;
}
/* *bottom */