.marker{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    left: -50px;
    z-index: 9;
    -webkit-transform: rotate(-90deg) translate(69%, -125%);
    -ms-transform: rotate(-90deg) translate(69%, -125%);
    transform: rotate(-90deg) translate(69%, -125%);
    background: #CCAFFF;
    width: 165px;
    height: 50px;
    border-radius: 0 0 4px 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.marker_open{
    left: 0;
}

#promo_h1{
    line-height: 1em!important;
}
/* threeSlide */
.threeSlide{
    width: 100%;
}
.threeSlide .container{
    max-width: 1512px;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.threeSlide_left{
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.threeSlide_right{
    width: 35%;
}
.threeSlide_left_h2, .threeSlide_right_block_left_h2{
    text-transform: uppercase;
    color: #542AC8;
    font-size: 2em;
}
.threeSlide_left_h2{
    margin: 0 0 10px;
    font-family: 'Gilroy-Bold';
}
.threeSlide_left_h3{
    text-transform: uppercase;
    color: #000000;
    font-size: 2em;
    margin: 0 0 10px;
    font-family: 'Gilroy-Bold';
}
.threeSlide_left_img{
    width: 100%;
}
.threeSlide_right_block{
    max-width: 665px;
    border-top: 4px solid #542AC8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 30px 0 0;
    margin-bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.threeSlide_right_block_button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.license{
    color: #fff;
    padding: 14px 25px;
    background: #8C46FF;
    border-radius: 4px;
}
.presentation{
    color: #6231D6;
    padding: 14px 25px;
    background: #fff;
    border: 1px solid #542AC8;
    border-radius: 4px;
    margin-left: 25px;
}
.threeSlide_right_block_left_p{
    margin-top: 7px;
    color: #7A7F8A;
}

.threeSlide_right_block_right{
    max-width: 425px;
}
.threeSlide_right_block_right_p{
    color: #22232D;
    margin-bottom: 15px;
}
.threeSlide_right_block_right_span{
    font-size: .75em;
    color: #7A7F8A;
}
/* /threeSlide */

/* bill */
.bill_cntG{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
}
.bill_head{
    z-index: 21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.bill_head_p{
    font-weight: 600;
    font-size: 1.5em;
    line-height: 120%;
    color: #000000;
    z-index: 21;
    margin-bottom: 20px;
}
/* .bill_head_pActive{
    display: block;
} */
.bill_head svg{
    width: 28px;
    height: 28px;
}
.bill_head h2{
    font-size: 1.75em;
}
.bill_textG{
    position: relative;
}
.bill_left{
    left: 0;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 60%;
}
.bill_left_text{
    display: none;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.bill_left_text_h2{
    font-weight: 500;
    font-size: 1em;
    line-height: 28px;
    text-align: center;
}
.bill_left_text_h2_activ{
    display: block;
}

.bill_left_text_h2_span{
    font-weight: 600;
    font-size: 3em;
}
.bill_left_text_text{
    font-weight: 600;
    text-align: center;
    font-size: 1em;
    line-height: 32px;
    color: #7A7F8A;
    text-transform: uppercase;
}
#bill_svgG{
    height: 80vh;
    max-width: 500px;
    margin: auto;
}
#bill_svgG path{
    cursor: pointer;
}
.bill_left>svg{
    z-index: 1;
    width: 150px;
    position: absolute;
}
.bill_left_svg_right_top{
    display: none;
}
.bill_left svg path{
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.bill_right{
    position: relative;
    background: #DCDBFF;
    height: 100%;
    width: 40%;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    left: 0;
    -webkit-box-shadow: 0px 4px 15px #CBD2DD, 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 15px #CBD2DD, 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bill_right svg{
    position: absolute;
    width: 150px;
}
.bill_right__conteiner{
    width: 100%;
    position: relative;
    z-index: 30;
}
.bill_right_row{
    background: #6231D6;
    border-radius: 4px;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0 0 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.bill .title{
    margin: 0 5%;
    width: 50%;
}
.bill .title,
.bill .info{
    padding: 15px 0;
}
.bill_right_row:first-child{
    margin-top: 0;
}
.bill_right_row span{
    position: absolute;
    height: 10px;
    width: 50px;
    left: 0;
    bottom: 0;
    border-radius: 0 4px;
}
.bill .info{
    text-align: center;
    width: 60%;
    border-left: 1px solid #6E40DD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bill .info p{
    cursor: pointer;
    background: #8C46FF;
    text-align: center;
    padding: 14px 0;
    width: 90%;
    border-radius: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.yellow{
    background: #FECE63;
}
.purple{
    background: #6951FE;
}
.green{
    background: #5DBC96;
}
.red{
    background: #F55365;
}
.blue{
    background: #0683F7;
}
.bill_right_row:hover,
.bill_right_row.hover{
    background: #3002AF;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.bill_right_row:hover .info p,
.bill_right_row.hover .info p{
    background: #FFFFFF;
    color: #22232D;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.bill_to_left{
    width: 40%;
}
.bill_to_right{
    left: 200%;
}
.bill_left,
.bill_right{
    z-index: 20;
}

.bill_container {
    position: absolute;
    z-index: 10;
    width: 60%;
    left: 200%;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    background-color: #ffffff;
    height: 100%;
}
.bill_container_active{
    left: 40%;
}
.bill_container_rel{
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bill_container_rel>svg{
    width: 150px;
    height: 100px;
    position: absolute;
}

.bill_container_rel_close{
    background: #7E3FF1;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    position: relative;
    left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition:background-color .7s;
    -o-transition:background-color .7s;
    transition:background-color .7s;
    cursor: pointer;
}
.bill_container_rel_close:hover{
    background-color: #3002AF;
}

.bill_container_rel_close p{
    margin-left: 25px;
    cursor: pointer;
}
.bill_container_rel_close_svg{
    padding: 10px 15px 10px 0;
    border-right: 1px solid #8C46FF;
}
.bill_ContainerActive{
    display: block;
}
.bill_container_rel_btn_svg svg{
    height: 32vh;
    max-height: 383px;
}
.bill_container_rel_btn_svg li{
    margin: 0 40px 50px 0;
}
.contendBody{
    position: relative;
    z-index: 30;
    display: none;
}
.contendBodyActive{
    margin-top: 40px;
    display: block;
}
.bill_ContainerAmirWallet ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.bill_container_rel_btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bill_container_rel_btn li{
    margin-right: 55px;
    padding: 14px 0;
}
.bill_container_rel_btn a{
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px 55px;
    border: 1px solid #8C46FF;
    background-color: #8C46FF;
    border-radius: 4px;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
.bill_container_rel_btn a:hover{
    color: #8C46FF;
    background-color: #FFFFFF;
}

.bill_saving_body_text{
    display: inline-block;
    border: 1px solid #CBCAD6;
    border-radius: 4px 90px 4px 4px;
    padding: 55px 205px 55px 50px;
    margin-bottom: 50px;
    position: relative;
}
.bill_saving_body_text_li{
    width: 100%!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
}
.bill_saving_body_text_li:last-child{
    margin-bottom: 0;
}
.bill_saving_body_text_li span{
    max-width: 418px;
    font-size: 1.125em;
    margin-left: 20px;
}
.bill_investments_span{
    margin-left: 62px !important;
}
.bill_saving_body_text_li svg{
    width: 42px;
}

.container_li{
    position: relative;
}
.container_li_img{
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 20vh;
    right: -6vw;
}
#container_bill_investments .bill_saving_body_text_li:last-child{
    margin-left: 55px;
}

.project_slider{
    width: 500px!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    position: relative!important;
}

.project_slider_item{
    height: 80px!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 15px #CBD2DD, 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 15px #CBD2DD, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.project_slider_item img{
    max-width: 90%!important;
    max-height: 85%;
}
/* logo */
.ARX img{
    height: 60%;
}
.SunnyDay img{
    height: 70%;
}
.SunnyMan img{
    height: 75%;
}
.SollarGifts img{
    height: 75%;
}
.SunriseProgram img{
    height: 55%;
}
.AmirExchange img{
    height: 60%;
}
.AmirPro img{
    width: 65%;
}
.ACREI img{
    width: 50%;
}
.ACSI img{
    width: 35%;
}
.TairMotors img{
    width: 70%;
}
.AmirGuard img{
    width: 75%;
}
.AmirGame img{
    height: 55%;
}
.AmirTravelClub img{
    height: 55%;
}
.SollarDesk img{
    width: 75%;
}
.SollarBlockchain img{
    width: 70%;
}
.AmirID img{
    width: 50%;
}
.Listta img{
    width: 40%;
}
.МП_MAF img{
    width: 55%;
}
.Tg img{
    width: 60%;
}
.Tradergram img{
    width: 75%;
}
.AmirRating img{
    width: 80%;
}
.AmirMedia img{
    width: 45%;
}
/* /logo */
.project_slider
.project_slider .slider-box {
    position: relative;
}
.project_slider .prev,
.project_slider .next {
    position: absolute;
    width: 25px;
    z-index: 1;
    cursor: pointer;
    top: 50%;

}
.project_slider .prev{
    left: -45px;
    -webkit-transform: rotate(-200grad) translateY(50%);
    -ms-transform: rotate(-200grad) translateY(50%);
    transform: rotate(-200grad) translateY(50%);
}
.project_slider .next{
    right: -45px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.bill .slick-track{
    padding: 10px 0px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.bill .slick-slide{
    margin: 0 10px !important;
    /* min-width: 120px !important; */
}
/* /bill */

/* tabl */
.tabl{
    width: 100%;
    margin: auto;
    min-height: 375px;
    height: 100%;
}
.tabl .fp-tableCell{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    vertical-align: inherit !important;
}
.tabl .container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.tabl_h2{
    position: absolute;
    top: 50px;
    left: 10%;
    color: #22232D;
    font-size: 1.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tabl_h2 svg{
    width: 28px;
    height: 28px;
}
.tabl_year td{
    font-size: 4em;
}

.tabl table{
    width: 102%;
    text-align: center;
    border-spacing:0!important;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabl_year{
    color: #22232D;
}
.tabl_bg_color td{
    font-size: 1em;
    position: relative;
    -webkit-transition: color .7s, background-color .7s;
    -o-transition: color .7s, background-color .7s;
    transition: color .7s, background-color .7s;
    width: 10%;
    padding: 9px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #353742;
}
.tabl_bg_color td:first-child{
    background-color: #8C46FF;
    border-bottom-color: #FFFFFF;
    color: #FFFFFF;
}
.tabl_bg_color td:nth-child(2),
.tabl_bg_color td:nth-child(5),
.tabl_bg_color td:nth-child(8){
    background-color: #CCAFFF;
    border-bottom-color: #7A7F8A;
}
.tabl_bg_color td:nth-child(3),
.tabl_bg_color td:nth-child(6),
.tabl_bg_color td:nth-child(9){
    border-bottom-color: #7A7F8A;
    background-color: #EBDFFF;
}
.tabl_bg_color td:nth-child(4),
.tabl_bg_color td:nth-child(7),
.tabl_bg_color td:nth-child(10){
    border-bottom-color: #7A7F8A;
    background-color: #F1E9FF;
}

.tabl_cript td{
    border: none!important;
    border-radius: 0 7px 0 0;
    padding: 20px 0 10px!important;
}
.tabl table tr td:first-child{
    font-size: 1.125em;
    text-align: left;
    padding-left: 30px;
    width: 140px;
}
.tabl_bg_color:last-child td{
    border: none;
}
.tabl_bg_color td:hover{
    background-color: #542AC8;
    color: #FFFFFF;
}
.tabl_cript img{
    width: 100%;
    max-width: 35px;
    margin: auto;
}
.tabl_cript td:first-child{
    border-radius: 7px 7px 0 0;
}

.tabl_radiusButton td{
    border-radius: 0 0 7px 0;
}
.tabl_radiusButton td:first-child{
    border-radius: 0 0 7px 7px;

}
.tabl_bg_color td:first-child{
    z-index: 11;
}
.tabl_bg_color td:nth-child(2){
    z-index: 10;
    left: -5px;
}
.tabl_bg_color td:nth-child(3){
    z-index: 9;
    left: -10px;
}
.tabl_bg_color td:nth-child(4){
    z-index: 8;
    left: -15px;
}
.tabl_bg_color td:nth-child(5){
    z-index: 7;
    left: -20px;
}
.tabl_bg_color td:nth-child(6){
    z-index: 6;
    left: -25px;
}
.tabl_bg_color td:nth-child(7){
    z-index: 5;
    left: -30px;
}
.tabl_bg_color td:nth-child(8){
    z-index: 4;
    left: -35px;
}
.tabl_bg_color td:nth-child(9){
    z-index: 3;
    left: -40px;
}
.tabl_bg_color td:nth-child(10){
    z-index: 2;
    left: -55px;
}
.profitability_right{
    display: none!important;
}
/* /tabl */
/* advantages */
.advantages{
    width: 100%;
}
.advantages .container{
    width: 90%;
    margin: auto;
    max-width: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
.advantages_h2{
    text-align: center;
    font-size: 2em;
    color: #22232D;
    margin-bottom: 35px;
}
.advantages_ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.advantages_ul li{
    width: 30%;
    max-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 15px #CBD2DD, 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 15px #CBD2DD, 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 30px 24px;
    margin-bottom: 25px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.advantages_ul svg{
    height: 50px;
}
.advantages_ul li svg path{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.advantages_ul li:hover{
    background: #542AC8;
}
.advantages_ul li:hover p{
    color: #fff;
}
.advantages_ul li:hover svg path{
    fill: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.advantages_ul p{
    font-size: 0.875em;
    text-align: center;
    color: #353742;
    margin-top: 15px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
/* /advantages */


/* useful */
.useful{
    overflow-x: hidden;
    position: relative;
}
.useful_bg_svg{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
}
.useful .container{
    z-index: 20;
    position: relative;
    max-width: 1511px;
    width: 90%;
    margin: auto;
    max-height: 100%;
    background-size: 75%;
    background-image: url("./../img/home/useful_bg.svg");
    background-position: right center;
    background-repeat: no-repeat;

}

.useful_svg_1{
    top: 10%;
    left: 5%

}
.useful_svg{
    width:370px;
    position: absolute;
    z-index: 2;
}
.useful_ul{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}
.useful_ul_li{
    width: 45%;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.useful_ul_li_number{
    position: absolute;
    left: 0;
    top: 0;
    background: #8C46FF;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 0 0 4px 4px;
}
.useful_ul_li_text{
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.125em;
    line-height: 28px;

    text-align: center;
    color: #22232D;
}
.useful_ul_li_text span{
    color: #F08200;
    font-weight: 900;
}
.useful_ul_li_img{
    background-color: rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}
.useful_ul_li_footer_img{
    width: 80%;
}
/* /useful */

/* statistics del*/
/*.statistics{*/
/*    width: 100%;*/
/*    background-color: #7038E4;*/
/*    min-height: 375px;*/
/*    padding: 25px 0 43px;*/
/*}*/
/*.statistics .container{*/
/*    max-width: 1512px;*/
/*    padding: 0 5%;*/
/*    margin: 0 auto;*/
/*    background: rgb(84, 42, 200);*/
/*}*/
/*.statistics_h2{*/
/*    font-weight: 600;*/
/*    color: #F8F8FB;*/
/*}*/
/*.statistics_p{*/
/*    font-weight: 600;*/
/*    color: #F1E9FF;*/
/*    margin-top: 17px;*/
/*}*/
/*.statistics_ul{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*    padding-bottom: 60px;*/
/*}*/
/*.statistics_ul li{*/
/*    width: 221.33px;*/
/*    height: 221.33px;*/
/*    position: relative;*/

/*}*/
/*.statistics_ul svg{*/
/*    width: 100%;*/
/*    position: relative;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/

/*.statistics_ul p{*/
/*    position: absolute;*/
/*    font-family: Gilroy,sans-serif;*/
/*    font-weight: 500;*/
/*    font-size: 1em;*/
/*    line-height: 28px;*/
/*    color: #fff;*/
/*}*/
/*.statistics_ul span{*/
/*    font-family: 'Gilroy-Bold';*/
/*    font-size: 4em;*/
/*    line-height: 97px;*/
/*    text-align: right;*/
/*    color: #F1E9FF;*/
/*}*/
/*.statistics_ul_textCenter{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translateY(-50%) translateX(-50%);*/
/*}*/
/*.statistics_ul_textFooter{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: fit-content;*/
/*    color: #fff;*/
/*}*/
/* /statistics*/

/* device */
.device{

}

.device .container{
    max-width: 1511px;
    width: 90%;
    margin: auto;
    max-height: 100%;
}
.device_logo{
    width: 45%;
    margin: 0 auto 20px;
    max-width: 295px;
}
.device_logo svg{
    width: 100%;
}
.device_ul{
    background-image: url(./../img/home/bg_device.png);
    background-repeat: no-repeat;
    background-position: left 85%;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.device_ul img{
    width: 100%;
}
.device_ul_phone{
    width: 15%;
    max-width: 300px;
    position: relative;
    left: 3.5%;
}
.device_ul_PC{
    width: 24%;
    max-width: 550px;
    position: relative;
    left: 5%;
}
.device_ul_body{
    margin-left: 9%;
    text-align: center;
    margin-bottom: 5%;
}
.device_ul_body_h2{
    font-weight: 600;
    font-size: 1.625em;
    line-height: 100%;
    color: #22232D;
    text-align: center;
    margin-bottom: 10px;
}
.device_ul_body_p{
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    line-height: 16px;
    color: #22232D;
    margin-bottom: 85px;
}
.device_ul_body_btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.device_ul_body_btn a{
    margin-right: 50px;
    max-width: 265px;
    width: 50%;
}
.device_ul_body_btn a:last-child{
    margin-right: 0;
}
.device_ul_body_btn img{
    width: 100%;
}


.device_ul_footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    max-width: 900px;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.device_ul_footer_li{
    max-width: 426px;
    margin: 0 25px 22px ;
    width: 44%;
    border: 1px solid #F25B00;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
}
.device_ul_footer_li p{
    font-weight: 500;
    font-size: 1em;
    line-height: 16px;
    color: #000000;
    padding-left: 15px;
    font-family: 'Gilroy-SemiBold';
}
.device_ul_body_btn a{
    margin-right: 50px;
}
/* /device */

/* say */
.say{
    width: 100%;
    min-height: 375px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.say .fp-tableCell{
    background: url(../img/home/Vector.svg);
    background-repeat: no-repeat;
    background-position: center 300px;
    background-size: 150%;
}
.say .slick-list{
    padding: 0 15px;
}
.say .slick-slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.say .slick-dots li button:before{
    color: #8C46FF!important;
}
.say .container{
    width: 90%;
    max-width: 1512px;
    position: relative;
    z-index: 10;
    margin: auto;
}
.bf_left{
    position: absolute;
    z-index: 1;
}
.bg_center{
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.say_h2{
    color: #22232D;
}
.say_p{
    margin-bottom: 40px;
    color: #22232D;
}
.say_slider_item{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #8C46FF;
    border-radius: 7px;
    color: #FFFFFF;
    padding: 45px 60px 42px 60px;
    text-align: center;
}
.say_slider_item_h2{
    margin-bottom: 20px;
    line-height: 120%;
}
.say_slider_item_p{
    margin-bottom: 34px;
}
.say_slider_item_a{
    padding: 12px 16px;
    color: #22232D;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Gilroy-SemiBold';
}
.say .slick-slide {
    margin: 0 20px;
}
.say .slider-box {
    position: relative;
}
.say .slick-track {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.say .slick-slide {
    height: inherit !important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.say .slick-slide >div{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.say .prev, .say .next {
    position: relative;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
    top: 50%;
}
.say .prev{
    left: 0;
    -webkit-transform: rotate(-200grad);
    -ms-transform: rotate(-200grad);
    transform: rotate(-200grad);
}
.say .slick-dotted.slick-slider{
    margin: 0 15px 30px;
}
.say .next {
    right: 0;
}
/* /say */
/* footerSlider*/
.container_bloc_team_h2{
    color: #FFFFFF;
    margin-bottom: 51px;
    font-size: 2em;
    /* padding-left: 20%; */
}
.footer_slider_item{
    max-width: 264px;
}
.footer_slider_item_img{
    width: 250px !important;
    height: 250px;
    margin-bottom: 35px;
}
.footer_slider_item_h2{
    font-family: "Gilroy-SemiBold";
    font-size: 1.5em;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer_slider_item_p{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Gilroy-Regular';
}
.footer_slider_item_p .slick-prev:before, .slick-next:before{
    color: #CCAFFF!important;
}
.footer_slider .slick-slide {
    margin: 0 10px;
    /* width: 200px !important; */
}
.footer .slick-list{
    padding: 0 !important;
    /* width: 300px !important; */
}
.footer_slider .slider-box {
    position: relative;
}
.footer_slider .prev,
.footer_slider .next {
    position: absolute;
    top: 30%;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
}
.footer_slider .prev{
    left: 0;
    -webkit-transform: rotate(-200grad);
    -ms-transform: rotate(-200grad);
    transform: rotate(-200grad);
}
.footer_slider .next {
    right: 0;
}

.footer_slider2{

}


footer .slick-initialized .slick-slide{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slide {
    height: 100%;
}
@media (max-width: 1690px) {
    .container_li_img{
        bottom: -5px;
        width: 30%;
        right: 1vw;
        height: auto;
    }
}

@media (max-width: 1440px) {
    /* bill */
    .project_slider{
        width: 300px!important;
    }

    .bill_head_pActive{
        max-width: 300px;
    }

    #bill_svgG{
        height: 42vh;
    }
    /* /bill */



    /*  tabl 1440  */
    .tabl_h2{
        margin-bottom: 0!important;
    }
    .tabl .tabl_h2{
        top: 10px;
    }
    .tabl{
        padding-top: 0!important;
    }
    /*  /tabl 1440  */



    /*footerSlider*/
    .container_bloc_team_h2{
        margin-bottom: 20px;
        padding-left: 311px;
    }
    /*/footerSlider*/
}

@media (max-width: 1200px) {
    .threeSlide .container{
        padding: 5% 0;
    }
    .threeSlide{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
    }


    /* bill */
    .bill_container{
        width: 60%;
    }
    .bill_container_active{
        left: 40%;
    }
    .container_li_img{
        width: 25%;
        height: auto;
        right: 1vh;
    }
    .bill_textG{
        margin-top: 100px;
    }
    .bill_cntG{
        overflow: hidden;
    }
    .container_li{
        padding: 35px 97px 40px 30px;
    }
    .bill_container_rel_close{
        margin-left: 5%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        top: 30px;
    }
    .bill_left, .bill_right{
        padding-top: 100px;
        height: auto;
        padding-bottom: 20px;
    }

    #bill_svgG{
        height: auto;
        width: 100%;
    }
    .bill_container_rel_btn_svg svg{
        width: 100%;
        height: auto;
    }
    /* /bill */


    /*threeSlide 1200*/
    .threeSlide_left{
        width: 45%;
    }
    .threeSlide_right{
        width: 50%;
    }
    /* /threeSlide 1200 */

    /*  tabl 1200  */
    .tabl .container{
        padding: 100px 5%;
    }

    /*  /tabl 1200  */
    /* say*/
    .say{
        padding: 100px 0;
    }
    .useful{
        padding: 100px 0;
    }
    .useful_ul_li_img{
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .useful_ul_li_footer_img{
        width: 100%;
    }
    /* /say */
    /*.statistics{*/
    /*    clip-path: polygon(0 10%, 100% 15%, 100% 100%, 0% 95%);*/
    /*    -webkit-clip-path: polygon(0 10%, 100% 15%, 100% 100%, 0% 95%);*/
    /*}*/
}

@media (max-width: 992px) {
    .first_video{
        display: none;
    }
    /*threeSlide 992*/
    .threeSlide .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .threeSlide_left, .threeSlide_right{
        width: 100%;
    }
    .threeSlide_left{
        margin: 50px 0 20px;
        width: 80%;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
            align-self: center;
    }
    .threeSlide_right_block, .threeSlide_right_block_right{
        max-width: none;
    }
    .threeSlide_right_block_left{
        margin-right: 48px;
    }
    .threeSlide_left > *{
        text-align: right;
    }
    /* threeSlide 992*/

    /* bill */
    .bill_head{
        left: 4%;
    }
    .bill_cntG{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .bill_left{
        width: 100%;
    }
    .bill_right{
        width: 100%;
    }
    .bill_saving_body_text{
        margin-bottom: 20px;
        width: 100%;
    }
    .contendBody{
        width: 90%;
    }
    .bill_left_svg_left_bottom{
        display: none;
    }
    .bill_left_svg_right_top{
        display: block;
    }
    .bill_left>svg{
        min-width: 70px;
        width: 10%;
    }
    .bill_saving_body_text_li{
        margin-bottom: 20px;
    }
    .bill_saving_body_text_li span{
        width: 300px;
    }
    .bill_container_rel>svg{
        display: none;
    }
    .bill_container{
        width: 100%;
        padding: 0 5% 20px;
    }
    .bill_container_active{
        left: 0;
    }
    .bill_container_rel{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    /*  /bill */

    /* tabl 992 */
    .tabl .container{
        padding: 100px 5% 50px;
    }
    .tabl_year{
        text-align: left;
    }
    .tabl table{
        display: none;
    }
    .profitability_right{
        display: block!important;
        margin: auto;
    }
    .tabl_h2{
        position: absolute;
        top: 0;
        left: 10%;
    }
    .tabl{
        padding-bottom: 30px;
    }
    .profitability_right_static_usdt li,
    .profitability_right_static_btc li,
    .profitability_right_static_eth li{
        padding-left: 75px;
    }
    /* /tabl 992*/

    /* bill*/
    .bill_saving_body_text_li svg{
        width: 80px;
    }
    /* /bill*/
    /* useful */
    .useful{
        padding: 150px 0;
        position: relative;
        z-index: 20;
    }
    .useful_ul_li_img{
        padding: 0 !important;
    }
    /* /useful */
    /*advantages*/
    .advantages_ul svg{
        height: 50px;
    }

    .advantages_ul p{
        margin-top: 14px;
    }
    /*/advantages*/

    /* say */
    .say_slider_item{
        min-width: 340px !important;
    }
    .say .slick-slide{
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footer{
        margin-top: 100px;
    }
    .say .slick-slide >div{
        width: auto!important;
    }
    .say .slick-track{
        margin-top: 0 !important;
    }
    /*    /say*/
}

@media (max-width: 768px) {
    .footer_slider .prev, .footer_slider .next{
        height: 45px;
        width: 45px;
    }
    /*advantages*/
    .advantages_ul li{
        min-width: 290px;
    }
    /*    /advantages*/

    /* bill */
    .bill_container_rel_btn{
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
    .bill_container_rel_btn li{
        margin-right: 0;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    .bill_container_rel_btn li:last-child{
        margin-bottom: 0;
    }
    .project_slider{
        width: 300px!important;
    }
    .bill_container_rel_btn_svg li{
        margin: 0;
    }
    #container_bill_investments .bill_saving_body_text_li:last-child{
        margin-left: 0;
    }
    #container_bill_investments .bill_saving_body_text_li:nth-child(3){
        margin-bottom: 0;
    }
    .bill_container_rel_btn a {
        text-align: center;
        width: 100%;
        display: inline-block;
    }
    /* /bill */

    /*    footerSlider*/
    .useful_ul_li{
        width: 80%;
        margin: 20px 0;
        padding: 15px 55px;
    }
    .container_bloc_team_h2{
        padding-left: 0;
    }
    /*    footerSlider*/

    /* device*/
    .device .container{
        width: 100%;
        margin: 0;
        padding: 150px 5% 100px;
        background-image: url(./../img/home/devise_bg2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        z-index: 1;
        top: -150px;
    }

    .device_ul_footer_li{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        background-color: #FFFFFF;
    }
    .device_ul_footer_li{
        max-width: 80%;
        width: 80%;
        margin: 0 0 15px;
        padding: 10px 10px 20px;
    }
    .device_ul_footer_li svg{
        margin-bottom: 5px;
        width: 65%;
    }
    .device_ul{
        background: transparent;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .device_ul_phone,
    .device_ul_PC{
        display: none;
    }
    .device_ul_body{
        margin-left: 0;
        width: 81%;
    }
    .device_ul_body_p{
        margin-bottom: 40px;
    }
    .device_ul_footer_li p{
        padding-left: 0;
    }
    .say{
        padding: 0 0 0;
    }

    /* useful */
    .useful{
        background-color: #542AC8;
        clip-path: polygon(0 5%, 100% 10%, 100% 100%, 0% 90%);
        -webkit-clip-path: polygon(0 5%, 100% 10%, 100% 100%, 0% 90%);
    }
    .useful_bg_svg{
        display: none;
    }
    .useful .container{
        background-image: url("./../img/home/svg_bg_mob.svg");
        background-position: center center;
    }
    .useful_svg_1{
        display: none;
    }
    /* /useful */

}

@media (max-width: 480px) {


    /* threeSlide 480*/
    .threeSlide_left > *{
        text-align: left;
        font-size: 1.1em;
    }
    .threeSlide_right_block_left{
        margin-right: 4px;
    }
    .threeSlide_right_block_left_h2{
        font-size: 2.4em;
    }
    .threeSlide_right_block{
        padding-top: 15px;
    }
    .threeSlide_right_block_button{
        margin-top: -30px;
    }
    .threeSlide{
        padding-bottom: 30px;
    }
    .threeSlide_right_block_right_p{
        font-size: .8em;
    }
    /* /threeSlide 480*/



    /* bill 480 */
    .bill{
        height: 550px;
    }
    .bill_left{
        display: none;
    }
    .bill_right{
        padding-top: 100px;
    }
    .bill_right_row{
        margin-top: 20px;
    }
    .contendBodyActive{
        width: 100%;
    }
    .bill_container_rel_close{
        left: 0;
        margin-left: 0;
    }
    .project_slider .prev,
    .project_slider .next {
        width: 25px;
    }
    .project_slider .prev{
        -webkit-transform: rotate(-200grad);
        -ms-transform: rotate(-200grad);
        transform: rotate(-200grad);
    }
    .project_slider .prev{
        left: -25px;
    }
    .project_slider .next{
        right: -25px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .bill_container_rel>svg:first-child{
        left: 1%;
        right: auto;
        width: 29%;
        top: -10px!important;
        display: block;
    }
    .container_li_img{
        display: none;
    }
    .bill_saving_body_text{
        padding: 20px;
    }
    .project_slider{
        margin: auto;
        width: 300px!important;
    }
    /*/bill 480 */

    /* tabl 480*/
    .tabl{
        padding: 0;
    }
    .tabl_h2{
        margin-bottom: 5px !important;
        margin-left: 5%;
        padding: 0;
    }
    /* /tabl 480*/
    .device_ul_footer_li{
        width: 95%;
    }
    .device_ul_body{
        width: 95%;
    }
    /* device */
    .device .container{
        top: -180px;
    }
    /* /device */
    /*advantages*/
    .advantages_h2{
        font-size: 1.15em;
        margin-bottom: 25px;
    }
    .advantages_ul p{
        font-size: .9em;
        text-align: center;
    }
    /* /advantages*/
    .useful{
        clip-path: polygon(0 7%, 100% 10%, 100% 93%, 0% 90%);
        -webkit-clip-path: polygon(0 7%, 100% 10%, 100% 93%, 0% 90%);
    }
    .useful_ul_li{
        width: 95%;
    }
    /* say */
    .say{
        /* padding: 60px 0 0; */
    }
    .say .slick-slide{
        /* width: 198px !important; */
    }
    .say_slider_item{
        padding: 20px 40px;
        min-width: 198px !important;
    }
    .say_p{
        margin-bottom: 30px;
    }
    /*    /say*/
    .container_bloc_team_h2{
        text-align: center;
    }
    /*    footerSlider*/
    .footer{
        margin-top: 60px;
    }
    .footer_slider_item img{
        width: 80%;
        margin: 0 auto;
    }
    .footer_slider_item_h2{
        margin-bottom: -3px!important;
    }
    .footer_slider .prev,
    .footer_slider .next {
        height: 40px!important;
        width: 40px!important;
    }
    /*    /footerSlider*/
}
@media (max-width: 400px) {
    .profitability_right_static_usdt li,
    .profitability_right_static_btc li,
    .profitability_right_static_eth li{
        padding-left: 60px;
    }
    .project_slider{
        width: 230px !important;
    }
}
@media all and (max-width: 1200px) and (orientation : portrait) {

}