.statistics{
    width: 100%;
    min-height: 375px;
}
.statistics .container{
    max-width: 1512px;
    width: 90%;
    margin: auto;
}
.statistics_h2{
    font-weight: 600;
    color: #F8F8FB;
}
.statistics_p{
    font-weight: 600;
    color: #F1E9FF;
    margin-top: 17px;
}
.statistics_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 60px;
}
.statistics_ul li{
    width: 221.33px;
    height: 221.33px;
    position: relative;

}
.statistics_ul svg{
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
}

.statistics_ul p{
    position: absolute;
    font-family: Gilroy,sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 28px;
    color: #fff;
}
.statistics_ul span{
    font-family: 'Gilroy-Bold';
    font-size: 4em;
    line-height: 97px;
    text-align: right;
    color: #F1E9FF;
}
.statistics_ul_textCenter{
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.statistics_ul_textFooter{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    color: #fff;
}


@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}