.advantages{
    width: 100%;
}
.advantages .container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.advantages_h2{
    text-align: center;
    font-size: 2em;
    color: #22232D;
    margin-bottom: 50px;
}
.advantages_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.advantages_ul li{
    /* min-width: 290px; */
    width: 23%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 15px #CBD2DD, 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 40px 24px 35px;
    margin-bottom: 25px;
}
.advantages_ul svg{
    height: 101px;
}
.advantages_ul li svg path{
    transition: .5s;
}
.advantages_ul li:hover svg path{
    fill: #542AC8;
    transition: .5s;
}
.advantages_ul p{
    font-size: 0.875em;
    text-align: left;
    color: #353742;
    margin-top: 50px;
}



@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .advantages_ul svg{
        height: 50px;
    }

    .advantages_ul p{
        margin-top: 14px;
    }
}

@media (max-width: 768px) {
    .advantages_ul li{
        min-width: 290px;
    }
}

@media (max-width: 480px) {
    .advantages_h2{
        font-size: 1.15em;
        margin-bottom: 40px;
    }
    .advantages_ul p{
        font-size: .9em;
        text-align: center;
    }
}