.threeSlide{
    width: 100%;
}
.threeSlide .container{
    max-width: 1512px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.threeSlide_left{
    width: 40%;
}
.threeSlide_right{
    width: 50%;
}
.threeSlide_left_h2, .threeSlide_right_block_left_h2{
    text-transform: uppercase;
    color: #542AC8;
    font-size: 2em;
}
.threeSlide_left_h2{
    margin: 0 0 10px;
    font-family: 'Gilroy-Bold';
}
.threeSlide_left_h3{
    text-transform: uppercase;
    color: #000000;
    font-size: 2em;
    margin: 0 0 10px;
    font-family: 'Gilroy-Bold';
}
.threeSlide_left_img{
    width: 100%;
    max-width: 430px;
}
.threeSlide_right_block{
    max-width: 665px;
    border-top: 4px solid #542AC8;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;
    margin-bottom: 31px;
    flex-direction: row-reverse;
}
.threeSlide_right_block_left_p{
    margin-top: 7px;
    color: #7A7F8A;
}

.threeSlide_right_block_right{
    max-width: 425px;
}
.threeSlide_right_block_right_p{
    color: #22232D;
    margin-bottom: 15px;
}
.threeSlide_right_block_right_span{
    font-size: .75em;
    color: #7A7F8A;
    padding-left: 10px;
}