.container_bloc_team_h2{
    color: #FFFFFF;
    margin-bottom: 51px;
    font-size: 2em;
    /* padding-left: 20%; */
}
.footer_slider_item{
    max-width: 264px;
}
.footer_slider_item_img{
    width: 100%;
    margin-bottom: 35px;
}
.footer_slider_item_h2{
    font-family: "Gilroy-SemiBold";
	font-size: 1.5em;
	line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer_slider_item_p{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Gilroy-Regular';
}
.slick-prev:before, .slick-next:before{
    color: #CCAFFF!important;
}
.footer_slider .slick-slide {
    margin: 0 10px;
}
.footer_slider .slider-box {
    position: relative;
}
.footer_slider .prev,
.footer_slider .next {
    position: absolute;
    top: 30%;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
}
.footer_slider .prev{
    left: 0;
    transform: rotate(-200grad);
}
.footer_slider .next {
    right: 0;
}
footer .slick-initialized .slick-slide{
    display: flex!important;
    justify-content: center;
}

@media (max-width: 1440px) {
    .container_bloc_team_h2{
        margin-bottom: 20px;
        padding-left: 311px;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 768px) {
    .container_bloc_team_h2{
        padding-left: 0;
    }
}

@media (max-width: 480px) {

}