.say{
    width: 100%;
    min-height: 375px;
    height: 100%;
    clip-path: polygon(0 0%, 100% 15%, 100% 100%, 0% 85%);
    position: relative;
    background-color: #542AC8;
    overflow: hidden;
}
.say .container{
    width: 90%;
    max-width: 1512px;
    position: relative;
    z-index: 10;
    margin: auto;
}
.bf_left{
    position: absolute;
    z-index: 1;
}
.bg_center{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.say_h2{
    color: #1E1E25;
}
.say_p{
    margin-bottom: 40px;
    color: #FFFFFF;
}
.say_slider_item{
    flex-direction: column;
    display: flex!important;
    align-items: flex-start;
    justify-content: space-between;
    background: #3D3D50;
    border-radius: 7px;
    color: #FFFFFF;
    padding: 45px 60px 42px 60px;
}
.say_slider_item_h2{
    margin-bottom: 20px;
}
.say_slider_item_p{
    margin-bottom: 34px;
}
.say_slider_item_a{
    padding: 12px 16px;
    color: #8C46FF;
    background: #FFFFFF;
    border-radius: 4px;
}

.say .slick-prev:before, .say .slick-next:before{
    color: #CCAFFF!important;
}
.say .slick-slide {
    margin: 0 10px;
}
.say .slider-box {
    position: relative;
}

.say .prev, .say .next {
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
.say .prev{
    left: 0;
    transform: translateY(-50%) rotate(-200grad);
}
.say .next {
    right: 0;
}

@media (max-width: 1440px) {



}

@media (max-width: 1200px) {
    .say{
        padding: 200px 0;
    }
}

@media (max-width: 991px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}