

.container_bloc_team_h2{
    font-family: 'Gilroy',sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 51px;
}




.footer_slider_item{
    max-width: 264px;
}
.footer_slider_item_img{
    width: 100%;
    margin-bottom: 35px;

}
.footer_slider_item_h2{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer_slider_item_p{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}



.slick-prev:before, .slick-next:before{
    color: #CCAFFF!important;
}
.slick-slide {
    margin: 0 10px;
}
.slider-box {
    position: relative;
}
.prev,
.next {
    position: absolute;
    top: 30%;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
}
.prev{
    left: -70px;
    transform: rotate(-200grad);
}
.next {
    right: -70px;
}

@media (max-width: 1440px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}