::-webkit-scrollbar {
	width: 5px;
  }
::-webkit-scrollbar-track {
	background: #542ac840;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
	background: #542ac8;
    border-radius: 4px;
}
body{
	
	position: fixed;
}
.wrapper{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: url(../img/map/cell.png);
}
.back{
	text-align: center;
	width: fit-content;
	margin-top: 20px;
	margin-left: 20px;
	background: #542AC8;
	color: #fff !important;
	padding: 10px 30px;
	position: relative;
	border-radius: 4px;
}
.back::before{
	position: absolute;
    left: 15px;
    top: 37%;
    display: block;
    content: '';
    background: #fff;
    width: 12px;
	height: 2px;
	transform: rotate(-45deg);
	border-radius: 4px;
}
.back::after{
	position: absolute;
    left: 15px;
    bottom: 37%;
    display: block;
    content: '';
    background: #fff;
    width: 12px;
    height: 2px;
	transform: rotate(45deg);
	border-radius: 4px;
}
.tablet_back{
	display: none;
}
.side_bar{
	z-index: 2;
	position: fixed;
	width: 64px;
	height: 100%;
	background: #fff;
	overflow: hidden;
	-webkit-box-shadow: 1px 0px 10px 0px rgba(128,128,128,1);
	box-shadow: 1px 0px 10px 0px rgba(128,128,128,1);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.menu_open{
	width: 320px !important;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.menu_button{
	height: 64px;
	width: 64px;
	background: #542AC8;
	border-radius: 0px 0px 0px 4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	cursor: pointer;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}
.menu_button span{
	display: block;
	height: 3px;
	background: #fff;
	width: 28px;
	margin: 3px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.menu_h1{
	position: absolute;
    font-size: 2.25em;
    text-transform: uppercase;
    bottom: 0;
    right: 0;
    /* -webkit-transform: rotate(90deg) translate(-50%, -50%); */
    /* -ms-transform: rotate(90deg) translate(-50%, -50%); */
    /* transform: rotate(90deg) translate(-50%, -50%); */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 64px;
    height: -webkit-calc(100vh - 64px);
    height: calc(100vh - 64px);
    z-index: 2;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.menu_h1 p{
	cursor: pointer;
    color: #c93e3e;
    line-height: normal;
    padding: 15px;
    text-align: center;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.menu_h1_open{
	-webkit-transform: translateX(-100vw);
	    -ms-transform: translateX(-100vw);
	        transform: translateX(-100vw);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.menu{
	width: 320px;
	position: absolute;
	height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	opacity: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	bottom: 0;
	right: 0;
}
.opacity{
	opacity: 1;
}
.menu h1{
	margin-left: 20px;
	font-weight: 600;
	line-height: 32px;
	color: #6231D6;
}
.menu p{
	padding-left: 20px;
	margin-bottom: 20px;
	color: #6231D6;
	font-size: 1.125em;
	font-weight: 600;
	border-bottom: 1px solid #F8F8FB;
}
.menu ul{
	overflow-y: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-left: 5%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	list-style: none;
}
.menu ul>li{
	font-family: "Gilroy-Medium";
	font-size: 1em;
	margin: 5px 0;
}
.menu a{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
	color: #71718C;
	position: relative;
}
.menu_svg_dow{
	-webkit-transform: rotate(200grad);
	-ms-transform: rotate(200grad);
	transform: rotate(200grad);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.menu>ul>li>a{
	font-weight: 600;
	line-height: 24px;
	color: #353742;
}
.menu a:hover{
	color: #8C46FF;
}
.menu a:hover path{
	fill: #8C46FF;
}
.menu ul a:before{
	width: 0px;
	height: 2px;
	background: #8C46FF;
	bottom: -5px;
	left: 0px;
	-o-transition: all .3s;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	position: absolute;
	content: '';
	font-size: 18px;
	font-family: "gsb";
}
.menu ul a:hover:before{
	width: 100%;
}

li ul.subMenu1_open{
	height: 490px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
li ul.subMenu2_open{
	height: 75px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
li ul.subMenu3_open{
	height: 155px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
li ul.subMenu4_open{
	height: 30px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
ul.subM{
	height: 0;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 10px;
	font-size: .875em;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.city{
	position: fixed;
	top: -1098px;
	left: -1377px;
	cursor: -webkit-grab;
	cursor: grab;
	width: 4096px;
	height: 2304px;
	background: url(../img/map/amircity.jpg);
	background-size: cover;
	background-position: center bottom;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}
.point{
	position: absolute;
	width: 68px;
	height: 86px;
	background-image: url("./../img/map/point_1.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	cursor: pointer;
}
.point .back-side{
	background: #6231d6;
}
.point_2 .back-side{
	background: #0683f7;
}
.point_3 .back-side{
	background: #fece63;
}
.front-side p{
	font-size: 1.5em;
	color: #FFFFFF;
	margin-top: 16px;
	text-align: center;
}
.point_2{
	background-image: url("./../img/map/point_2.svg");
}
.point_3{
	background-image: url("./../img/map/point_3.svg");
}
.point_3 p{
	color: #353742 !important;
	font-family: 'Gilroy-SemiBold';
}
.point:hover .back-side{
	opacity: 1;
}
.back-side{
	opacity: 0;
	position: absolute;
	bottom: 85px;
	left: 35px;
	padding: 10px;
	background: #8C46FF;
	border-radius: 10px 10px 10px 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.back-side p{
	color: #fff;
}
.p1{
	top: 1480px;
	left: 2430px;
}
.p2{
	top: 932px;
	left: 2078px;
}
.p3{
	top: 1130px;
	left: 1800px;
}
.p4{
	top: 1630px;
	left: 2030px;
}
.p5{
	top: 1480px;
	left: 2170px;
}
.p6{
	top: 1025px;
	left: 3240px;
}
.p7{
	top: 922px;
	left: 3186px;
}
.p8{
	top: 530px;
	left: 3330px;
}
.p9{
	top: 930px;
	left: 3630px;
}
.p10{
	top: 705px;
	left: 3527px;
}
.p11{
	top: 1750px;
	left: 3000px;
}
.p12{
	top: 730px;
	left: 2100px;
}
.p13{
	top: 1700px;
	left: 1600px;
}
.p14{
	top: 1680px;
	left: 1300px;
}
.p15{
	top: 150px;
	left: 620px;
}
.p16{
	top: 1300px;
	left: 650px;
}
.p17{
	top: 1050px;
	left: 630px;
}
.p18{
	top: 700px;
	left: 780px;
}
.p19{
	top: 480px;
	left: 990px;
}
/* next */
.p20{
	top: 1740px;
	left: 2670px;
}
.p21{
	top: 1540px;
	left: 2530px;
}
.p22{
	top: 1430px;
	left: 2675px
}
/* next */
.p23{
	top: 780px;
	left: 2960px;
}
.p24{
	top: 250px;
	left: 2000px;
}
.p25{
	top: 365px;
	left: 3150px;
}
.p26{
	top: 1080px;
	left: 2800px;
}
.p27{
	top: 940px;
	left: 1400px;
}
.p28{
	top: 265px;
	left: 3680px;
}
/* /control */


.content-left{
	position: fixed;
	width: -webkit-calc(60% - 64px);
	width: calc(60% - 64px);
	left: -60%;
	height: 100%;
	margin-left: 64px;
	z-index: 1;
	background: #e6e6e6e0;
	overflow-y: auto;
}
.content-right{
	position: fixed;
	width: 40%;
	right: -40%;
	height: 100%;
	background: #fff;
	z-index: 1;
}
.open_content-left{
	left: 0;
}
.open_content-right{
	right: 0;
}
.content-left__head{
	height: 64px;
	width: 100%;
	background: #eaeaebe6;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 2%;
}
.content-left__content{
	padding: 25vh 10% 10%;
}
.content-left__content .hr{
	background: #8C46FF;
	margin: 20px 0 30px 0;
	height: 2px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40%;
}
.content-left__content h2{
	color: #8C46FF;
}
.content-left__content_textStart{
	margin-top: 50vh;
}
.content-left__content img{
	margin: 20px 0;
}
.guide{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.content-right_top{
	position: relative;
	height: 70%;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}
.content-right_top img	{
	width: 50%;
}
.content-right_top_svg{
	width: 80px;
	position: absolute!important;
	z-index: 1;
	-webkit-transition: 1.5s;
	-o-transition: 1.5s;
	transition: 1.5s;
	-webkit-animation: svgPoint 3.5s  ease-in-out infinite alternate both;
	animation: svgPoint 3.5s  ease-in-out infinite alternate both;
}

.content-right_top_svg:nth-child(3){
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
}
.content-right_top_svg:nth-child(4){
	-webkit-animation-duration: 3.5s;
	animation-duration: 3.5s;
}
.content-right_top_svg:last-child{
	-webkit-animation-duration: 4.5s;
	animation-duration: 4.5s;
}
@keyframes svgPoint {
	from { opacity: 1.0; }
	to { opacity: 0.0; }
}
@-webkit-keyframes svgPoint {
	from { opacity: 1.0; }
	to { opacity: 0.0; }
}

.content-right_top img{
	position: relative;
	z-index: 20;
	/*height: 100%;*/
}


.content-right_bottom{
	background: #F6F5FA;
	-webkit-box-shadow: 0px -4px 15px #CBD2DD, 0px -4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px -4px 15px #CBD2DD, 0px -4px 4px rgba(0, 0, 0, 0.25);
	height: 30%;
	width: 100%;
	padding: 0 5%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.content-right_bottom_btn{
	background: #8C46FF;
	border-radius: 4px;
	text-align: center;
	padding: 21px 24px;
	color: #FFFFFF;
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
	cursor: pointer;
	border: 1px solid #8C46FF;
}
.content-right_bottom_btn:first-child{
	margin-right: 13px;
}
.content-right_bottom_btn:hover{
	color: #272831;
	background: #FFFFFF;
}
.guide svg{
	height: 40px;
	width: 40px;
	-webkit-animation-name: doubleArrowVertical;
	animation-name: doubleArrowVertical;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.next_part{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.next_part svg{
	height: 40px;
	width: 40px;
	-webkit-animation-name: doubleArrowHorizont;
	animation-name: doubleArrowHorizont;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.close_cross{
	width: 40px;
	height: 40px;
	cursor: pointer;
}
@-webkit-keyframes doubleArrowHorizont {
	0%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	50%{
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes doubleArrowHorizont {
	0%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	50%{
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes doubleArrowVertical {
	0%{
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
	50%{
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100%{
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@keyframes doubleArrowVertical {
	0%{
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
	50%{
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100%{
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@media (max-width: 850px){
	.city{
		display: none;
	}
	.tablet_back{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		background: url(../img/map/amircity_small.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
@media (max-width: 480px){
	.wrapper{
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
	}
	.city{
		display: none;
	}
	.tablet_back{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		background: url(../img/map/amircity_small.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.content-right{
		height: 400px;
	}
	.content-right,
	.content-left{
		position: inherit;
	}
	.side_bar{
		width: 32px;
		position: fixed;
	}
	.menu_button{
		width: 32px;
		height: 32px;
	}
	.menu_button span{
		height: 2px;
		width: 14px;
		margin: 2px;
	}
	.menu_h1{
		font-size: 1.25em;
		width: 32px;
		height: -webkit-calc(100vh - 32px);
		height: calc(100vh - 32px);
	}
	.menu_open{
		width: 100% !important;
	}
	.menu{
		width: 100%;
	}
	.menu h1,
	.menu p{
		text-align: center;
	}
	.content-left{
		margin-left: 0;
		background: #fff;
		min-height: 300px;
	}
	.content{
		opacity: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		width: -webkit-calc(100vw - 32px);
		width: calc(100vw - 32px);
		min-height: -webkit-fit-content;
		min-height: -moz-fit-content;
		min-height: fit-content;
		margin-left: 32px;
	}
	.content>div{
		width: 100%;
	}
	.content-left__content{
		padding: 5% 10% 10%;
	}
	.content-right_top img{
		width: 40%;
	}
	.content-right_top_svg{
		display: none;
	}
	.content-right{
		background: #e6e6e6e0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.content-right_bottom_btn{
		padding: 15px 15px;
	}
	.content-right_bottom{
		height: 25%;
	}
	.close_cross{
		width: 25px;
		height: 25px;
	}
	.content-left__head{
		padding: 0 5%;
	}
	.content-right_top{
		height: 75%;
	}
}