body{
	background: url(../img/map/cell.png);	
}
.wrapper{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
}
.side_bar{
	z-index: 2;
	position: relative;
	width: 64px;
	height: 100%;
	background: #fff;
	overflow: hidden;
	box-shadow: 1px 0px 10px 0px rgba(128,128,128,1);
    display: flex;
	flex-direction: column;
	transition: 1s;
}
.menu_open{
	width: 320px;
	transition: 1s;
}
.menu_button{
	height: 64px;
	width: 64px;
	background: #1a55f8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	align-self: flex-end;
}
.menu_button span{
	display: block;
	height: 3px;
	background: #fff;
	width: 28px;
	margin: 3px;
	transition: 1s;
}
.menu_h1{
	position: absolute;
	font-size: 2.25em;
	text-transform: uppercase;
	top: 50%;
	left: -60%;
	transform: rotate(90deg) translate(-50%, -50%);
	user-select: none;
}
.menu_h1 p{
	cursor: pointer;
	color: #c93e3e;
}
.menu{
	width: 320px;
	position: relative;
	height: calc(100% - 64px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: 1s;
}
.opacity{
	opacity: 1;
}
.menu h1{
	line-height: 120%;
	text-align: center;
	user-select: none;
}
.menu ul{
	width: fit-content;
	margin-left: -10%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-self: center;
	list-style: none;
}
.menu ul>li{
	font-family: "Gilroy-Medium";
	font-size: 1em;
	margin: 10px 0;
}
li ul.subMenu1_open{
	height: 320px;
	transition: 1s;
}
li ul.subMenu2_open{
	height: 400px;
	transition: 1s;
}
li ul.subMenu3_open{
	height: 180px;
	transition: 1s;
}
li ul.subMenu4_open{
	height: 30px;
	transition: 1s;
}
ul.subM{
	height: 0;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 10px;
	font-size: .875em;
	transition: 1s;
}
.city{
	position: fixed;
	top: 0;
	left: 50px;
	cursor: grab;
	width: 3000px;
	height: 1900px;
	background: url(../img/map/map.webp);
	background-size: cover;
	background-position: center bottom;
	transform-origin: center;
}
.point{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #fff;
	border: 2px solid #4056f0;
	border-radius: 50%;
	cursor: pointer;
}
/* finance */
.p1{
	top: 1100px;
	left: 1900px;
}
.p2{
	top: 1055px;
	left: 1620px;
}
.p3{
	top: 1080px;
	left: 1260px;
}
.p4{
	top: 1300px;
	left: 1160px;
}
.p6{
	top: 890px;
	left: 1790px;
}
.p16{
	top: 1100px;
	left: 2350px;
}
.p19{
	top: 750px;
	left: 730px;
}
.p21{
	top: 1020px;
	left: 770px;
}
.p22{
	top: 550px;
	left: 1850px;
}
/* /finance */
/* community */
.p7{
	top: 830px;
	left: 1880px;
}
.p8{
	top: 600px;
	left: 1040px;
}
.p9{
	top: 1470px;
	left: 460px;
}
.p10{
	top: 890px;
	left: 199px;
}
.p12{
	top: 1550px;
	left: 600px;
}
.p13{
	top: 1250px;
	left: 180px;
}
.p14{
	top: 1600px;
	left: 115px;
}
.p20{
	top: 1200px;
	left: 2650px;
}
.p23{
	top: 1700px;
	left: 500px;
}
.p24{
	top: 1310px;
	left: 370px;
}
.p25{
	top: 850px;
	left: 2350px;
}
.p26{
	top: 750px;
	left: 2280px;
}

/* /community */

.front-side{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.front-side p{
	text-align: center;
}
.front-side:hover + .back-side{
	opacity: 1;
}
.back-side{
	opacity: 0;
	position: absolute;
	width: fit-content;
    top: -60px;
    left: 25px;
    padding: 10px;
    background: #8f3737;
    border-radius: 10px 10px 10px 0;
    transition: .5s;
}
.back-side p{
	color: #fff;
}
.content_p1-left{
	position: fixed;
	width: calc(60% - 64px);
	left: -60%;
	height: 100%;
	background: #fff;
	margin-left: 64px;
	z-index: 1;
	background: #e6e6e6
}
.content_p1-right{
	position: fixed;
	width: 40%;
	right: -40%;
	height: 100%;
	background: #fff;
	z-index: 1;
}
.open_content-left{
	left: 0;
}
.open_content-right{
	right: 0;
}
.content_p1-left__head{
	height: 64px;
	width: 100%;
	background: #eaeaebe6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
}
.next_part{
	display: flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
}
.next_part svg{
	height: 40px;
	width: 40px;
	animation-name: doubleArrow;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}
.close_cross{
	width: 40px;
	height: 40px;
	cursor: pointer;
}
@keyframes doubleArrow {
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0);
	}
}