h1, h2, h3, h4, h5, h6, p, span, li{
	user-select: none;
	cursor: default;
}

/* menu */
header{
	position: fixed;
	z-index: 500;
	width: 385px;
	top: 35px;
	right: -250px;
	-webkit-perspective: 600px;
	        perspective: 600px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	        transform: translateX(0px);
}
.hide{
	opacity: 0;
}
.menu{
	width: 100%;
	height: 565px;
	position: fixed;
	border-radius: 62px 0px 0px 62px;
	background: -o-linear-gradient(301.82deg, #287AF4 1.58%, #0550C0 100%);
	background: #0E274E;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	padding-bottom: 25px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	left: 150px;
}
.menu.menu_open{
	left: 0;
	
}
header.menu_open{
	right: 0;
}
.menu_header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 20px 15px 124px;
	height: 100px;
	background: #223C64;
	border-radius: 42px 0 0 0;
}
.menu_button{
	width: 40px;
	height: 40px;
	position: fixed;
	cursor: pointer;
	border-radius: 50%;
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
	z-index: 1;
    top: 25px;
    left: 25px;
}
.front_button{
	position: absolute;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: -o-linear-gradient(305.9deg, #3083FF 10.54%, #004AB9 90.78%);
	background: linear-gradient(144.1deg, #3083FF 10.54%, #004AB9 90.78%);
}
.back_button{
	position: absolute;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	border-radius: 50%;
	background: #FF7627;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.back_button img{
	width: 35%;
}
.isFlip{
	-webkit-transform:  rotateY(180deg);
	        transform:  rotateY(180deg);
}
.button_middle{
	position: absolute;
	display: block;
	cursor: pointer;
    height: 30px;
    width: 5px;
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
.button_top{
	display: block;
	cursor: pointer;
	background: #fff;
	height: 15px;
	left: 30%;
	top: 15%;
	width: 5px;
	position: absolute;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.button_bottom{
	display: block;
	cursor: pointer;
	background: #fff;
	height: 15px;
	right: 30%;
	bottom: 15%;
	width: 5px;
	position: absolute;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.logOut{
	background: -o-linear-gradient(345.95deg, #35B6FF 2.02%, #378FE0 100%);
	background: linear-gradient(97.27deg, #193153 2.02%, #2C466D 100%);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35), -3px -3px 16px #2A4978;
	border-radius: 10px;
	padding: 11px 12px;
}
.menu ul{
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
}
.menu ul li:first-child{
	padding-top: 20px;
}
.menu ul li{
	padding: 13px 0 13px 0;
	border-bottom: 1px solid  #1D3D6C;
	text-align: center;
	transition: .2s;
	cursor: pointer;
}
.menu ul li:hover{
	background: #294166;
	box-shadow: inset 0px 4px 75px #1A283D, inset 0px -4px 75px #122647;
	transition: .2s;
}
.licens p{
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	padding: 15px 30px 20px 30px;
	margin: auto;
	border: 1px dotted  #47556A;
	border-bottom: none;
	border-radius: 15px 15px 0 0;
}
/* /menu */

/* footer */
footer{
	border-top: 10px solid #fff;
    height: 255px;
	width: 100%;
	background: #06338B;
    /* background: url(../img/index/Footer.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer_row__left-mobile{
	display: none;
}
.empty{
	color: #fff0;
}
.footer_row{
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1400px;
	width: 100%;
	margin-left: 10%;
	z-index: 1;
}
.footer_row__left{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
    max-width: 770px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer_row__left a{
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}
.footer_left__column{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 45%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 55px;
}
.footer_left__column a{
    text-transform: uppercase;
}
.footer_left__column:first-child{
	margin-left: 0;
}
.footer_left__column:last-child{
	margin-right: 0;
}
.verHr{
	width: 1px;
	height: 45%;
	background: #263F98;
}
.footer_img{
	z-index: 0;
    background: url(../img/index/footer_right.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 255px;
    width: 40vw;
    position: absolute;
    right: 0;
}
.footer_row__right{
	max-width: 285px;
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 135px;
    -ms-flex-item-align: center;
        align-self: center;
}
.footer_row__right h3{
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;
}
.footer_row__right .info{
	font-size: 24px;
	font-family: 'Futura Md BT', sans-serif;
}
.soc_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 240px;
}
.soc_icon img{
	height: 32px;
    width: 32px;
    border-radius: 7px;
}
/* /footer */
@media (max-width: 1440px) {
	.footer_img{
		width: 45vw;
	}
    .footer_row{
		margin-left: 0;
	}
	.footer_row__left{
		margin-left: 5%;
	}
	.footer_row__right{
		margin-right: 5%;
	}
	.footer_left__column{
		margin: 0 40px;
	}
	.button_top__close{
		left: 49%;
		top: 7%;
	}
	.footer_left__column{
		margin: 0 30px;
	}
}
@media (max-width: 1199px) {
    .footer_row__left{
		width: 55%;
	}
	.footer_row__right{
		margin-right: 0%;
	}
	.footer_row__right h3{
		font-size: 22px;
	}
	.soc_icon img{
		height: 30px;
		width: 30px;
	}
	.footer_row__right .info{
		font-size: 22px;
	}
}
@media (max-width: 992px) {
    footer{
		height: 250px;
	}
	.footer_row__left a{
		font-size: 14px;
	}
	.footer_row__right h3,
	.footer_row__right .info{
		font-size: 20px;
	}
	.footer_row__left{
		margin: 0 5%;
		width: 60%;
	}
	.footer_row__right{
		max-width: 250px;
	}
	.soc_icon{
		width: 200px;
	}
	.soc_icon img{
		width: 30px;
		height: 30px;
	}
	.footer_left__column{
		margin: 0 25px;
	}
}
@media (max-width: 768px) {
    header{
		width: 300px;
		right: -200px;
	}
	.menu{
		height: 500px;
		border-radius: 40px 0px 0px 40px;
	}
	.menu ul li{
		font-size: 14px;
	}
	.licens p{
		font-size: 14px;
	}
	.menu_button{
		width: 39px;
		height: 39px;
	}
	.menu_header{
		font-size: 14px;
		margin-left: 90px;
	}
	.button_top{
		height: 9px;
		width: 3px;
		left: 35%;
    	top: 25%;
	}
	.button_middle{
		height: 19px;
		width: 3px;
	}
	.button_bottom{
		height: 9px;
		width: 3px;
		right: 33%;
		bottom: 20%;
    }
    footer{
		height: 375px;
	    background: #06338b;
	}
    .verHr{
		display: none;
	}
	.footer_img{
		display: none;
	}
	.footer_row{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.footer_row__right{
		background: url(../img/index/Footer2.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 160px;
		max-width: 100%;
		margin-right: 0;
		padding: 25px 15% 30px 0;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
	}
    .footer_row__left{
		display: none;
	}
	.footer_row__left-mobile{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 215px;
		width: 75%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.footer_row__left-mobile .Hr{
		height: 100%;
		width: 2px;
		background: #ffffff6b;
	}
	.footer_left__column{
		height: 230px;
		-webkit-box-pack: initial;
		    -ms-flex-pack: initial;
		        justify-content: initial;
	}
	.footer_left__column a{
		font-size: 18px;
		margin-top: 15px;
	}
}
@media (max-width: 480px) {
    .isFlip_right{
		right: 20px;
    	left: auto;
	}
	.menu_button{
		width: 30px;
		height: 30px;
		top: 15px;
	}
	header{
		top: 5px;
		right: -230px;
	}
	.menu_header{
		height: 40px;
		font-size: 14px;
		margin-left: 25px;
		margin-right: 82px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
	.button_top{
		left: 30%;
		top: 15%;
		height: 10px;
	}
	.button_middle{
		height: 18px;
	}
	.button_bottom{
		right: 30%;
		bottom: 15%;
		height: 10px;
    }
    footer{
		height: 325px;
    }
    .footer_left__column{
        margin: 0;
    }
	.footer_left__column a{
		font-size: 14px;
	}
	.footer_row__left-mobile{
		width: 85%;
		height: 165px;
	}
	.footer_row__right{
		padding: 25px 15px 30px 0;
	}
	.footer_row__right h3{
		font-size: 16px;
	}
	.footer_row__right .info{
		font-size: 18px;
	}
}
@media all and (max-width: 992px) and (orientation : landscape) {
	header{
		top: 0;
		height: 100vh;
		overflow-y: auto;
	}
}