


/* home */

.home{
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.container{
    max-width: 1080px;
    margin: auto;
}

.home video{
    position: absolute;
    z-index: 2;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.home_videoTabl,.home_videoMob{
    display: none;
}

.home .container{
    position: relative;
    z-index: 4;
    width: 75%;
    margin: auto;
    flex-direction: column;
    display: flex;
}

.home_logo{
    max-width: 480px;
    width: 80%;
    margin: 60px auto;
}

.home_h1{
    font-family: "Futura Md BT", sans-serif;
    max-width: 540px;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* /home */



/* cumulative */

.pam{
    min-height: 2500px;
    background-image: url(./../img/pam/sec_2bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.pamPlane{
    width: 100%;
    height: 100%;
    min-height: 1273px;
    background-image: url(./../img/cumulative/plane.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

}

.pam .container{
    /*max-width: ;*/
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cumulative_h2{
    text-align: center;
    margin: auto;
    font-family: "Futura Md BT", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #F26A08;
}
.cumulative_items{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cumulative_item{
    display: flex;
}

.cumulative_item_text{
    cursor: default;
    transition: .7s;
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 137.19%;
    letter-spacing: 0.05em;
    color: #444444;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.cumulative_item_text span{
    transition: .4s;
    font-family: "Futura Md BT", sans-serif;
    position: absolute;
    transform: translateY(-50%);
    background: #F26A08;
    border: 6px solid #A8D5FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

}

.st_1{
    align-items: flex-end;
}

.st_1_img{
    width: 280px;
}

.st_1_text{
    margin-left: 90px;
    padding: 20px 90px 30px 60px;
}
.st_1_text p{
    max-width: 330px;
}
.st_1_text span{
    top: 50%;
    left: -5%;
}


.st_2{
    margin-right: 79px;
    align-items: center;
    align-self: flex-end;
    margin-top: 36px;
}

.st_2_img{
    width: 280px;
}

.st_2_text{
    margin-right: 60px;
    padding: 15px 55px 15px 35px;
}
.st_2_text p{
    max-width: 390px;
}
.st_2_text span{
    top: 50%;
    right: -5%;
}

.st_3{
    margin-top: -2%;
    margin-left: 7%;
    align-items: flex-end;
    align-self: flex-start;
}

.st_3_img{
    width: 200px;
}

.st_3_text{
    margin-left: 75px;
    padding: 21px 30px 34px 60px;
}
.st_3_text p{
    max-width: 390px;
}
.st_3_text span{
    top: 50%;
    left: -5%;
}

.st_4{
    margin-top: 50px;
    margin-right: 86px;
    align-items: center;
    align-self: flex-end;
}

.st_4_img{
    width: 245px;
}

.st_4_text{
    margin-right: 90px;
    padding: 20px 30px 35px 60px;
}
.st_4_text p{
    max-width: 390px;
}
.st_4_text span{
    top: 50%;
    right: -5%;
}


.cumulative_item:hover .cumulative_item_text{
    background: #3881C5;
    color: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cumulative_item:hover span{
    background: radial-gradient(100% 154.31% at 0% 4.2%, #045AA9 0%, #2B8CE6 100%);
    box-shadow: 3px 4px 10px rgba(106, 36, 255, 0.14), -5px -7px 10px rgba(20, 156, 255, 0.28);

}


/* /cumulative */

/* cumulativeFooter*/

.cumulativeFooter{
    position: relative;
    padding-top: 73px;
    padding-bottom: 178px;
    background-image: url(../img/cumulative/cumulative_2_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.cumulative_pMob{
    display: none;
    font-family: "Futura Md BT", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #0050C9
}
.cumulativeFooter_items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

}
.cumulativeFooter_item{
    height: 276px;
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    position: relative;
    padding: 0 20px 20px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 137.19%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #444444;
}

.cumulativeFooter_item_imgT:after,.cumulativeFooter_item_imgT:before,.cumulativeFooter_item:before, .cumulativeFooter_item:after{
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #DAE9FF;
}
.cumulativeFooter_item_imgT:after{
    top: 20px;
    left: 20px;
}
.cumulativeFooter_item_imgT:before{
    top: 20px;
    right: 20px;
}
.cumulativeFooter_item:before{
    bottom: 20px;
    left: 20px;
}
.cumulativeFooter_item:after{
    bottom: 20px;
    right: 20px;
}

.cumulativeFooter_item_imgT__i{
    width: 50px;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(180deg, #E3E3E3 0%, #FFFFFF 100.16%);
}
.cumulativeFooter_t_1 > img{
    width: 58px;
}

.cumulativeFooter_t_2 > img{
    width: 62px;
}
.cumulativeFooter_t_3 > img{
    width: 152px;
}
.cumulativeFooter_t_4 > img{
    width: 62px;
}

.cumulativeFooter_circle{
    animation-direction: alternate;
    animation: device_bg 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
    position: absolute;
    width: 109px;
    height: 109px;
    border-radius: 50%;
    border: 5px solid #86B0EF;
    bottom: 40px;
    left: 211px;
}
.cumulativeFooter_triangle{
    animation-direction: alternate;
    position: absolute;
    width: 103px;
    left: 31px;
    bottom: 215px;
    animation: device_bg_2 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}
.cumulativeFooter_cross1, .cumulativeFooter_cross2, .cumulativeFooter_cross3{
    position: absolute;

}
.cumulativeFooter_cross1{
    left: 80px;
    bottom: 168px;
    width: 14px;
    animation: device_bg_3 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
    animation-direction: alternate;
}
.cumulativeFooter_cross2{

    left: 53px;
    bottom: 124px;
    width: 20px;
    animation: device_bg_4 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
    animation-direction: alternate;
}
.cumulativeFooter_cross3{
    animation-direction: alternate;
    left: 87px;
    bottom: 60px;
    width: 38px;
    animation: device_bg_5 7s cubic-bezier(0.4, 0.02, 0.5, 0.98) reverse infinite;
}




@keyframes device_bg {
    25%{
        transform: translateX(-25px) translateY(0px);
    }
    50%{
        transform: translateX(-25px) translateY(25px);
    }
    75%{
        transform: translateX(0) translateY(25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_2 {
    25%{
        transform: translateX(25px) translateY(0px);
    }
    50%{
        transform: translateX(25px) translateY(-25px);
    }
    75%{
        transform: translateX(0) translateY(-25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_3 {
    25%{
        transform: translateX(-25px) translateY(-25px);
    }
    50% {
        transform: translateX(25px) translateY(25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_4 {
    25%{
        transform: translateX(25px) translateY(25px);
    }
    50% {
        transform: translateX(-25px) translateY(-25px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes device_bg_5 {
    25%{
        transform: translateY(25px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform:  translateY(0);
    }
}



/* /cumulativeFooter*/

/* calc_cum */
.calc_head{
    margin-top: 16px;
}

.calc_cum{
    position: relative;
}
.calc_cum_video{
    position: absolute;
    width: 120px;
    top: 0;
    z-index: -1;
    right: 40px;
}



/* /calc_cum */

/* video */

.video{
    background-image: url(./../img/cumulative/video_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:80px 0  355px;
}
.video_v{
    max-width: 1220px;
    height: 500px;
    width: 90%;
    margin: auto;

    background: #C4C4C4;
    border-radius: 25px;
}


/* /video */

.profitability{
    background-color: #0A4DB4;
    margin-top: 0!important;
}

/**/

.contentBlockOne_row__element:before, .contentBlockOne_row__element:after, .circle_element:before, .circle_element:after{
    background-color: #AEEADF;
}

/**/
@media (max-width: 1440px) {

}
/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    .home video{
        left: 27%;
    }
}
@media (max-width: 1016px){
    .container{
        width: 90%;
        margin: auto;
    }
}
/* Portrait tablets and small desktops */
@media (max-width: 991px) {

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .home .container{
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .home_h1{
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 19px
    }
    .home_logo{
        margin-top: 44px;
    }
    .home_videoPC{
        display: none;
    }
    video.home_videoTabl{
        top: -30vh;
        height: auto;
        left: 0;
        width: 100%;
        display: block;
        transform: none;
    }

}

@media (max-width: 535px) {
    .home video{
        top: 0;
    }
}

@media (max-width: 480px) {
    video.home_videoTabl{
        display: none;
    }
    .home video{
        height: auto;
        width: 100%;
        left: 0;
        transform: none;
    }
    .home_videoMob{
        display: block;
    }
    .home_h1{
        font-size: 16px;
        line-height: 19px;
    }

}

@media (max-width: 428px) {
    .home video{
        height: 100%;
        width: auto;
    }
}