.desctop-menu{
	background: transparent;
}
.promoContent .container{
	background: url(../img/program/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}
h1{
	font-family: 'Gilroy-SemiBold';
}
.promoContent_svg{
	display: block;
	width: 40vw;
	top: 50%;
}
.bill_head{
    z-index: 21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}


.bill_head svg{
    width: 28px;
    height: 28px;
}
.bill_head h2{
    font-size: 1.75em;
}