.desctop-menu{
	background: transparent;
}
.promoContent .container{
	background: url(../img/program/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}
h1{
	font-family: 'Gilroy-SemiBold';
}
.promoContent_svg{
	display: block;
	width: 40vw;
	top: 50%;
}
.bill_head{
    z-index: 21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}


.bill_head svg{
    width: 28px;
    height: 28px;
}
.bill_head h2{
    font-size: 1.75em;
}
/* calc */
.calc_side{
    position: absolute;
    top: 50px;
    left: 10%;
}
.calc_side__head{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.calc_side__head svg{
    width: 28px;
    height: 28px;
}
.calc_side__head h2{
    font-size: 1.75em;
}
.c-top-title{
	color: #1E1E25;
    font-weight: bold;
    font-family: 'Gilroy-Light';
}
.calc_main{
	display: flex;
	justify-content: center;
}
.calc_main_aside{
	margin-right: 50px;
}
.c-block{
	display: flex;
	flex-direction: column;
}
.c-result-block-wrapper span.hr{
	width: 100%;
	height: 2px;
	display: none;
	background: #CED6DE;
	margin-top: 20px;
}
.open{
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.check{
	background: #0B4EB5;
	border-radius: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	width: 290px;
	height: 60px;
	z-index: 2;
}
.checkP{
	color: #fff;
	font-family: 'Russo One', sans-serif;
	-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
	margin: 15px;
}
.select{
	margin-top: 10%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.select_option{
	position: absolute;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	height: 0px;
	overflow: hidden;
	padding-top: 60px;
	width: 290px;
	z-index: 1;
}
.select_option__open{
	height: 340px;
}
.option{
	color: #455A69;
	font-weight: 600;
	cursor: pointer;
}
.option p{
	padding: 10px 0;
	margin: 0;
}
.option:hover{
	background: -o-linear-gradient(236.73deg, #FFA26A 0%, #FFD07A 100%);
	background: linear-gradient(213.27deg, #FFA26A 0%, #FFD07A 100%);
}
.arrow{
	position: relative;
	width: 30px;
}
.arrow span{
	display: block;
	width: 2px;
	height: 11px;
	background: #fff;
	position: absolute;
	left: 15px;
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	top: 45%;
	border-radius: 0 0 5px 5px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.arrow span.open{
	left: 35%;
	-webkit-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
			transform: rotate(225deg);
}
.arrow span:after{
	content: '';
	display: block;
	width: 2px;
	height: 11px;
	background: #fff;
	position: absolute;
	left: -5px;
	-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
	top: 5px;
	border-radius: 0 0 5px 5px;
}
.slide{
	margin-bottom: 5%;
	height: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}
.result{
	width: 50%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}
.capotalization{
	position: relative;
	-ms-flex-item-align: start;
		align-self: flex-start;
}
.capotalization .c-label:hover + .desc, .addTriangle{
	opacity: 1;
}
.desc{
	opacity: 0;
	position: absolute;
	z-index: 1;
	top: -45px;
	left: 75px;
	padding: 10px;
	background: #EAEAEA;
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px 5px 5px 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.desc p{
	margin: 0;
	cursor: default;
}
.addTriangle{
	opacity: 0;
	z-index: 0;
	width: 0;
	position: absolute;
	height: 0;
	left: 75px;
	top: -33px;
	border-style: solid;
	border-width: 40px 60px 0 0;
	border-color: #EAEAEA transparent transparent transparent;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.invest{
	margin: 30px 0;
	-ms-flex-item-align: start;
		align-self: flex-start;
}
span.c-primary-title{
	color: #2d5bcd;
	cursor: default;
}
select{
	display: none;
}
.choice-group{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
			justify-content: space-between;
}
.choice-box{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 3px 0;
}
span.c-label{
	color: #4F91C0;
	font-weight: 700;
	cursor: default;
}
.chb label{
	border-radius: 5px;
}
.chb .tick{
	border: 2px solid #2d5bcd;
	border-top: none;
	border-right: none;
	height: 8px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
	width: 13px;
	border-radius: 0;
	background: #f000;
}
.add-field{
	margin-top: 5%;
	height: fit-content;
}
.add-field-col{
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	flex-wrap: wrap;
	width: 65%;
}
.c-result-block-1,
.c-result-block-3{
	height: 25%;
	padding: 3% 6%;
}
.c-result-block-2,
.c-result-block-4{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 50%;
}
.c-result-block-3,
.c-result-block-4{
	display: none;
}
.t-container{
	max-width: 100%;
}
.c-result-block-wrapper-button{
	position: absolute;
	border: 1px solid #D4DFEF;
	bottom: -18px;
	left: 53px;
	padding: 12px 15px;
	background: -o-linear-gradient(328.94deg, #70C13E 14.86%, #1FB5A8 93.14%);
	background: linear-gradient(121.06deg, #70C13E 14.86%, #1FB5A8 93.14%);
	-webkit-box-shadow: 0px 4px 10px rgba(42, 175, 30, 0.25);
			box-shadow: 0px 4px 10px rgba(42, 175, 30, 0.25);
	border-radius: 14px;
	font-family: 'Russo One', sans-serif; 
}
.c-result-block-wrapper-button a{
	color: #fff !important;
	text-decoration: none;
}


.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 20px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #0050C9;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  position: relative;
  background: white;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  border-radius: 50%;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.12)));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}


	:root {
		--checkbox-size: 20px;
		--bg-color: #eee;
		--checkbox-color: #444;
		--hover-color: #844B94;
		--tick-color: #444;
		--disabled-color: #D4DFEF;
	}

	/*label {*/
	/*	position: relative;*/
	/*	display: inline-block;*/
	/*	margin-bottom: -4px;*/
	/*	width: var(--checkbox-size);*/
	/*	height: var(--checkbox-size);*/
	/*	border: 1px solid #0050C9;*/
	/*	border-radius: 50%;*/
	/*	-webkit-transition: 400ms 100ms ease-out;*/
	/*	-o-transition: 400ms 100ms ease-out;*/
	/*	transition: 400ms 100ms ease-out;*/
	/*    margin-right: 8px;*/
	/*}*/

	label:hover {
		border-color: var(--hover-color);
	}

	input[type="checkbox"] {
		position: absolute;
		left: -100000px;
	}
	.invest label{
		border-radius: 5px;
	}
	.tick {
		position: absolute;
		background: #0050C9;
		top: calc(50% - 7px);
		left: calc(50% - 7px);
		width: 14px;
		height: 14px;
		opacity: 0;
		border-radius: 50%;
		-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
		-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
		transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	}

	input[type="checkbox"]:checked + label .tick {
		opacity: 1;
	}

	input[type="checkbox"]:disabled + label{
		background-color: var(--disabled-color);
	}

	input[type="checkbox"]:focus + label {
		-webkit-animation-name: cb-pop;
				animation-name: cb-pop;
		-webkit-animation-duration: 400ms;
				animation-duration: 400ms;
		-webkit-animation-iteration-count: 1;
				animation-iteration-count: 1;
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
	}

	@-webkit-keyframes cb-pop {
		0% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
		33% {
			-webkit-transform: scale(0.9);
					transform: scale(0.9);
		}
		66% {
			-webkit-transform: scale(1.1);
					transform: scale(1.1);
		}
		100% {
			tranform: scale(1);
		}
	}

	@keyframes cb-pop {
		0% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
		33% {
			-webkit-transform: scale(0.9);
					transform: scale(0.9);
		}
		66% {
			-webkit-transform: scale(1.1);
					transform: scale(1.1);
		}
		100% {
			tranform: scale(1);
		}
	}
	.c-top-block{
	margin-top:20px;
}

.c-result-block{
	border-radius: 300px;
	height: 280px;
	width: 280px;
	min-width: 280px;
	text-align: center;
	-webkit-box-pack: center;

		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: white;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}

.c-result-block-wrapper{
	position: relative;
	border: 1px solid #D4DFEF;
	border-radius: 20px;
	min-width: 300px;
	height: 65%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
}

.rangeslider--horizontal {
	height: 3px;
	border-radius: 0;
}

.rangeslider--horizontal .rangeslider__handle{
	top:-7px;
}

.rangeslider__handle{
	width: 16px;
	height: 16px;
	border: 3px solid #0050C9;
}

.c-info{
	padding: 6px 0;
	text-align: left;
}

#c-plus, #c-minus, .c-info, #c-options-block{
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;  
}

#c-options-block{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-top: 30px;
	height: 120px;
}

#c-plus, #c-minus{
	display: inline;
	width: 30px;
	height: 25px;
}

#c-result-sum{
	font-weight: bolder;
	color: #0050C9;
	font-family: 'Russo One', sans-serif;
}

#c-refill-amount{
	width: 100%;
	height: 48px;
	border-radius: 5px;
	border: 1px solid #D4DFEF;
	padding: 5px 2px 5px 20px;
	outline: none;
	font-family:'Lato', sans-serif;
	font-weight: 700;
	color: #455A69;
}

i.arrow {
  border: solid #444;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

i.up {
	margin-bottom: -3px;
	  -ms-transform: rotate(-135deg);
		  transform: rotate(-135deg);
	  -webkit-transform: rotate(-135deg);
}

i.down {
	margin-bottom: 1px;
	  -ms-transform: rotate(45deg);
		  transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
}
.c-editor{
	background: none;
	border: none;
	display: none;
}		
/* /calc */