
@font-face {
	font-family: Serpentine Sans; /* Гарнитура шрифта */
	src: url(./../fonts/16875.otf); /* Путь к файлу со шрифтом */
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	scroll-behavior: smooth;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
h1{
	font-size: 2.5vw;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.wrapper{
	overflow: hidden;
	width: 100%;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.promoContent{
    background: url(../img/Promo_background.png);
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.menu{
	width: 100%;
	height: 100vh;
	position: fixed;
	background: url(../img/menu.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	z-index: -5;
	opacity: 0;
	-webkit-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
}
.menu_button{
	width: 156px;
	height: 156px;
	background: #6C9EF4;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 0 0 0 100%;
	cursor: pointer;
	z-index: 999999;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.button_middle{
	position: absolute;
    display: block;
    height: 50px;
    width: 6px;
    background: #fff;
    top: 35%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
.button_top{
	display: block;
	background: #fff;
	height: 30px;
	left: 54%;
	top: 18%;
	width: 6px;
	position: absolute;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.button_bottom{
	display: block;
	background: #fff;
	height: 30px;
	right: 26%;
	bottom: 46%;
	width: 6px;
	position: absolute;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.button_top__close{
	display: block;
    background: #fff;
    height: 50px;
    left: 50%;
    top: 9%;
    width: 6px;
    position: absolute;
    -webkit-transform: rotate(135deg) translate(-50%, -50%);
        -ms-transform: rotate(135deg) translate(-50%, -50%);
            transform: rotate(135deg) translate(-50%, -50%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.menu_back{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
.menu_back__layer{
	z-index: 10;
}
.bg_middel{
	position: absolute;
	display: block;
	background: #000;
	left: 50%;
	top: 50%;
	width: 0;
	height: 250vh;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	    -ms-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.bg_top{
    position: absolute;
    display: block;
    height: 250vh;
    width: 0;
    background: #000;
    left: 40vh;
    bottom: 0;
    -webkit-transform: rotate(45deg) translateY(40%);
        -ms-transform: rotate(45deg) translateY(40%);
            transform: rotate(45deg) translateY(40%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.bg_bottom{
    position: absolute;
    display: block;
    height: 250vh;
    width: 0;
    background: #000;
    right: 40vh;
    -webkit-transform: rotate(45deg) translateY(-40%);
        -ms-transform: rotate(45deg) translateY(-40%);
            transform: rotate(45deg) translateY(-40%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.bg_opan{
	width: 700px;
	height: 250vh;
}
.fone1{
    top: 0;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 6300px;
    background: url(../img/Fone1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.promoContent_logo{
	width: 75%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.promoContent_info{
	margin: 3% 15%;
	width: 30%;
    font-family: 'Russo One', sans-serif;
}
.promoContent_info__up{
    background: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.promoContent_info__up a{
	z-index: 1;
	padding: 25px 80px;
	text-decoration: none;
	margin-top: 45px;
	margin-bottom: 50px;
	font-size: 1vw;
	text-transform: uppercase;
	background: -o-linear-gradient(324.02deg, #70C13E 14.86%, #1FB5A8 93.14%);
	background: linear-gradient(125.98deg, #70C13E 14.86%, #1FB5A8 93.14%);
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.promoContent_info__up p{
	font-size: 2vw;
	color: #0050C9;
	text-align: center;
	width: 80%;
	margin-top: 10%;
}
.promoContent_info__down{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 15%;
}
.promoContent_info__down a{
	z-index: 1;
	background: #0B4EB5;
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 25px 105px;
	font-size: 2vw;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

/* vvalik */

.container{
	width: 90%;
	margin: auto;
}


/*color*/
.color_green{
	color: #5AAB26;
}
.bg_color_green{
	background-color: #5AAB26;
}
.br_color_green{
	border-color: #5AAB26;
}

.color_fi{
	color: #5F6DD4;
}
.bg_color_fi{
	background-color: #5F6DD4;
}
.br_color_fi{
	border-color: #5F6DD4;
}

.color_or{
	color: #F39831;
}
.bg_color_or{
	background-color: #F39831;
}
.br_color_or{
	border-color: #F39831;
}

.color_bl_w{
	color: #298CC6;
}
.bg_color_bl_w{
	background-color: #298CC6;
}
.br_color_bl_w{
	border-color: #298CC6;
}


.color_red{
	color: #D43553;
}
.bg_color_red{
	background-color: #D43553;
}
.br_color_red{
	border-color: #D43553;
}
/* / color */


ul{
	list-style-type: none;
}

/* party */
.party_sun{

	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #0050C9;
	margin: 150px 0 20px;
}
.party_user{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.party_user img{
	width: 48%;
}
.party_user img:first-child{
	border-bottom-left-radius:30px;
	border-top-left-radius: 30px;
}
.party_user img:last-child{
	border-bottom-right-radius:30px;
	border-top-right-radius: 30px;
}




.party_level_h{
	max-width: 694px;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #F26A08;
	margin: 150px auto 10px;
}
.party_level{
	width: 80%;
	margin: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.party_level_left{
	width: 55%;
}
.party_level_right{
	width: 40%;

	display: -webkit-box;

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.party_level_left h3{
	margin-top: 50px;
	font-size: 24px;
	line-height: 137.19%;
	letter-spacing: 0.05em;
	color: #2F80ED;
	text-align: center;
	background: #FFFFFF;
	-webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	padding: 34px 50px;
	margin-bottom: 60px;
}

.party_level_left ul{
	margin-left: 100px;
}
.party_level_left li{
	position: relative;
	font-weight: 500;
	font-size: 24px;
	line-height: 137.19%;
	letter-spacing: 0.05em;
	color: #4C7AA3;
	max-width: 447px;
	margin-bottom: 60px;
	padding-left: 30px;
}
.party_level_left li:before{
	position: absolute;
	content: "";
	background: url("./../img/program/diamond.png") no-repeat;
	background-size: contain;
	width: 77px;
	height: 84px;
	top: 0;
	right: 100%;
}

.party_level_right_ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 80%;
}
.party_level_right_ul_l{
	width: 25%;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #4C7AA3;
}

.party_level_right_ul_l li{
	margin-bottom: 40px;
	position: relative;
}
.party_level_right_ul_l li:before{
	content: "";
	position: absolute;
	background: #63E06C;
	border-radius: 5px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	width: 20px;
	height: 20px;
	top: 17%;
	left: -50px;
}
.party_level_right_ul_l li:nth-child(2):before{
	background: #5C43F1;
}
.party_level_right_ul_l li:nth-child(3):before{
	background: #FF7924;
}
.party_level_right_ul_l li:nth-child(4):before{
	background: #00A3FF;
}
.party_level_right_ul_l li:last-child{
	margin-bottom: 0;
}
.party_level_right_ul_l li:last-child:before{
	background: #F04564;
}

.party_level_right_ul_r{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.party_level_right_ul_r li{
	margin-bottom: 7%;
	font-size: 16px;
	color: #4C7AA3;

}
.party_level_right_ul_r li:first-child{
	margin: 3% 0 17%;
}

.party_level_right_ul_r span:first-child{
	padding-bottom: 10px;
	display: block;
}


/* //party */
.partners{
	background: url("./../img/program/partners_bg.png") no-repeat;
	background-size: cover;
}
.partners h2{
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #0050C9;
	margin-bottom: 30px;
}

.partners_p_1, .partners_p_2{
	margin: auto;
	max-width: 862px;
	font-size: 16px;
	line-height: 137.19%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #4C7AA3;
}
.partners_p_2{
	margin-top: 40px;
	max-width: 473px;
}
.partners_mob{
	width: 110%;
	margin-left: -10%;
	display: none;
}
.partners .container >h3{
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	color: #0050C9;
	margin: 70px auto 50px;
}

.partners_items{
	margin: auto;
	width: 80%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}
.partners_items_item{
	z-index: 20;
	position: relative;
	margin-bottom: 160px;
	width: 26%;
}
.partners_items_item > div{
	background: #FFFFFF;
	-webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 14.2457px;
}
.partners_items_item_top{
	margin-bottom: 90px;
	/*width: 360px;*/
	min-height: 131px;
	padding: 20px;
	z-index: 40;
}
.partners_items_item_top h4{
	font-size: 22.793px;
	line-height: 27px;
	text-transform: uppercase;

	position: relative;
}
.partners_items_item_top h4:before{
	content: " ";
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	right: 0;
	top: 0;
}
.partners_items_item_top .color_green:before{
	background: #5AAB26
}
.partners_items_item_top .color_fi:before{
	background: #5F6DD4
}
.partners_items_item_top .color_or:before{
	background: #F39831;
}
.partners_items_item_top .color_bl_w:before{
	background: #298CC6
}
.partners_items_item_top .color_red:before{
	background: #D43553
}
.partners_items_item_top p{
	margin-top: 13px;
	font-size: 14px;
	line-height: 18px;
	color: #5793CE;
	text-align: center;
}

.partners_items_item_foot{
	position: relative;
	/*width: 360px;*/
	min-height: 199px;
	border-style: solid;
	border-width: 5px;
}
.partners_arrow{
	width: 49px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	top: 39%;
	z-index: -1;

}
.partners_arrow_mob{
	display: none;
}

.partners_items_item_foot_people{
	position: absolute;
	border-radius: 50% 50% 14px ;
	width: 45px;
	bottom: -2px;
	right: -2px;
}
.partners_items_item_foot_title{
	margin: 22px auto 50px;
	max-width:233px;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #5793CE;
}
.partners_items_item_foot_title span{
	font-weight: bold;
}
.partners_items_item:nth-child(5) .partners_items_item_foot_title,.partners_items_item:nth-child(6) .partners_items_item_foot_title{
	margin: 22px auto 14px;
}
.partners_items_item_foot_text{
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-size: 15px;
	line-height: 19px;
	color: #000000;
}


.partners_footer{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 200px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: right;
	color: #FFFFFF;

}



/*calc*/

.calc{

}
.calc_header{
	text-align: center;
	margin-bottom: 40px;
}
.calc_header h2{
	font-size: 48px;
	line-height: 58px;
	color: #F26A08;
}
.calc_header p{
	font-size: 24px;
	line-height: 29px;
	color: #4C7AA3;
}
.calc_main{
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.calc_main_aside{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 345px;
}
.c-block{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 30px;
}
.c-block label{
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #31ACE1;
	margin-bottom: 15px;
}
.c-block input{
	font-family: Serpentine Sans;
	font-size: 32px;
	line-height: 36px;
	color: #F26A08;
	background: #FFFFFF;
	border: 1px solid #0050C9;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: bold;
	border-radius: 15px;
	padding: 20px 50px 20px 25px;
}
.calc_input{
	font-family: Serpentine Sans;
	font-weight: bold;
	font-size: 32px;
	line-height: 36px;
	color: #0050C9;
	background: #FFFFFF;
	border-radius: 15px;
	width: 100%;
	padding: 20px 100px 25px 20px;
	-webkit-box-shadow: 0px 0px 23px -2px rgba(58,126,231,1);
	box-shadow: 0px 0px 23px -2px rgba(58,126,231,1);
}


.calc_main_body{
	margin-top: 22px;
	margin-left: 130px;
	max-width:700px;
	width: 60%;
}
.calc_main_body_bg_level{
	position: relative;
	margin-bottom: 50px;
}
.calc_main_body_bg_level > img{
	width: 100%;
}
.calc_main_body_bg_level > img:nth-child(2){
	display: none;
}
.status-container img{
	position: absolute;
	width: 183px;
	height: 183px;
	bottom: 20px;
	left: 30px;
}

.calc_main_body .c-block{
	margin-bottom: 45px;
}
.calc_main_body .c-block:nth-child(3){
	margin-bottom: 60px;
}
.calc_main_body_res{
	position: relative;
	background: #FFFFFF;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 23px -2px rgba(58,126,231,1);
	box-shadow: 0px 0px 23px -2px rgba(58,126,231,1);
}
.calc_main_body_res > p{
	text-align: center;
	padding: 33px;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #4C7AA3;
}
.calc_main_body_res_bl{
	margin-left: 135px;
	color: #0050C9;
	font-weight: bold;
}

.calc_main_body_res_bl div{
	font-family: Serpentine Sans;
	font-size: 90px;
	line-height: 102px;
	padding-bottom: 80px;
}
.calc_main_body_res a{
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 25px 50px;
	background: -o-linear-gradient(328.81deg, #70C13E 14.86%, #1FB5A8 93.14%);
	background: linear-gradient(121.19deg, #70C13E 14.86%, #1FB5A8 93.14%);
	-webkit-box-shadow: 0 4px 10px rgba(42, 175, 30, 0.25);
	        box-shadow: 0 4px 10px rgba(42, 175, 30, 0.25);
	border-radius: 14px;
	margin-left: 80px;
}


/* /calc */


/* gifts */

.gifts{
	background: url("./../img/program/gifts_bg.png") no-repeat;
	background-size: cover;

}
.gifts h2{
	padding-top: 120px;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	max-width: 750px;
	color: #FFFFFF;
	margin: auto;
	margin-bottom: 250px;
}
.gifts_ul{
	/*width: 90%;*/
	/*margin: auto;*/
	padding-bottom: 122px;
}
.gifts_ul ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.gifts_achievement{
	margin-bottom: 20px;
}

.gifts_achievement li, .gifts_privileges li{
	width: 163px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0 10px;
	color: #444444;
}
.gifts_achievement li{
	font-size: 16px;
	line-height: 137.19%;
	letter-spacing: 0.05em;
	color: #444444;
}
.gifts_achievement .br_color_bl_w{
	font-size: 14px;
}



.gifts_ul ul li{
	margin-left: 40px;
	background: #FFFFFF;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
}
.gifts_level li:first-child{
	margin-left: 0;
}

.gifts_ul ul:first-child li:first-child{
	width: 297px;
}
.gifts_ul ul:first-child li{
	border-width: 0;
}
.gifts_achievement li:first-child, .gifts_privileges li:first-child{
	background: #0831C1;
	border-radius: 15px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	border: none!important;
	margin-left: 0;
}
.gifts_achievement li:first-child{
	width: 300px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 110px;
	padding: 0 30px;
}
.gifts_privileges li:first-child{
	font-size: 24px;
	padding: 0 30px;
	height: 143px;
	width: 300px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.gifts_level{
	margin-bottom: 22px;
}
.gifts_ul .gifts_level li{
	font-weight: bold;
	position: relative;
	padding-left: 53px;
	width: 163px;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #4C7AA3;
	background: rgba(0,0,0,0);
}
.gifts_level li:before{

	width: 20px;
	height: 20px;
	content: "";
	position: absolute;
	left: 10px;
	top: 5px;

	-webkit-transform: rotate(-45deg) ;

	    -ms-transform: rotate(-45deg) ;

	        transform: rotate(-45deg) ;
	border-radius: 5px;
}
.gifts_gr:before{
	background-color: #63E06C;
}
.gifts_fi:before{
	background-color: #5C43F1;
}

.gifts_bl:before{
	background-color: #00A3FF;
}

.gifts_or:before{
	background-color: #FF7924;
}

.gifts_re:before{
	background-color: #F04564;
}

.gifts_privileges li{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 16px;
	line-height: 137.19%;
	letter-spacing: 0.05em;

}
.gifts_privileges span{
	padding-bottom: 2px;
	font-size: 24px;
	font-weight: 500;
	color: #2F80ED;
}

/* /gifts */

/* maximum */

.maximum{
	padding-top: 100px;
}
.maximum h2{
	width: 100%;
	max-width: 700px;
	margin: auto;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #0050C9;
	margin-bottom: 40px;
}
.maximum_itemsIm{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.maximum_itemsIm_items{
	width: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.maximum_item{
	max-width: 560px;
	padding: 37px 0;
	margin-bottom: 50px;
	font-size: 24px;
	line-height: 137.19%;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.05em;
	color: #2F80ED;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}
.maximum_itemsIm img{
	min-width: 320px;
	width: 24%;
}

/*/ maximum */



/* questions */

.questions{
	background: url(./../img/wallet/wallet_bg_mail.png) no-repeat bottom right;
}

.questions h3{
	margin: auto;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	width: 914px;
	color: #0050C9;
}
.questions_img{
	display: none;
}

.questions_video{
	width: 65%;
	margin: auto;
	position: relative;
	padding-top: 200px;
	padding-left: 120px;
}
.questions_video img{
	position: absolute;
}
.questions_video img:first-child{
	width: 20%;
	z-index: -1;
	max-width: 212px;
	top: 20px;
	left: 0;
}
.questions_video img:last-child{
	max-width: 335px;
	width: 30%;
	z-index: -1;
	top: 0;
	right: 0;
}
.questions_video_in{
	background: #FCF9F9;
	max-width: 680px;
	width: 100%;
	height: 420px;
	border-radius: 20px;
}

.questions_social{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	max-width: 913px;
	margin: 150px auto 0;
	padding-bottom: 700px;
}
.questions_social__tp{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: center;
	background: -o-linear-gradient(355.95deg, #FA9A6D -5.72%, #F9BE77 53.85%, #FFD87D 105.23%);
	background: linear-gradient(94.05deg, #FA9A6D -5.72%, #F9BE77 53.85%, #FFD87D 105.23%);
	border-radius: 15px;
	padding: 57px 25% 30px 70px;
}
.questions_social__tp p{
	max-width: 533px;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 38px;
	color: #FFFFFF;
}
.questions_social__tp_i{
	height: 100%;
	position: relative;
	margin-left: 15px;
	max-width: 377px;
}
.questions_social__tp_i img{
	left: 0;
	top: -190px;
	width: 377.33px;
	height: 327.96px;
	position: absolute;
	max-width: 377px;
}
.questions_social__footer{
	margin: 14px 0 0 40px;
	padding: 11px 28px;
	width: 300px;
	background: #FFFFFF;
	-webkit-box-shadow: 0 4px 10px rgba(81, 145, 242, 0.25);
	        box-shadow: 0 4px 10px rgba(81, 145, 242, 0.25);
	border-radius: 0 0 15px 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.questions_social__footer li{
	width: 32px;
}
.questions_social__footer img{
	width: 100%;
}

/* /questions */

/* footer */



footer{
    height: 255px;
    width: 100%;
    background: url(../img/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.footer_row__left-mobile{
	display: none;
}
.empty{
	color: #fff0;
}
.footer_row{
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer_row__left{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
    width: 40%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20%;
}
.footer_row__left a{
	font-weight: 600;
	font-size: 1vw;
}
.footer_left__column{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 45%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.verHr{
	width: 1px;
	height: 45%;
	background: #263F98;
}
.footer_row__right{
    width: 13%;
    margin-right: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 35%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}
.footer_row__right h3{
	text-transform: uppercase;
	font-size: 1.5vw;
	color: #fff;

}
.soc_icon{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.contentBlockFife{
	margin-top: 10%;
	margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
	width: 80%;
	background: #DDE9F7;
	-webkit-box-shadow: inset 5px -5px 15px rgba(0, 0, 0, 0.25);
	        box-shadow: inset 5px -5px 15px rgba(0, 0, 0, 0.25);
	border-radius: 60px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
}
.contentBlockFife h1{
	color: #F26A08;
	text-align: center;
	margin: 5% 0;
}
.soc_icon img{
	height: 2vw;
	width: 2vw;
	border-radius: 5%;
}
.calendar{
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 100%;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.calendar_open{
	height: 555px !important;
}
.month{
	position: relative;
	width: 365px;
	background: #0B4EB5;
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 23px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 90px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 2% 3%;
	overflow: hidden;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.month_head{
	width: 100%;
	height: 90px;
	background: #625BFF;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: space-evenly;
	-webkit-justify-content: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 23px;
	cursor: pointer;
	z-index: 1;
	padding: 9px 0;
}

.arrow_calendar__left{
	width: 60px;
    height: 40px;
    background: #0B4EB5;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 25px;
    border-radius: 0 5px 5px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
}
.arrow_calendar__right{
	width: 60px;
    height: 40px;
    background: #0B4EB5;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 25px;
    border-radius: 5px 0 0 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
}
.arrow_calendar__left img,
.arrow_calendar__right img{
	width: 60%;
	height: 60%;
}
.month_head p{
	color: #fff;
	margin: 10px 0 5px 0;
}
.month_name{
	font-size: 18px;
}
.year{
	font-size: 14px;
}
.month .hr{
	display: block;
	background: #8883F4;
	border-radius: 10px;
	width: 40px;
	height: 3px;
}
.week{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 20px 0;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.week p{
	color: #908BFF;
	font-weight: bold;
	width: 41.7px;
	text-align: center;
}
.day{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 80%;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.day p{
    width: 41.7px;
    height: 18.7px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 9px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: default;
}
.day div.orange_left{
	background: #F6B168;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.orange_right{
	background: #F6B168;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
p.orange{
	background: #F6B168;
	border: 0;
}
p.blue{
	background: #5AC9EC;
	border: 0;
}
p.green{
	background: #73D734;
	border: 0;
}
p.yellow{
	background: #E9BC18;
	border: 0;
}
p.circle_orange{
	width: 35.7px;
	height: 35.7px;
	background: #F48640;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
p.circle_gradient{
	width: 35.7px;
	height: 35.7px;
	background: -o-linear-gradient(310.18deg, #62FF00 18.61%, #FF6E40 93.24%);
	background: linear-gradient(139.82deg, #62FF00 18.61%, #FF6E40 93.24%);
	border-radius: 50%;
    margin: 0 0 0 3px;
    color: #0B4EB5;
}
.day div.green_left{
	background: #73D734;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.green_right{
	background: #73D734;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
.day div.orange_middle{
	background: #73D734;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
}
p.circle_green{
	width: 35.7px;
	height: 35.7px;
	background: #89EF49;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
.day div.blue_left{
	background: #5AC9EC;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.blue_right{
	background: #5AC9EC;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
p.circle_blue{
	width: 35.7px;
	height: 35.7px;
	background: #00B6EF;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
.day div.yellow_left{
	background: #E9BC18;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.yellow_right{
	background: #E9BC18;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
p.circle_yellow{
	width: 35.7px;
	height: 35.7px;
	background: #FFCA0B;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
.eventDesc{
	background: #fff;
	border-radius: 23px;
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.eventDesc{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    padding: 15px 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	background: #fff;
	border-radius: 23px;
}
.yellow_desc{
	background: #FFCA0B;
	color: #2E27D9;
	text-align: center;
}
.eventDesc p{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #5B5B5E;
	cursor: default;
}
.eventDesc h2{
	cursor: default;
}
.dot_orange,
.dot_blue,
.dot_gradient,
.dot_yellow,
.dot_green{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 15px;
}
.dot_orange{
	background: #F48640;
}
.dot_blue{
	background: #00B6EF;
}
.dot_gradient{
	background: -o-linear-gradient(310.18deg, #62FF00 18.61%, #FF6E40 93.24%);
	background: linear-gradient(139.82deg, #62FF00 18.61%, #FF6E40 93.24%);
}
.dot_yellow{
	background: #FFCA0B;
}
.dot_green{
	background: #89EF49;
}
.long{
	padding: 15px 30px;
}
.tall{
	height: 135px;
}
.fone4{
	background: url(../img/Fone4.png);
	width: 100%;
	height: 8000px;
	background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -2;
    margin-top: -700px;
}
.open_calendar{
	height: 500px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.opacity_calendar{
	opacity: 1;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

/* Valik media*/
@media (max-width: 1293px) {
	.partners{
		background-image: none;
	}
	.partners_items{
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.partners_mob{
		display: block;
	}
	.partners_items .partners_items_item{
		width: 40%;
		margin-bottom: 50px;
	}
	.partners_arrow{
		top: 41%;
	}
	.partners_arrow_del{
		display: none;
	}
	.partners_arrow_mob{
		display: block;
	}
	.partners_items .partners_items_item:nth-child(odd){
		margin-right: 20px;
	}
	.partners_items .partners_items_item:nth-child(4){
		display: none;
	}
	.partners_items .partners_items_item:nth-child(5){
		margin-right: 0;
	}
	.partners_footer{
		color: #F39831;
		text-align: center;
	}
}
@media (max-width: 1194px){

	/*media gifts*/
	ul.gifts_level{
		display: none;
	}
	div.gifts_ul{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.gifts_ul ul{
		border-radius: 15px;
		background-color: #0831C1;
		width: 40%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: 100%;
	}
	.gifts_ul ul li{
		height: 136px;
		width: 100%;
		margin-left: 0;
		margin-bottom: 30px;
		position: relative;
	}
	.gifts_privileges li span:first-child{
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		top: 10px;
	}
	.gifts_ul ul li:first-child{
		width: 100%;
		height: 136px;
		font-size: 24px;
		margin-bottom: 0;
	}
	.gifts_ul ul li:last-child{
		margin-bottom: 0;
	}
	.gifts_ul .br_color_green_foot{
		width: 20px;
		height: 20px;
		border-radius: 5px;
		content: "";
		-webkit-transform: rotate(-45deg) translateX(-50%);
		    -ms-transform: rotate(-45deg) translateX(-50%);
		        transform: rotate(-45deg) translateX(-50%);
		position: absolute;
		bottom: 20px;
		left: 50%;
	}
	/*  /media gifts */
	.questions_video{
		padding-left: 0;
	}


}


@media (max-width: 950px) {
	.questions{
		background: url(./../img/wallet/wallet_bg_mail_m.png) no-repeat bottom;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.questions_img{
		display: inline-block;
		margin: auto;
		max-width: 300px;
		position: relative;
		margin-bottom: -97px;
	}
	.questions_social{
		margin-top: 0;
	}
	.questions_social__tp{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.questions_social__tp{
		margin: auto;
		text-align: center;
		padding: 100px 20px 30px;
	}
	.questions_social__tp_i_d{
		display: none;
	}
	.questions_social{
		padding-bottom: 100px;
	}
	.questions_social__footer{
		margin: 14px auto;
	}
	.partners_items .partners_items_item:nth-child(odd){
		margin:0 auto 30px!important;
	}
	.partners_items{
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.partners_items .partners_items_item{
		max-width: 400px;
		width: 100%!important;
		margin: 0 auto 30px;
	}
}

@media (max-width: 700px) {
	.party_user{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.party_user img{
		width: 100%;
		border-radius: 30px;
		margin-bottom: 30px;
	}

	.maximum_itemsIm{
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;

	}
	.maximum_itemsIm> *{
		width: 100%;
	}

	.questions h3{
		line-height: 29px;
		font-size: 24px;
		width: 90%;
	}
	.questions_social__tp p{
		font-size: 18px;
	}
	.questions_social__footer{
		width: auto;
	}
}

@media (max-width: 549px) {
	.gifts{
		background: url("./../img/program/gifts_bg_mob.png") no-repeat;
		background-size: contain;
	}
	.gifts_ul ul{
		width: 48%;
	}
	.partners_footer{
		font-size: 16px;
		color: #4C7AA3;
		width: 100%;
		padding-bottom: 100px;
	}

	.gifts h2{
		margin-top: 70px;
		line-height: 34px;
		font-size: 28px;
	}
	.maximum h2{
		font-size: 24px;
		line-height: 29px;
	}
}

/* /valik media*/

@media (max-width: 1440px) {
	.promoContent{
		height: 900px;
	}
	.contentBlockTwo_row__text p{
		font-size: 1.4vw;
	}
	.promoContent_info{
		margin: 5% 10%
	}
	.contentBlockOne_row{
		width: 65%;
	}
	.calc-body .f-row{
		width: 80%;
	}
	.contentBlockTwo_row__element,
	.contentBlockTwo_row__img{
		width: 330px;
	}
	.contentBlockThree_head__row{
		width: 60%;
	}
	.contentBlockThree_download .ios{
	    width: 331px;
    	height: 385px;
	}
	.contentBlockThree_download .ios a{
	    bottom: 125px;
    	left: 25%;
	}
	.contentBlockThree_download .android{
	    width: 331px;
    	height: 397px;
	}
	.contentBlockThree_download .android a{
		right: 23%;
		padding: 25px 50px;
	}
	.contentBlockThree_download{
		margin-top: 40px;
	}
	.contentBlockThree_head{
		margin-top: 170px;
	}
	.footer_row__left{
		margin-left: 10%;
		width: 50%;
	}
	.footer_row__right{
		width: 240px;
		height: 30%;
	}
	.contentBlockTwo_row__img{
		top: -270px;
	}
	.contentBlockTwo_row__head .img1{
		top: -210px;
	}
	.contentBlockTwo_row__head .img2{
		top: -260px;
	}
	.img1 img{
		height: 50%;
		width: 55%;
	}
	.img2 img{
		height: 65%;
	}
	.img3 img{
		height: 70%;
	}
	.menu_button{
		width: 145px;
		height: 145px;
	}
	.button_top__close{
		left: 49%;
		top: 7%;
	}
	.footer_row__left a{
		font-size: 1.2vw;
	}
}
@media (min-width: 993px) and (max-width: 1199px) {
	h1{
		font-size: 3.5vw;
	}
	.promoContent_info {
		width: 40%;
	}
	.contentBlockTwo_row{
		margin-top: 15%;
	}
	.contentBlockTwo_row__element{
		margin: 15% 0;
		height: 450px;
	}
	.contentBlockTwo_row__button a{
		font-size: 1.3vw;
	}
	.ele2{
		margin: 15% 5%;
	}
	.contentBlockThree_head{
		margin-top: 0px;
	}
	.contentBlockThree_laptop img{
		width: 85%;
	}
	.contentBlockThree_wallet img{
		width: 61%;
	}
	.contentBlockFife{
		width: 85%;
	}
	.footer_row__left{
		margin-left: 5%;
		width: 55%;
	}
	.footer_row__right{
		margin-right: 5%;
		height: 25%;
	}
	.footer_row__right h3{
		text-align: center;
	}
	.contentBlockFour{
		margin-top: 200px;
	}
	.contentBlockThree_download .ios{
		margin-right: 0;
		margin-bottom: 100px;
	}
	.contentBlockThree_download{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contentBlockThree_download{
		margin-top: 150px;
	}
	.head_row__left,
	.head_row__right{
		width: 45%;
	}
	.contentBlockThree_head__row{
		width: 70%;
	}
	.footer_row__left a{
		font-size: 1.5vw;
	}
	.footer_row__right h3{
		font-size: 2vw;
	}
	.soc_icon img{
		width: 3vw;
		height: 3vw;
	}
	.calc_head p{
		font-size: 2.25vw;
	}
	.promoContent_info__up a{
		font-size: 1.5vw;
	}
	.promoContent_info__down a{
		font-size: 2.5vw;
	}
	.promoContent_info__up p{
		font-size: 2.5vw;
	}
}
@media (max-width: 992px) {


	.calc_main{
		width: 90%;
		margin: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.calc_main_aside{
		width: 100%;
		max-width: none;
	}
	.calc_main_aside .c-block:last-child{
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
	}
	.calc_main_body{
		max-width: none;
		margin-left: 0;
		width: 100%;
	}
	.calc_main_body_bg_level > img:first-child{
		display: none;
	}
	.calc_main_body_bg_level > img:nth-child(2){
		display: block;
		margin: 150px 0 100px;
	}
	.status-container img{
		top: 0;
		-webkit-transform: translateY(-50%) translateX(-50%);
		    -ms-transform: translateY(-50%) translateX(-50%);
		        transform: translateY(-50%) translateX(-50%);
		left: 50%;
	}

	.calc_main_body_res{
		text-align: center;
	}
	.calc_main_body_res_bl{
		margin-left: 0;
	}
	.calc_main_body_res a{
		margin-left: 0;
	}

	h1{
		font-size: 3.5vw;
	}
	.promoContent_info__down a{
		font-size: 3vw;
	}
	.menu_button{
		width: 130px;
		height: 130px;
	}
	.button_top{
		top: 17%
	}
	.button_bottom{
		bottom: 45%;
	}
	.button_top__close{
		top: 4%;
	}
	.promoContent_info__up p{
		font-size: 3vw;
	}
	.promoContent_info__up a{
		font-size: 2vw;
	}
	.contentBlockTwo_row__button a {
    	font-size: 1.3vw;
	}
	.contentBlockTwo_row__text p{
		font-size: 2vw;
	}
	.contentBlockTwo_row__head h2{
		font-size: 3vw;
	}
	.contentBlockTwo_row__head h6{
		font-size: 1.8vw;
	}
	.calc_head p{
		font-size: 2.25vw;
	}
	.promoContent{
		height: 800px;
	}
	.promoContent_info {
		width: 50%;
		margin: 5%;
	}
	.contentBlockOne_row{
		width: 85%;
	}
	.contentBlockTwo_row{
		margin-top: 15%;
	}
	.contentBlockTwo_row__element{
		margin: 20% 0;
		height: 450px;
	}
	.ele2{
		margin: 20% 3%;
	}
	.contentBlockThree_head{
		margin-top: 0px;
	}
	.contentBlockThree_laptop img{
		width: 95%;
	}
	.contentBlockThree_wallet img{
		width: 70%;
	}
	.contentBlockFife{
		width: 85%;
	}
	.footer_row__left{
		margin: 0 5%;
		width: 90%;
	}
	.footer_row__right{
		margin-right: 5%;
	}
	.contentBlockFour{
		margin-top: 200px;
	}
	.contentBlockThree_download .ios{
		margin-right: 0;
		margin-bottom: 100px;
	}
	.contentBlockThree_download{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contentBlockThree_download{
		margin-top: 150px;
	}
	.head_row__left,
	.head_row__right{
		width: 45%;
	}
	.contentBlockThree_head__row{
		width: 70%;
	}
	.contentBlockFour_ui{
		margin-top: 30px;
	}
	.calendar{
		height: 125px;
	}
	.month{
		display: none;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
	.m1{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.arrow_calendar__left,
	.arrow_calendar__right{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		cursor: pointer;
	}
	.month_left{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		left: -900px;
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
	}
	.month_middle{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		left: 50%;
    	-webkit-transform: translateX(-50%);
    	    -ms-transform: translateX(-50%);
    	        transform: translateX(-50%);
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
	}
	.month_right{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
    	left: 900px;
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
	}
	footer{
		height: 230px;
		background: url(../img/Footer2.png);
	}
	.footer_row__right{
		height: 25%;
	}
	.footer_row__right h3{
		text-align: center;
		font-size: 2vw;
	}
	.soc_icon img{
		width: 2.5vw;
		height: 2.5vw;
	}
	.footer_row__left a{
		font-size: 1.8vw;
	}
}
@media (max-width: 767px) {
	h1{
		font-size: 24px;
	}
	p{
		font-size: 16px;
	}
	.promoContent_info__down a{
		font-size: 18px;
		padding: 20px 80px;
	}
	.menu_button{
		width: 130px;
		height: 130px;
	}
	.button_top{
		top: 17%
	}
	.button_bottom{
		bottom: 45%;
	}
	.button_top__close{
		top: 4%;
	}
	.contentBlockThree_head h2{
		font-size: 18px;
	}
	.promoContent_info__up p{
		font-size: 18px;
	}
	.promoContent_info__up a{
		font-size: 12px;
		padding: 20px 60px;
		margin-top: 10%;
    	margin-bottom: 13%;
	}
	.contentBlockTwo_row__button a {
    	font-size: 16px;
	}
	.contentBlockTwo_row__text p{
		font-size: 16px;
	}
	.contentBlockTwo_row__head h2{
		font-size: 22px;
	}
	.contentBlockTwo_row__head h6{
		font-size: 14px;
	}
	.calc_head p{
		font-size: 14px;
	}
	.promoContent{
		height: 650px;
	}
	.promoContent_info {
		width: 50%;
		margin: 5%;
	}
	.contentBlockOne_row{
		width: 85%;
	}
	.contentBlockTwo_row{
		margin-top: 15%;
	}
	.contentBlockTwo_row__element{
		margin: 30% 0;
		height: 450px;
	}
	.ele2{
		margin: 30% 3%;
	}
	.contentBlockThree_head{
		margin-top: 0px;
	}
	.lap1{
		display: none;
	}
	.lap2{
		display: block;
	}
	.contentBlockThree_laptop img{
		width: 60%;
	}
	.contentBlockThree_wallet img{
		width: 70%;
		margin-left: 0;
		margin-top: 5%;
	}
	.wall1{
		display: none;
	}
	.wall2{
		display: block;
	}
	.contentBlockFife{
		width: 85%;
	}
	.footer_row__left{
		margin: 0 5%;
		width: 90%;
	}
	.footer_row__right{
		margin-right: 5%;
	}
	.contentBlockFour{
		margin-top: 200px;
	}
	.contentBlockThree_download .ios{
		margin-right: 0;
		margin-bottom: 100px;
	}
	.contentBlockThree_download{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contentBlockThree_download{
		margin-top: 150px;
	}
	.head_row__left,
	.head_row__right{
		width: 45%;
	}
	.contentBlockThree_head__row{
		width: 95%;
	}
	.contentBlockFour_ui{
		margin-top: 30px;
	}
	.calendar{
		height: 125px;
	}
	.month{
		display: none;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
	.m1{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.arrow_calendar__left,
	.arrow_calendar__right{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		cursor: pointer;
	}
	.month_left{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		left: -900px;
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
	}
	.month_middle{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		left: 50%;
    	-webkit-transform: translateX(-50%);
    	    -ms-transform: translateX(-50%);
    	        transform: translateX(-50%);
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
	}
	.month_right{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
    	left: 900px;
    	-webkit-transition: 1s;
    	-o-transition: 1s;
    	transition: 1s;
	}
	footer{
		height: 500px;
	    background-position: center;
	    background: url(../img/Footer2.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.verHr{
		display: none;
	}
	.footer_row{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.footer_row__right{
		height: 25%;
		margin:0 0 5% 20%;
	}
	.footer_row__right h3{
		text-align: center;
		font-size: 24px;
	}
	.soc_icon img{
	    width: 35px;
    	height: 35px;
	}
	.footer_row__left a{
		font-size: 16px;
	}
	.ui2{
		display: block;
	}
	.ui1{
		display: none;
	}
	.fone4{
		margin-top: -1630px;
	}
	.contentBlockFour_head{
		display: none;
	}
	.month{
		margin: 0;
	}
	.footer_row__left{
		display: none;
	}
	.footer_row__left-mobile{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
		width: 70%;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.footer_row__left-mobile .Hr{
		height: 80%;
		width: 2px;
		background: #ffffff6b;
		margin-top: 5%;
	}
	.footer_left__column{
		height: 80%;
		margin-top: 5%;
	}
	.footer_left__column a{
		font-size: 18px;
	}
}
@media (max-width: 480px) {
	.gifts_ul ul li:first-child{
		font-size: 18px;
	}
	.party_sun{
		font-size: 24px;
		margin-top: 280px;
	}


	.partners h2{
		font-size: 27px;
	}
	.partners .container >h3{
		font-size: 24px;
	}


	.calc .container, .calc_main{
		width: 100%;
	}
	.calc_header h2{
		font-size: 24px;
	}
	.calc_header p{
		font-size: 16px
	}
	.c-block{
		width: 90%;
		margin: 0 auto 40px;
	}
	.c-block input{
		padding: 20px 0 20px 20px ;
	}
	.calc_main_body_bg_level > img:nth-child(2){
		margin: 100px auto 50px;
	}
	.calc_input{
		padding: 20px 0 20px 25px;
	}
	.calc_main_body_res{
		margin: auto;
		width: 90%;

	}



	.menu_button{
		width: 100px;
		height: 100px;
	}
	.button_top{
		left: 49%;
		top: 8%;
	}
	.button_bottom{
		right: 21%;
		bottom: 36%;
	}
	.button_top__close{
		left: 43%;
		top: -4%;
	}
	.promoContent{
		background: url(../img/Promo_background__small.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 1px -1px;
	}
	.promoContent_logo{
		display: none;
	}
	.promoContent_info{
		width: 80%;
		margin: 80% 10% 10% 10%;
	}
	.promoContent_info__up p{
		width: 60%;
		font-size: 20px;
	}
	.contentBlockOne{
		margin-top: -200px;
	}
	.calc_head{
		width: 95%;
		margin: 10% 0 5% 0;
	}
	.contentBlockTwo{
		margin-top: 80px;
	}
	.contentBlockTwo_row{
		margin-top: 30%;
	}
	.contentBlockTwo_row__element{
		width: 90%;
	}
	.ele2{
		margin: 50% 3%;
	}
	.contentBlockThree_head__row{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.head_row__left,
	.head_row__right{
		width: 90%;
    	-webkit-align-self: center;
    	    -ms-flex-item-align: center;
    	        align-self: center;
	}
	.head_row__right{
		margin-top: 60px;
	}
	.contentBlockThree_laptop{
		margin-top: 50px;
	}
	.contentBlockThree_laptop img{
		width: 80%;
	}
	.contentBlockThree_wallet img{
		width: 80%;
	}
	.contentBlockThree_download{
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-top: 60px;
	}
	.contentBlockThree_download .ios{
		width: 270px;
    	height: 314px;
	}
	.contentBlockThree_download .ios a{
	    bottom: 95px;
    	left: 25%;
    	padding: 20px 60px;
	}
	.contentBlockThree_download .android{
		width: 270px;
		height: 324px;
	}
	.contentBlockThree_download .android a{
		right: 23%;
		padding: 20px 35px;
	}
	.contentBlockFour{
		margin-top: 100px;
	}
	.contentBlockFife{
		width: 95%;
		border-radius: 20px;
	}
	.footer_left__column a{
		font-size: 16px;
	}
	.footer_row__left-mobile{
		width: 90%;
	}
	.footer_row__right{
		height: 20%;
	}
	.footer_row__right h3{
		font-size: 20px;
	}
	.fone2{
		height: 4800px;
	}
	.contentBlockFife h1{
		padding: 0 10px;
	}

	.month{
		width: 290px;
	}
	.week{
		width: 95%;
	}
	.day{
		width: 95%;
	}
	.day p{
		width: 38.7px;
	}
	p.circle_green{
		margin: -9px 0 0 1.5px;
	}
	p.circle_blue{
		margin: -9px 0 0 1.5px;
	}
	p.circle_yellow{
		margin: -9px 0 0 1.5px;
	}
	p.circle_orange{
		margin: -9px 0 0 1.5px;
	}
	p.circle_gradient{
		margin: -9px 0 0 1.5px;
	}
	.day div.green_left,
	.day div.green_right,
	.day div.orange_left,
	.day div.orange_right,
	.day div.yellow_left,
	.day div.yellow_right,
	.day div.blue_right,
	.day div.blue_left{
		width: 38.7px;
	}
}

































