*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
img{
	height: 100%;
	width: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
h1{
	font-size: 2.5vw;
	user-select: none;
}
.wrapper{
	overflow-y: hidden;
	width: 100%;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.promoContent{
    background: url(../img/Promo_background.png);
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_button{
	width: 156px;
	height: 156px;
	background: #6C9EF4;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 0 0 0 100%;
	cursor: pointer;
	z-index: 999999;
	transition: .3s;
}
.button_middle{
	position: absolute;
    display: block;
    height: 50px;
    width: 6px;
    background: #fff;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.button_top{
	display: block;
	background: #fff;
	height: 30px;
	left: 54%;
	top: 18%;
	width: 6px;
	position: absolute;
	transform: rotate(45deg);
	transition: .5s;
}
.button_bottom{
	display: block;
	background: #fff;
	height: 30px;
	right: 26%;
	bottom: 46%;
	width: 6px;
	position: absolute;
	transform: rotate(45deg);
	transition: .5s;
}
.button_top__close{
	display: block;
    background: #fff;
    height: 50px;
    left: 50%;
    top: 9%;
    width: 6px;
    position: absolute;
    transform: rotate(135deg) translate(-50%, -50%);
    transition: .5s;
}
.menu_back{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
.menu_back__layer{
	z-index: 10;
}
.bg_middel{
	position: absolute;
	display: block;
	background: #000;
	left: 50%;
	top: 50%;
	width: 0;
	height: 250vh;
	transform: translate(-50%, -50%) rotate(45deg);
	transition: 1s;
}
.bg_top{
    position: absolute;
    display: block;
    height: 250vh;
    width: 0;
    background: #000;
    left: 40vh;
    bottom: 0;
    transform: rotate(45deg) translateY(40%);
    transition: 1s;
}
.bg_bottom{
    position: absolute;
    display: block;
    height: 250vh;
    width: 0;
    background: #000;
    right: 40vh;
    transform: rotate(45deg) translateY(-40%);
    transition: 1s;
}
.bg_opan{
	width: 700px;
	height: 250vh;
}
.fone1{
    top: 0;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 6300px;
    background: url(../img/saving_back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.promoContent_logo{
	width: 75%;
	user-select: none;
}
.promoContent_info{
	margin: 3% 15%;
	width: 30%;
    font-family: 'Russo One', sans-serif;
}
.promoContent_info__up{
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promoContent_info__up a{
	z-index: 1;
	padding: 25px 80px;
	text-decoration: none;
	margin-top: 45px;
	margin-bottom: 50px;
	font-size: 1vw;
	text-transform: uppercase;
	background: linear-gradient(125.98deg, #70C13E 14.86%, #1FB5A8 93.14%);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.promoContent_info__up p{
	font-size: 2vw;
	color: #0050C9;
	text-align: center;
	width: 80%;
	margin-top: 10%;
}
.promoContent_info__down{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 15%;
}
.promoContent_info__down a{
	z-index: 1;
	background: #0B4EB5;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 25px 105px;
	font-size: 2vw;
	width: fit-content;
}
.info_down{
	display: none;
	width: 260px;
	height: 100px;
	background: #fff;
	position: relative;
	margin-top: -35px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	cursor: pointer;
}
.info_down .arrow{
	display: block;
	position: absolute;
	bottom: 20px;
	left: 45%;
	background: #0050C9;
	transform: translateX(-50%);
	width: 4px;
	border-radius: 5px;
	height: 30px;
	transform: rotate(-50deg);
}
.info_down .arrow:after{
	content: "";
    display: block;
    background: #0050C9;
    width: 4px;
    border-radius: 5px;
    height: 30px;
    position: absolute;
    transform: rotate(100deg);
    left: 13px;
    top: 16px;
}
.contentBlockOne{
	position: relative;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	margin-top: -130px;
	padding-top: 250px;
}
.contentBlockOne_row__element{
	width: 260px;
	height: 300px;
	background: #FFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    cursor: default;
    user-select: none;
    margin: 25px;
    padding: 30px;
}
.contentBlockOne_row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
	color: #455A69;
	margin-top: 10px;
}
.circle_element{
	width: 190px;
    height: 190px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentBlockOne_row__element:hover{
	transform: scale(1.1);
	transition: .4s
}
.circle_element p{
	text-align: center;
	width: 90%;
}
.circle_element span{
	font-size: 42px;
	font-weight: bold;
}
.green{
	border: 3px solid #67CA7C;
}
.green span{
	color: #55CF68;
}
.orange{
	border: 3px solid #FFB21C;
}
.orange span{
	color: #FD965C;
}
.blue{
	border: 3px solid #68B8F2;
}
.blue span{
	color: #90C2F0;
}
.purple{
	border: 3px solid #B568B7;	
}
.purple span{
	color: #DF82BA;	
}
.calc_head{
	margin: 140px 0 60px 0;
}
.calc_head h1{
	text-align: center;
	color: #F26A08;
}
.calc_head p{
	font-size: 1.25vw;
	color: #4C7AA3;
	text-align: center;
	margin-top: 5px;
}
.contentBlockTwo{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contentBlockTwo_head h1{
	color: #0050C9;
	text-align: center;
}
.img2{
	margin: 0 5%;
}
.contentBlockTwo_row__img{
	width: 360px;
	display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -10px;
    z-index: 1;
    transition: .3s;
}
.contentBlockTwo_row__img img{
	width: 80%;
	height: 75%;
	transition: .3s;
}
.contentBlockTwo_row{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 25%;
	flex-wrap: wrap;
}
.contentBlockTwo_row__element{
	width: 25%;
	padding: 40px 0 45px 0;
	height: 540px;
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 36px;
	background: #fff;
	position: relative;
	transition: .3s;
}
.ele2{
	margin: 0 5%;
}
.contentBlockTwo_row__element:hover{
	transform: scale(1.1);
	transition: .3s;
}
.contentBlockTwo_row__head{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #CCD3DE;
	width: 100%;
}
.contentBlockTwo_row__head h6{
	color: #0A4DB4;
	font-size: 1.5vw;
}
.contentBlockTwo_row__head h2{
	font-size: 2vw;
	color: #0A4DB4;
}
.img1 img{
	height: 55%;
	width: 55%;
}
.contentBlockTwo_row__head .img1{
	top: -230px;
}
.contentBlockTwo_row__head .img2{
	top: -280px;
}
.img2 img{
	height: 70%;
}
.contentBlockTwo_row__img{
	position: absolute;
	top: -300px;
}
.contentBlockTwo_row__text p:first-child{
	padding-top: 40px; 
}
.contentBlockTwo_row__text p{
	font-size: 1.2vw;
	color: #4C7AA3;
	text-align: center;
	padding: 20px 35px;
}
.contentBlockTwo_row__text p span{
	font-size: 32px;
	font-weight: bold;
}
.contentBlockTwo_row__button{
	position: absolute;
	bottom: 45px;
	left: 50%;
	transform: translateX(-50%);
}
.contentBlockTwo_row__button a{
	color: #0E43FF;
	font-family: Russo One;
	text-transform: uppercase;
	border: 1px solid #0E43FF;
	box-sizing: border-box;
	box-shadow: inset 5px 5px 50px rgba(205, 229, 247, 0.25);
	border-radius: 14px;
	padding: 17px 40px;
	font-size: 1vw;
}
.fone2{
	margin-top: -950px;
    position: absolute;
    z-index: -1;
    background: url(../img/Fone2.png);
    height: 5000px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contentBlockThree_head{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 280px;
}
.dot_line{
	position: relative;
}
.dot{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%
}
.dot:before{
	position: absolute;
	left: 25px;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
}
.dot:after{
	position: absolute;
	right: 25px;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
}
.contentBlockThree{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contentBlockThree_head h1{
	margin-top: 35px;
	color: #fff;
}
.contentBlockThree_head p{
	margin-top: 50px;
	color: #fff;
}
.contentBlockThree_head h2{
	margin-top: 20px;
	color: #fff;
}
.contentBlockThree_head__row{
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin-top: 55px;
}
.head_row__left,
.head_row__right{
	width: 40%;
	background: #fff;
	border-radius: 35px;
	height: 215px;
	display: flex;
	flex-direction: column;
	box-shadow: inset 5px 5px 50px rgba(205, 229, 247, 0.25);
}
.head_row__left p,
.head_row__right p{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #4C7AA3;
}
.head_row__left p.head,
.head_row__right p.head{
	color: #F26A08;
	padding-top: 25px; 
}
p.middle{
	margin: 12px 0;
}
p.first{
	margin-top: 20px;
}
.contentBlockThree_laptop{
	width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 135px;
}
.contentBlockThree_laptop img{
	width: 80%;
}
.lap2{
	display: none;
}
.contentBlockThree_wallet{
	display: flex;
	justify-content: center;
	position: relative;
}
.contentBlockThree_wallet img{
    width: 58%;
    margin-top: -10%;
    margin-left: -1%;
}
.wall2{
	display: none;
}
.contentBlockThree_download{
	display: flex;
    width: fit-content;
    justify-content: space-between;
}
.contentBlockThree_download a{
	position: absolute;
	font-family: Russo One;
	text-transform: uppercase;
}
.contentBlockThree_download .ios{
	background: url(../img/IOS.png);
	background-size: cover;
	width: 387px;
	height: 450px;
	margin-right: 140px;
	position: relative;
}
.contentBlockThree_download .android{
	background: url(../img/ANDROID.png);
	background-size: cover;
	width: 376px;
	height: 450px;
	position: relative;
}
.contentBlockThree_download .ios a{
	bottom: 150px;
	left: 30%;
	background: linear-gradient(114.07deg, #70C13E 14.86%, #1FB5A8 93.14%);
	box-shadow: 0px 4px 10px rgba(42, 175, 30, 0.25);
	border-radius: 14px;
	padding: 25px 70px;
}
.contentBlockThree_download .android a{
	bottom: 150px;
	right: 24%;
	background: linear-gradient(114.07deg, #70C13E 14.86%, #1FB5A8 93.14%);
	box-shadow: 0px 4px 10px rgba(42, 175, 30, 0.25);
	border-radius: 14px;
	padding: 25px 60px;	
}
.contentBlockFour{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 250px;
}
.contentBlockFour_head h1,
.contentBlockFour_head p{
	text-align: center;
}
.contentBlockFour_head h1{
	color: #fff;
}
.contentBlockFour_head p{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-top: 30px;
}
.contentBlockFour_ui{
	margin-top: 70px;
	position: relative;
	z-index: 0;
}
.ui2{
	display: none;
}
.contentBlockFour_ui img{
	width: 100%;
}
.shadow{
	position: absolute;
	height: 200px;
	width: 80%;
	background: rgba(0, 0, 0, 0.3);
	filter: blur(50px);
	border-radius: 60px;
	bottom: -100px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%);
}
footer{
	margin-top: 150px;
    height: 255px;
    width: 100%;
    background: url(../img/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    user-select: none;
}
.footer_row__left-mobile{
	display: none;
}
.empty{
	color: #fff0;
}
.footer_row{
	height: 100%;
	display: flex;
    justify-content: space-between;
}
.footer_row__left{
	display: flex;
	height: 100%;
	justify-content: space-around;
    width: 40%;
    align-items: center;
    margin-left: 20%;
}
.footer_row__left a{
	font-weight: 600;
	font-size: 1vw;
}
.footer_left__column{
	display: flex;
	height: 45%;
	flex-direction: column;
	justify-content: space-between;
}
.verHr{
	width: 1px;
	height: 45%;
	background: #263F98;
}
.footer_row__right{
    width: 13%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
    align-self: center;
}
.footer_row__right h3{
	text-transform: uppercase;
	font-size: 1.5vw;
	color: #fff;

}
.soc_icon{
	display: flex;
	justify-content: space-between;
}
.contentBlockFife{
	margin-top: 10%;
	margin-left: 50%;
    transform: translateX(-50%);
	width: 80%;
	background: #DDE9F7;
	box-shadow: inset 5px -5px 15px rgba(0, 0, 0, 0.25);
	border-radius: 60px;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.contentBlockFife h1{
	color: #F26A08;
	text-align: center;
	margin: 5% 0;
}
.soc_icon img{
	height: 2vw;
	width: 2vw;
	border-radius: 5%;
}
.calendar{
	overflow: hidden;
	display: flex;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	transition: 1s;
}
.calendar_open{
	height: 555px !important;
}
.month{
	position: relative;
	width: 365px;
	background: #0B4EB5;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 23px;
	display: flex;
	height: 90px;
	flex-direction: column;
	align-items: center;
	margin: 2% 3%;
	overflow: hidden;
	transition: .5s;
	user-select: none;
}
.month_head{
	width: 100%;
	height: 90px;
	background: #625BFF;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 23px;
	cursor: pointer;
	z-index: 1;
	padding: 9px 0;
}

.arrow_calendar__left{
	width: 60px;
    height: 40px;
    background: #0B4EB5;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 25px;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.arrow_calendar__right{
	width: 60px;
    height: 40px;
    background: #0B4EB5;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 25px;
    border-radius: 5px 0 0 5px;
    justify-content: center;
    align-items: center;
    display: none;
}
.arrow_calendar__left img,
.arrow_calendar__right img{
	width: 60%;
	height: 60%;
}
.month_head p{
	color: #fff;
	margin: 10px 0 5px 0;
}
.month_name{
	font-size: 18px;
}
.year{
	font-size: 14px;
}
.month .hr{
	display: block;
	background: #8883F4;
	border-radius: 10px;
	width: 40px;
	height: 3px;
}
.week{
	display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
    opacity: 0;
    transition: .5s;
}
.week p{
	color: #908BFF;
	font-weight: bold;
	width: 41.7px;
	text-align: center;
}
.day{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    opacity: 0;
    transition: .5s;
}
.day p{
    width: 41.7px;
    height: 18.7px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 9px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.day div.orange_left{
	background: #F6B168;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.orange_right{
	background: #F6B168;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
p.orange{
	background: #F6B168;
	border: 0;
}
p.blue{
	background: #5AC9EC;
	border: 0;
}
p.green{
	background: #73D734;
	border: 0;
}
p.yellow{
	background: #E9BC18;
	border: 0;
}
p.circle_orange{
	width: 35.7px;
	height: 35.7px;
	background: #F48640;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
p.circle_gradient{
	width: 35.7px;
	height: 35.7px;
	background: linear-gradient(139.82deg, #62FF00 18.61%, #FF6E40 93.24%);
	border-radius: 50%;
    margin: 0 0 0 3px;
    color: #0B4EB5;
}
.day div.green_left{
	background: #73D734;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.green_right{
	background: #73D734;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
.day div.orange_middle{
	background: #73D734;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
}
p.circle_green{
	width: 35.7px;
	height: 35.7px;
	background: #89EF49;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
.day div.blue_left{
	background: #5AC9EC;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.blue_right{
	background: #5AC9EC;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
p.circle_blue{
	width: 35.7px;
	height: 35.7px;
	background: #00B6EF;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
.day div.yellow_left{
	background: #E9BC18;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 10px 0 0 10px;
}
.day div.yellow_right{
	background: #E9BC18;
    height: 18.7px;
    width: 41.7px;
    margin: 9px 0;
    border-radius: 0 10px 10px 0;
}
p.circle_yellow{
	width: 35.7px;
	height: 35.7px;
	background: #FFCA0B;
	border-radius: 50%;
    margin: -9px 0 0 3px;
    color: #0B4EB5;
}
.eventDesc{
	background: #fff;
	border-radius: 23px;
	opacity: 0;
	transition: .5s;
}
.eventDesc{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    padding: 15px 50px;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: #fff;
	border-radius: 23px;
}
.yellow_desc{
	background: #FFCA0B;
	color: #2E27D9;
	text-align: center;
}
.eventDesc p{
	display: flex;
	align-items: center;
	color: #5B5B5E;
	cursor: default;
}
.eventDesc h2{
	cursor: default;
}
.dot_orange,
.dot_blue,
.dot_gradient,
.dot_yellow,
.dot_green{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 15px;
}
.dot_orange{
	background: #F48640;
}
.dot_blue{
	background: #00B6EF;
}
.dot_gradient{
	background: linear-gradient(139.82deg, #62FF00 18.61%, #FF6E40 93.24%);
}
.dot_yellow{
	background: #FFCA0B;
}
.dot_green{
	background: #89EF49;
}
.long{
	padding: 15px 30px;
}
.tall{
	height: 135px;
}
.fone4{
	background: url(../img/Fone4.png);
	width: 100%;
	height: 8000px;
	background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -2;
    margin-top: -700px;
}
.open_calendar{
	height: 500px;
	transition: .5s;
}
.opacity_calendar{
	opacity: 1;
	transition: .3s;
}
@media (max-width: 1440px) {
	.promoContent{
		height: 900px;
	}
	.contentBlockTwo_row__text p{
		font-size: 1.4vw;
	}
	.promoContent_info{
		margin: 5% 10%
	}
	.contentBlockOne_row{
		width: 65%;
	}
	.calc-body .f-row{
		width: 80%;
	}
	.contentBlockTwo_row__element,
	.contentBlockTwo_row__img{
		width: 330px;
	}
	.contentBlockThree_head__row{
		width: 60%;
	}
	.contentBlockThree_download .ios{
	    width: 331px;
    	height: 385px;
	}
	.contentBlockThree_download .ios a{
	    bottom: 125px;
    	left: 25%;
	}
	.contentBlockThree_download .android{
	    width: 331px;
    	height: 397px;
	}
	.contentBlockThree_download .android a{
		right: 23%;
		padding: 25px 50px;
	}
	.contentBlockThree_download{
		margin-top: 40px;
	}
	.contentBlockThree_head{
		margin-top: 170px;
	}
	.footer_row__left{
		margin-left: 10%;
		width: 50%;
	}
	.footer_row__right{
		width: 240px;
		height: 30%;
	}
	.contentBlockTwo_row__img{
		top: -270px;
	}
	.contentBlockTwo_row__head .img1{
		top: -210px;
	}
	.contentBlockTwo_row__head .img2{
		top: -260px;
	}
	.img1 img{
		height: 50%;
		width: 55%;
	}
	.img2 img{
		height: 65%;
	}
	.img3 img{
		height: 70%;
	}
	.menu_button{
		width: 145px;
		height: 145px;
	}
	.button_top__close{
		left: 49%;
		top: 7%;
	}
	.footer_row__left a{
		font-size: 1.2vw;
	}
}
@media (min-width: 993px) and (max-width: 1199px) {
	h1{
		font-size: 3.5vw;
	}
	.promoContent_info {
		width: 40%;
	}
	.contentBlockTwo_row{
		margin-top: 15%;
	}
	.contentBlockTwo_row__element{
		margin: 15% 0;
		height: 450px;
	}
	.contentBlockTwo_row__button a{
		font-size: 1.3vw;
	}
	.ele2{
		margin: 15% 5%;
	}
	.contentBlockThree_head{
		margin-top: 0px;
	}
	.contentBlockThree_laptop img{
		width: 85%;
	}
	.contentBlockThree_wallet img{
		width: 61%;
	}
	.contentBlockFife{
		width: 85%;
	}
	.footer_row__left{
		margin-left: 5%;
		width: 55%;
	}
	.footer_row__right{
		margin-right: 5%;
		height: 25%;
	}
	.footer_row__right h3{
		text-align: center;
	}
	.contentBlockFour{
		margin-top: 200px;
	}
	.contentBlockThree_download .ios{
		margin-right: 0;
		margin-bottom: 100px;
	}
	.contentBlockThree_download{
		flex-direction: column;
	}
	.contentBlockThree_download{
		margin-top: 150px;
	}
	.head_row__left,
	.head_row__right{
		width: 45%;
	}
	.contentBlockThree_head__row{
		width: 70%;
	}
	.footer_row__left a{
		font-size: 1.5vw;
	}
	.footer_row__right h3{
		font-size: 2vw;
	}
	.soc_icon img{
		width: 3vw;
		height: 3vw;
	}
	.calc_head p{
		font-size: 2.25vw;
	}
	.promoContent_info__up a{
		font-size: 1.5vw;
	}
	.promoContent_info__down a{
		font-size: 2.5vw;
	}
	.promoContent_info__up p{
		font-size: 2.5vw;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	h1{
		font-size: 3.5vw;
	}
	.promoContent_info__down a{
		font-size: 3vw;
	}
	.menu_button{
		width: 130px;
		height: 130px;
	}
	.button_top{
		top: 17%
	}
	.button_bottom{
		bottom: 45%;
	}
	.button_top__close{
		top: 4%;
	}
	.promoContent_info__up p{
		font-size: 3vw;
	}
	.promoContent_info__up a{
		font-size: 2vw;
	}
	.contentBlockTwo_row__button a {
    	font-size: 1.3vw;
	}
	.contentBlockTwo_row__text p{
		font-size: 2vw;
	}
	.contentBlockTwo_row__head h2{
		font-size: 3vw;
	}
	.contentBlockTwo_row__head h6{
		font-size: 1.8vw;
	}
	.calc_head p{
		font-size: 2.25vw;
	}
	.promoContent{
		height: 800px;
	}
	.promoContent_info {
		width: 50%;
		margin: 5%;
	}
	.contentBlockOne_row{
		width: 85%;
	}
	.contentBlockTwo_row{
		margin-top: 15%;
	}
	.contentBlockTwo_row__element{
		margin: 20% 0;
		height: 450px;
	}
	.ele2{
		margin: 20% 3%;
	}
	.contentBlockThree_head{
		margin-top: 0px;
	}
	.contentBlockThree_laptop img{
		width: 95%;
	}
	.contentBlockThree_wallet img{
		width: 70%;
	}
	.contentBlockFife{
		width: 85%;
	}
	.footer_row__left{
		margin: 0 5%;
		width: 90%;
	}
	.footer_row__right{
		margin-right: 5%;
	}
	.contentBlockFour{
		margin-top: 200px;
	}
	.contentBlockThree_download .ios{
		margin-right: 0;
		margin-bottom: 100px;
	}
	.contentBlockThree_download{
		flex-direction: column;
	}
	.contentBlockThree_download{
		margin-top: 150px;
	}
	.head_row__left,
	.head_row__right{
		width: 45%;
	}
	.contentBlockThree_head__row{
		width: 70%;
	}
	.contentBlockFour_ui{
		margin-top: 30px;
	}
	.calendar{
		height: 125px;
	}
	.month{
		display: none;
		transition: 1s;
	}
	.m1{
		display: flex;
	}
	.arrow_calendar__left,
	.arrow_calendar__right{
		display: flex;
		cursor: pointer;
	}
	.month_left{
		display: flex;
		position: absolute;
		left: -900px;
    	transition: 1s;
	}
	.month_middle{
		display: flex;
		position: absolute;
		left: 50%;
    	transform: translateX(-50%);
    	transition: 1s;
	}
	.month_right{
		display: flex;
		position: absolute;
    	left: 900px;
    	transition: 1s;
	}
	footer{
		height: 230px;
		background: url(../img/Footer2.png);
	}
	.footer_row__right{
		height: 25%;
	}
	.footer_row__right h3{
		text-align: center;
		font-size: 2vw;
	}
	.soc_icon img{
		width: 2.5vw;
		height: 2.5vw;
	}
	.footer_row__left a{
		font-size: 1.8vw;
	}
}
@media (max-width: 767px) {
	h1{
		font-size: 24px;
	}
	p{
		font-size: 16px;
	}
	.promoContent_info__down a{
		font-size: 18px;
		padding: 20px 80px;
	}
	.menu_button{
		width: 130px;
		height: 130px;
	}
	.button_top{
		top: 17%
	}
	.button_bottom{
		bottom: 45%;
	}
	.button_top__close{
		top: 4%;
	}
	.contentBlockThree_head h2{
		font-size: 18px;
	}
	.promoContent_info__up p{
		font-size: 18px;
	}
	.promoContent_info__up a{
		font-size: 12px;
		padding: 20px 60px;
		margin-top: 10%;
    	margin-bottom: 13%;
	}
	.contentBlockTwo_row__button a {
    	font-size: 16px;
	}
	.contentBlockTwo_row__text p{
		font-size: 16px;
	}
	.contentBlockTwo_row__head h2{
		font-size: 22px;
	}
	.contentBlockTwo_row__head h6{
		font-size: 14px;
	}
	.calc_head p{
		font-size: 14px;
	}
	.promoContent{
		height: 650px;
	}
	.promoContent_info {
		width: 50%;
		margin: 5%;
	}
	.contentBlockOne_row{
		width: 85%;
	}
	.contentBlockTwo_row{
		margin-top: 15%;
	}
	.contentBlockTwo_row__element{
		margin: 30% 0;
		height: 450px;
	}
	.ele2{
		margin: 30% 3%;
	}
	.contentBlockThree_head{
		margin-top: 0px;
	}
	.lap1{
		display: none;
	}
	.lap2{
		display: block;
	}
	.contentBlockThree_laptop img{
		width: 60%;
	}
	.contentBlockThree_wallet img{
		width: 70%;
		margin-left: 0;
		margin-top: 5%;
	}
	.wall1{
		display: none;
	}
	.wall2{
		display: block;
	}
	.contentBlockFife{
		width: 85%;
	}
	.footer_row__left{
		margin: 0 5%;
		width: 90%;
	}
	.footer_row__right{
		margin-right: 5%;
	}
	.contentBlockFour{
		margin-top: 200px;
	}
	.contentBlockThree_download .ios{
		margin-right: 0;
		margin-bottom: 100px;
	}
	.contentBlockThree_download{
		flex-direction: column;
	}
	.contentBlockThree_download{
		margin-top: 150px;
	}
	.head_row__left,
	.head_row__right{
		width: 45%;
	}
	.contentBlockThree_head__row{
		width: 95%;
	}
	.contentBlockFour_ui{
		margin-top: 30px;
	}
	.calendar{
		height: 125px;
	}
	.month{
		display: none;
		transition: 1s;
	}
	.m1{
		display: flex;
	}
	.arrow_calendar__left,
	.arrow_calendar__right{
		display: flex;
		cursor: pointer;
	}
	.month_left{
		display: flex;
		position: absolute;
		left: -900px;
    	transition: 1s;
	}
	.month_middle{
		display: flex;
		position: absolute;
		left: 50%;
    	transform: translateX(-50%);
    	transition: 1s;
	}
	.month_right{
		display: flex;
		position: absolute;
    	left: 900px;
    	transition: 1s;
	}
	footer{
		height: 500px;
	    background-position: center;
	    background: url(../img/Footer2.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.verHr{
		display: none;
	}
	.footer_row{
		flex-direction: column;
		align-items: center;
	}
	.footer_row__right{
		height: 25%;
		margin:0 0 5% 20%;
	}
	.footer_row__right h3{
		text-align: center;
		font-size: 24px;
	}
	.soc_icon img{
	    width: 35px;
    	height: 35px;
	}
	.footer_row__left a{
		font-size: 16px;
	}
	.ui2{
		display: block;
	}
	.ui1{
		display: none;
	}
	.fone4{
		margin-top: -1630px;
	}
	.contentBlockFour_head{
		display: none;
	}
	.month{
		margin: 0;
	}
	.footer_row__left{
		display: none;
	}
	.footer_row__left-mobile{
		display: flex;
		height: 100%;
		width: 70%;
		justify-content: space-between;
	}
	.footer_row__left-mobile .Hr{
		height: 80%;
		width: 2px;
		background: #ffffff6b;
		margin-top: 5%;
	}
	.footer_left__column{
		height: 80%;
		margin-top: 5%;
	}
	.footer_left__column a{
		font-size: 18px;
	}
}
@media (max-width: 480px) {
	.menu_button{
		width: 100px;
		height: 100px;
	}
	.button_top{
		left: 49%;
		top: 8%;
	}
	.button_bottom{
		right: 21%;
		bottom: 36%;
	}
	.button_top__close{
		left: 43%;
		top: -4%;
	}
	.promoContent{
		background: url(../img/Promo_background__small.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 1px -1px;
	}
	.promoContent_logo{
		display: none;
	}
	.promoContent_info{
		width: 80%;
		margin: 80% 10% 10% 10%;
	}
	.promoContent_info__up p{
		width: 60%;
		font-size: 20px;
	}
	.contentBlockOne{
		margin-top: -200px;
	}
	.calc_head{
		width: 95%;
		margin: 10% 0 5% 0;
	}
	.contentBlockTwo{
		margin-top: 80px;
	}
	.contentBlockTwo_row{
		margin-top: 30%;
	}
	.contentBlockTwo_row__element{
		width: 90%;
	}
	.ele2{
		margin: 50% 3%;
	}
	.contentBlockThree_head__row{
		flex-direction: column;
	}
	.head_row__left,
	.head_row__right{
		width: 90%;
    	align-self: center;
	}
	.head_row__right{
		margin-top: 60px;
	}
	.contentBlockThree_laptop{
		margin-top: 50px;
	}
	.contentBlockThree_laptop img{
		width: 80%;
	}
	.contentBlockThree_wallet img{
		width: 80%;
	}
	.contentBlockThree_download{
		align-items: center;
		margin-top: 60px;
	}
	.contentBlockThree_download .ios{
		width: 270px;
    	height: 314px;
	}
	.contentBlockThree_download .ios a{
	    bottom: 95px;
    	left: 25%;
    	padding: 20px 60px;
	}
	.contentBlockThree_download .android{
		width: 270px;
		height: 324px;
	}
	.contentBlockThree_download .android a{
		right: 23%;
		padding: 20px 35px;
	}
	.contentBlockFour{
		margin-top: 100px;
	}
	.contentBlockFife{
		width: 95%;
		border-radius: 20px;
	}
	.footer_left__column a{
		font-size: 16px;
	}
	.footer_row__left-mobile{
		width: 90%;
	}
	.footer_row__right{
		height: 20%;
	}
	.footer_row__right h3{
		font-size: 20px;
	}
	.fone2{
		height: 4800px;
	}
	.contentBlockFife h1{
		padding: 0 10px;
	}

	.month{
		width: 290px;
	}
	.week{
		width: 95%;
	}
	.day{
		width: 95%;
	}
	.day p{
		width: 38.7px;
	}
	p.circle_green{
		margin: -9px 0 0 1.5px;
	}
	p.circle_blue{
		margin: -9px 0 0 1.5px;
	}
	p.circle_yellow{
		margin: -9px 0 0 1.5px;
	}
	p.circle_orange{
		margin: -9px 0 0 1.5px;
	}
	p.circle_gradient{
		margin: -9px 0 0 1.5px;
	}
	.day div.green_left,
	.day div.green_right,
	.day div.orange_left,
	.day div.orange_right,
	.day div.yellow_left,
	.day div.yellow_right,
	.day div.blue_right,
	.day div.blue_left{
		width: 38.7px;
	}
}