.sliderLeft{
    position: absolute;
    left:-120%;
}
.sliderRight{
    position: absolute;
    left:120%;
}
.sliderActive{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    opacity: 1;
}
