*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
li{
	font-family: 'Roboto';
	font-size: 16px;
	color: #666;
}
h1{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 48px;
	text-align: center;
}
h2{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 24px;
	text-align: center;
}
h3{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	color: #666;
}
p{
	font-family: 'Roboto';
	font-size: 16px;
	color: #666;
}
a{
	text-decoration: none;
	color: #666;
}
body{
	overflow-x: hidden;
}
.wrapper{
	display: flex;
	flex-direction: column;
	width: 100vw;
	overflow-x: hidden;
}
.promoContent{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../img/background.svg);
	background-size: contain;
	background-repeat: no-repeat;

}
.promoContent_menuButton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14%;
	height: 60px;
	border-radius: 0 0 20px 20px;
	background: #FDB900;
}
.promoContent_menuButton img{
	height: 20px;
}
.promoContent_logo{
	align-self: flex-start;
	height: 12%;
	margin-left: 5%;
}
.promoContent_logo img{
	height: 100%;
}
.promoContent_text h1{
	color: #FDB900;
	text-align: center;
}
.promoContent_text p{
	color: #fff;
	text-align: center;
}
.contentBlockOne{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}
.contentBlock_h1{
	display: flex;
	overflow-x: hidden;
	width: 100vw;
}
.leftMark {
	width: 15%;
}
.contentBlock_h1 h1{
	margin-left: 35%;
    transform: translate(-50%, 0);
}
.contentBlockOne_rollBlockRow{
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-items: center;
}
.rollBlockRow_block{
	height: 300px;
	position: relative;
	overflow: hidden;
    border-radius: 25px;
}
.rollBlockRow_block img{
	height: 100%;
}
.rollBlockRow_block_text{
	color: #fff;
    position: absolute;
    width: 100%;
    border-radius: 25px;
    background: #125DA7;
    text-align: center;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25%;
    transition: 2s;
}
.rollBlockRow_block:hover .rollBlockRow_block_text{
	margin-top: -0;
	transition: .3s;
}
.contentBlockTwo_text{
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contentBlockTwo{
	display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.contentBlockTwo_row{
	width: 70%;
	display: flex;
	margin-top: 5%;
}
.contentBlockTwo_right__text{
	display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -8%;
    color: #666;
}
.contentBlockTwo_right__button{
	display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    position: relative;
}
.contentBlockTwo_button__yellow{
	position: absolute;
	top: 0;
	transition: .3s;
	left: 50%;
	transform: translate(-50%, 0);
	width: 75%;
}
.contentBlockTwo_button__blue{
	position: absolute;
	bottom: 0;
	transition: .3s;
	left: 50%;
	transform: translate(-50%, 0);
	width: 75%;
}
.contentBlockTwo_button__yellow a{
	color: #FDB900;
	font-family: 'Roboto';
	font-size: 20px;
	padding: 15px 80px;
	border-radius: 10px;
	box-shadow: 0px 5px #ccc;
	border: 2px solid #FDB900;
	transition: .3s;
}
.contentBlockTwo_button__blue a{
	color: #122861;
	font-family: 'Roboto';
	font-size: 20px;
	padding: 15px 70px;
	border-radius: 10px;
	box-shadow: 0px 5px #ccc;
	border: 2px solid #122861;
	transition: .3s;
}
.contentBlockTwo_button__yellow a:hover{
	box-shadow: none;
	transition: .3s;
}
.contentBlockTwo_button__yellow:hover{
	box-shadow: none;
	transition: .3s;
	top: 5px;
}
.contentBlockTwo_button__blue a:hover{
	box-shadow: none;
	transition: .3s;
}
.contentBlockTwo_button__blue:hover{
	box-shadow: none;
	transition: .3s;
	bottom: -5px;
}
.contentBlockTwo_h2{
	margin-top: 5%;
	height: 30vh;
    position: relative;
}
.contentBlockTwo_SingButton{
	margin: 5% 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5px;
    transition: .3s;
}
.contentBlockTwo_SingButton a{
	margin-top: 20px;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	font-family: 'Roboto';
	padding: 15px 80px;
	border-radius: 10px;
	box-shadow: 0px 5px #ccc;
	background: #FDB900;
	transition: .3s;
}
.contentBlockTwo_SingButton:hover{
	bottom: 0;
	transition: .3s;
}
.contentBlockTwo_SingButton a:hover{
	box-shadow: none;
	transition: .3s;
}
.contentBlockThree{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: space-around;
}
.contentBlockThree_row{
	display: flex;
	width: 75%;
	justify-content: space-between;
}
.contentBlockThree_row__left{
	width: 35vw;
    height: 85%;
    align-self: center;
}
.contentBlockThree_row__left img{
	height: 100%;
}
.contentBlockThree_right__list{
	height: 70%;
}
.contentBlockThree_right__list ul{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentBlockThree_right__list li{
	display: flex;
	position: relative;
}
.contentBlockThree_right__list li span{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.contentBlockThree_row__right{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    align-self: center;
}
.contentBlockThree_row__right h3{
	text-align: left;
}
.circle{
	display: block;
	height: 16px;
	width: 16px;
	border: 2px solid #122861;
	border-radius: 50%;
	margin-left: -30px;
}
.contentBlockThree_buttons{
	position: relative;
	width: 80%;
	height: 58px;
    display: flex;
    justify-content: space-around;
}
.contentBlockThree_buttons a{
	transition: .3s;
	font-family: 'Roboto';
    padding: 17px 80px;
    font-weight: 500;
    box-shadow: 0px 5px #ccc;
}
.contentBlockThree_buttons a:hover{
	margin-top: 5px;
	transition: .3s;
	box-shadow: none;
}
.contentBlockThree_button__blue{
	color: #122861;
	border: 2px solid #122861;
	border-radius: 10px;
}
.contentBlockThree_button__yellow{
	color: #FDB900;
	border: 2px solid #FDB900;
	border-radius: 10px;
}
.contentBlockFour{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.contentBlockFour_img{
	margin-top: 3%;
}
.contentBlockFour_img img{
	height: 100%;
}
.contentBlockFour_text{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contentBlockFour_text p{
	width: 50%;
	text-align: center;
	margin: 1% 0;
}
.contentBlockFour_img__under{
	position: relative;
    margin-top: 5%;
}
.contentBlockFour_img__under h2{
	color: #122861;
	position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
}
.contentBlockFour_buttons{
	width: 30%;
}
.contentBlockFour_buttons__SingButton{
	display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.contentBlockFour_button__yellow{
	color: #FDB900;
	font-family: 'Roboto';
	font-size: 20px;
	padding: 15px 80px;
	border-radius: 10px;
	box-shadow: 0px 5px #ccc;
	border: 2px solid #FDB900;
	transition: .3s;
}
.contentBlockFour_button__yellow:hover{
	margin-top: 5px;
	transition: .3s;
	box-shadow: none;
}
.contentBlockFife{
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.contentBlockFife_row{
	display: flex;
	margin-top: 3%;
	width: 75%;
    align-self: center;
    justify-content: space-between;
}
.contentBlockFife_row__left{
	height: 80vh;
}
.contentBlockFife_row__left img{
	height: 100%;
}
.contentBlockFife_row__right{
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}
.contentBlockFife_text p{
	margin-top: 3%;
}
.contentBlockFife_h3{
	padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 8px 8px #85ACD6;
}
.contentBlockFife_h3 h3{
	color: #122861;
}
.contentBlockFife_button{
	transition: .3s;
	position: relative;
}
.contentBlockFife_button a{
	color: #fff;
	font-family: 'Roboto';
	font-size: 20px;
	padding: 15px 80px;
	border-radius: 10px;
	box-shadow: 0px 5px #ccc;
	background: #FDB900;
	transition: .3s;
	position: absolute;
}
.contentBlockFife_button a:hover{
	box-shadow: none;
	transition: .3s;
	margin-top: 5px;
}
.contentBlockSix{
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.contentBlockSix_img{
	display: flex;
	justify-content: center;
	margin-top: 3%;
}
.contentBlockSix_row{
	display: flex;
    width: 70%;
    align-self: center;
    justify-content: space-between;
    margin-top: 25px;
}
.contentBlockSix_row__info{
	width: 30%;
	display: flex;
    flex-direction: column;
    height: 45vh;
    box-shadow: 5px 8px #85ACD6;
    border-radius: 20px;
}
.contentBlockSix_row__info p{
	margin-top: 20px;
	text-align: center;
	padding: 0px 20px;
}
.contentBlockSix_button{
	transition: .3s;
	align-self: center;
	margin-top: 50px;
	position: relative;
	width: 100%;
}
.contentBlockSix_button a{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	color: #fff;
	font-family: 'Roboto';
	font-size: 20px;
	padding: 15px 80px;
	border-radius: 10px;
	box-shadow: 0px 5px #ccc;
	background: #FDB900;
	transition: .3s;
}
.contentBlockSix_button a:hover{
	top: 5px;
	transition: .3s;
	box-shadow: none;
}
.contentBlockSix_underButton_text{
	display: flex;
    justify-content: center;
    margin-top: 80px;
}
.contentBlockSeven{
	background: url(../img/Comment.svg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 35vh;
	margin-top: 5%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.contentBlockSeven_text{
	display: flex;
    flex-direction: column;
}
.contentBlockSeven_text p{
	color: #fff;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 24px;
}
.contentBlockSeven_text img{
	width: fit-content;
}
.contentBlockSeven_text img:first-child{
	margin-left: -60px;
}
.contentBlockSeven_text img:last-child{
	align-self: flex-end;
	margin-right: -60px;
}