.promoContent {
    overflow: inherit;
}
.promoContent .container {
    height: 70vh;
    overflow: inherit;
    background: #fff;
}
.promoContent .container .img {
    width: 70%;
    max-width: 1200px;
    margin: 10% auto 0;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 200%;
    z-index: 10;
    background-color: #ffffff;
    position: fixed;
    transition: .7s;
}
.modal_active{
    left: 0;
}
.modal_svg_top, .modal_svg_bottom{
    width: 139px;
    position: absolute;
    z-index: 1;
}
.modal_svg_left{
    width: 181px;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: -5%;
}
.modal_svg_right{
    width: 181px;
    position: absolute;
    z-index: 1;
    top: 40%;
    right: -5%;
}
.modal_svg_top{
    top: 0;
    left: 0;
}
.modal_svg_bottom{
    bottom: 0;
    right: 0;
}
.model_header{
    width: 90%;
    position: relative;
    z-index: 20;
    max-width: 1000px;
}
.model_header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.model_header_h2{
    font-weight: 800;
    line-height: 100%;
    font-size: 1em;
    color: #542AC8;
    width: 70%;
}
.model_header_logo{
    width: 20%;
}
.model_header_bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.modal_text{

    display: none;
    width: 90%;
    max-width: 1000px;
    height: 80vh;
    position: relative;
    background: #FFFFFF;
    border: 2px solid #DCDBFF;
    padding: 20px 0;
    border-radius: 4px;
    z-index: 20;
    overflow-y: scroll;
}
.modal_text p a{
    color: #542AC8;
}
.modal_text h3{
    position: relative;
    color: #542AC8;
    display: flex;
    text-transform: uppercase;
    align-items: center;
}
.modal_text h3 span{
    background: #8C46FF;
    border-radius: 0 4px 4px 4px;
    color: #ffffff;
    padding: 4px 8px;
    margin-right: 15px;
    font-size: 1em;
    line-height: 1em;
}
.modal_text p{
    margin: 10px 35px;
}

.img img {
    width: 100%
}
.doc_li .container {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    padding: 0 5%}
.doc_ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.doc_ul_item {
    min-width: 30px;
    width: 30%;
    margin-bottom: 30px;
}
.doc_ul_item:nth-child(3n) {
    margin-right: 0;
}
.doc_ul_item_a {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 300px;
    background: #fff;
    box-shadow: 0 4px 15px #cbd2dd, 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 7px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    transition: all .7s;
}
.doc_ul_item_a:hover {
    background-color: #6231d6;
}
.doc_ul_item_a:hover .item_svg path {
    fill: #fff;
    stroke: #fff;
}
.item_svg {
    margin-bottom: 50px;
}
.item_svg svg {
    height: 65px;
}
.doc_ul_item_a p {
    text-align: center;
    font-family: Gilroy-Light;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    transition: all .7s;
    color: #3d3d50;
}
.doc_ul_item_a:hover p {
    color: #fff;
}
.item_footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.doc_ul_item_svg {
    background: none;
    box-shadow: none;
}
.doc_ul_item_svg svg {
    width: 100%}
.bottom {
    padding: 50px 5%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    max-width: 1450px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.bottom h2, .bottom h5 {
    font-family: Gilroy-Thin;
}
.bottom_right {
    width: 30%}
.bottom_right img {
    width: 100%}
@media (max-width:1200px) {
    .doc_ul {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .doc_ul_item_svg {
        display: none;
    }
}@media (max-width:992px) {
    .promoContent {
        height: auto;
        min-height: auto;
        margin-bottom: 100px;
    }
    .promoContent .container {
        height: auto;
    }
    .promoContent .container .img {
        width: 90%}
}@media (max-width:768px) {
    .bottom {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .bottom_right {
        width: 50%;
        margin: auto;
    }
}@media (max-width:480px) {
    .bottom_right {
        width: 90%;
        margin: auto;
    }
    .doc_ul_item {
        min-width: 250px;
    }
}