.promoContent, .promoContent .container{
    min-height: 10vh;
    height: auto;
}
.categories {
    width: 100%;
}
.categories .container{
    width: 90%;
    margin: 0 auto;
}
.categories_ul{

}
.order{
    font-size: 48px;
    line-height: 70%;
}
.categories_ul li{
    position: relative;
    width: 100%;
    margin-bottom: 150px;
}
.categories_ul li p{
    text-align: right;
}
.categories_ul li img{
    border-radius: 4px;
    width: 100%;
}
.categories_ul li div{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 35px 25px 15px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 27px;
    bottom: 0;
    right: 10%;
    transform: translateY(50%);
}
.categories_ul li div h2{
    text-transform: uppercase;
    /* border-left:2px solid #542AC8; */
    padding-left: 30px;
    margin-bottom: 20px;
    color: #000000;
    position: relative;
}
.categories_ul li div h2::before{
    content: '';
    display: block;
    width: 2px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #542AC8;
}
.categories_ul li div a{
    color: #542AC8;
    padding-left: 30px;
    font-family: 'Gilroy-Bold';
}

@media (max-width: 1400px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}